
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/classofc_creature' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/classofc_creature/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>classofc_creature</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_classofc_creature/'>Return to classofc_creature list</a> </li>
{{^is_new}}
<li> <a href='/DURC/classofc_creature/create'>Create new classofc_creature </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}' >
    </div>
  </div>

  <div class='form-group row {{classofc_id_row_class}}'>
    <label for='classofc_id' class='col-sm-4 col-form-label'>classofc_id</label>
    <div class='col-sm-8'>
	Current id value: {{classofc_id}} (see below for lookup value)<br>
	<select class='select2_classofc_id form-control' id='classofc_id' name='classofc_id'  >
	<option value='{{classofc_id}}' selected='selected'>{{classofc_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_classofc_id').select2({
  ajax: {
    	url: '/DURC/searchjson/classofc',
	delay: 1000,
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{creature_id_row_class}}'>
    <label for='creature_id' class='col-sm-4 col-form-label'>creature_id</label>
    <div class='col-sm-8'>
	Current id value: {{creature_id}} (see below for lookup value)<br>
	<select class='select2_creature_id form-control' id='creature_id' name='creature_id'  >
	<option value='{{creature_id}}' selected='selected'>{{creature_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_creature_id').select2({
  ajax: {
    	url: '/DURC/searchjson/creature',
	delay: 1000,
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/classofc_creature/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='classofc_creature' class='do-soft-delete btn btn-outline-danger'>Hard Delete classofc_creature</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    classofc ( <a href='/DURC/classofc/'>see all</a> )
{{^classofc}}
(no values)
{{/classofc}}
  </div>
<div class='card-body'>
<table id='table_classofc' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_name </th>
			<th> classofc_img_uri </th>
			<th> classofc_wiki_url </th>
			<th> is_mega_class </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc/{{id}}'>{{id}}</a></td>
			<td>{{classofc_name}}</td>
			<td>{{classofc_img_uri}}</td>
			<td>{{classofc_wiki_url}}</td>
			<td>{{is_mega_class}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/classofc}}
</tbody>
</table>
</div></div> <!-- end classofc card-->

<div class='card'>
  <div class='card-header'>
    creature ( <a href='/DURC/creature/'>see all</a> )
{{^creature}}
(no values)
{{/creature}}
  </div>
<div class='card-body'>
<table id='table_creature' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> creature_name </th>
			<th> creature_image_uri </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#creature}}
	<tr>
		{{#.}}
			<td><a href='/DURC/creature/{{id}}'>{{id}}</a></td>
			<td>{{creature_name}}</td>
			<td>{{creature_image_uri}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/creature}}
</tbody>
</table>
</div></div> <!-- end creature card-->
</div></div> <!--end belongs to card-->
<br>
