
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/test_default_date' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/test_default_date/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>test_default_date</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_test_default_date/'>Return to test_default_date list</a> </li>
{{^is_new}}
<li> <a href='/DURC/test_default_date/create'>Create new test_default_date </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{datetime_none_row_class}}'>
    <label for='datetime_none' class='col-sm-4 col-form-label'>datetime_none</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.datetime_none.has_errors}}is-invalid{{/errors.datetime_none.has_errors}}' id='datetime_none' name='datetime_none' placeholder='' value='{{datetime_none}}' >

<button type='button' class='btn btn-primary' id='datetime_none_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='datetime_none_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.datetime_none.messages}}<li>{{.}}</li>{{/errors.datetime_none.messages}}
  </ul>
</div><script>
	var datetime_noneConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#datetime_none_TodayNow').click( function(e) {
      		$('#datetime_none').val(datetime_noneConv.format(new Date())).change(); } );

    	$('#datetime_none_FontPicker').click(
      		function(e) {
        		$('#datetime_none').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{date_none_row_class}}'>
    <label for='date_none' class='col-sm-4 col-form-label'>date_none</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.date_none.has_errors}}is-invalid{{/errors.date_none.has_errors}}' id='date_none' name='date_none' placeholder='' value='{{date_none}}' >
        
    <button type='button' class='btn btn-primary' id='date_none_FontPicker'>
    <img src='/css/ic_today_black_24dp_1x.png'> 
    </button>
    <button type='button' class='btn btn-primary' id='date_none_TodayNow'> Today </button>
    <div class='invalid-feedback'>
      <ul>
      {{#errors.date_none.messages}}<li>{{.}}</li>{{/errors.date_none.messages}}
      </ul>
   </div>
   <script>
	var date_noneConv = new AnyTime.Converter({format: '%Y-%m-%d'});
  	$('#date_none_TodayNow').click( function(e) {
      		$('#date_none').val(date_noneConv.format(new Date())).change(); } );

    	$('#date_none_FontPicker').click(
      		function(e) {
        		$('#date_none').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
    </script>

    </div></div>
  <div class='form-group row {{datetime_current_row_class}}'>
    <label for='datetime_current' class='col-sm-4 col-form-label'>datetime_current</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.datetime_current.has_errors}}is-invalid{{/errors.datetime_current.has_errors}}' id='datetime_current' name='datetime_current' placeholder='current_timestamp()' value='{{datetime_current}}' >

<button type='button' class='btn btn-primary' id='datetime_current_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='datetime_current_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.datetime_current.messages}}<li>{{.}}</li>{{/errors.datetime_current.messages}}
  </ul>
</div><script>
	var datetime_currentConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#datetime_current_TodayNow').click( function(e) {
      		$('#datetime_current').val(datetime_currentConv.format(new Date())).change(); } );

    	$('#datetime_current_FontPicker').click(
      		function(e) {
        		$('#datetime_current').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{date_current_row_class}}'>
    <label for='date_current' class='col-sm-4 col-form-label'>date_current</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.date_current.has_errors}}is-invalid{{/errors.date_current.has_errors}}' id='date_current' name='date_current' placeholder=''Current timestamp not supported for date'' value='{{date_current}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.date_current.messages}}<li>{{.}}</li>{{/errors.date_current.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='date_current' name='date_currentNull' id='date_currentNull' value='date_currentNull' {{date_current_checked}}>
                    <label class='form-check-label' for='date_currentNull'>null</label>
                </div></div>
  <div class='form-group row {{datetime_null_row_class}}'>
    <label for='datetime_null' class='col-sm-4 col-form-label'>datetime_null</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.datetime_null.has_errors}}is-invalid{{/errors.datetime_null.has_errors}}' id='datetime_null' name='datetime_null' placeholder='NULL' value='{{datetime_null}}' >

<button type='button' class='btn btn-primary' id='datetime_null_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='datetime_null_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.datetime_null.messages}}<li>{{.}}</li>{{/errors.datetime_null.messages}}
  </ul>
</div><script>
	var datetime_nullConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#datetime_null_TodayNow').click( function(e) {
      		$('#datetime_null').val(datetime_nullConv.format(new Date())).change(); } );

    	$('#datetime_null_FontPicker').click(
      		function(e) {
        		$('#datetime_null').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='datetime_null' name='datetime_nullNull' id='datetime_nullNull' value='datetime_nullNull' {{datetime_null_checked}}>
                    <label class='form-check-label' for='datetime_nullNull'>null</label>
                </div></div>
  <div class='form-group row {{date_null_row_class}}'>
    <label for='date_null' class='col-sm-4 col-form-label'>date_null</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.date_null.has_errors}}is-invalid{{/errors.date_null.has_errors}}' id='date_null' name='date_null' placeholder='NULL' value='{{date_null}}' >
        
    <button type='button' class='btn btn-primary' id='date_null_FontPicker'>
    <img src='/css/ic_today_black_24dp_1x.png'> 
    </button>
    <button type='button' class='btn btn-primary' id='date_null_TodayNow'> Today </button>
    <div class='invalid-feedback'>
      <ul>
      {{#errors.date_null.messages}}<li>{{.}}</li>{{/errors.date_null.messages}}
      </ul>
   </div>
   <script>
	var date_nullConv = new AnyTime.Converter({format: '%Y-%m-%d'});
  	$('#date_null_TodayNow').click( function(e) {
      		$('#date_null').val(date_nullConv.format(new Date())).change(); } );

    	$('#date_null_FontPicker').click(
      		function(e) {
        		$('#date_null').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
    </script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='date_null' name='date_nullNull' id='date_nullNull' value='date_nullNull' {{date_null_checked}}>
                    <label class='form-check-label' for='date_nullNull'>null</label>
                </div></div>
  <div class='form-group row {{datetime_defined_row_class}}'>
    <label for='datetime_defined' class='col-sm-4 col-form-label'>datetime_defined</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.datetime_defined.has_errors}}is-invalid{{/errors.datetime_defined.has_errors}}' id='datetime_defined' name='datetime_defined' placeholder=''2000-01-01 01:23:45'' value='{{datetime_defined}}' >

<button type='button' class='btn btn-primary' id='datetime_defined_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='datetime_defined_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.datetime_defined.messages}}<li>{{.}}</li>{{/errors.datetime_defined.messages}}
  </ul>
</div><script>
	var datetime_definedConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#datetime_defined_TodayNow').click( function(e) {
      		$('#datetime_defined').val(datetime_definedConv.format(new Date())).change(); } );

    	$('#datetime_defined_FontPicker').click(
      		function(e) {
        		$('#datetime_defined').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{date_defined_row_class}}'>
    <label for='date_defined' class='col-sm-4 col-form-label'>date_defined</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.date_defined.has_errors}}is-invalid{{/errors.date_defined.has_errors}}' id='date_defined' name='date_defined' placeholder=''2000-01-01'' value='{{date_defined}}' >
        
    <button type='button' class='btn btn-primary' id='date_defined_FontPicker'>
    <img src='/css/ic_today_black_24dp_1x.png'> 
    </button>
    <button type='button' class='btn btn-primary' id='date_defined_TodayNow'> Today </button>
    <div class='invalid-feedback'>
      <ul>
      {{#errors.date_defined.messages}}<li>{{.}}</li>{{/errors.date_defined.messages}}
      </ul>
   </div>
   <script>
	var date_definedConv = new AnyTime.Converter({format: '%Y-%m-%d'});
  	$('#date_defined_TodayNow').click( function(e) {
      		$('#date_defined').val(date_definedConv.format(new Date())).change(); } );

    	$('#date_defined_FontPicker').click(
      		function(e) {
        		$('#date_defined').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
    </script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/test_default_date/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='test_default_date' class='do-soft-delete btn btn-outline-danger'>Hard Delete test_default_date</button>
</form>
              </div>
            </div>


<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
