
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/funnything' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/funnything/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>funnything</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_funnything/'>Return to funnything list</a> </li>
{{^is_new}}
<li> <a href='/DURC/funnything/create'>Create new funnything </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{thisint_row_class}}'>
    <label for='thisint' class='col-sm-4 col-form-label'>thisint</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisint.has_errors}}is-invalid{{/errors.thisint.has_errors}}' id='thisint' name='thisint' placeholder='NULL' value='{{thisint}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thisint.messages}}<li>{{.}}</li>{{/errors.thisint.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisint' name='thisintNull' id='thisintNull' value='thisintNull' {{thisint_checked}}>
                    <label class='form-check-label' for='thisintNull'>null</label>
                </div></div>
  <div class='form-group row {{thisfloat_row_class}}'>
    <label for='thisfloat' class='col-sm-4 col-form-label'>thisfloat</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisfloat.has_errors}}is-invalid{{/errors.thisfloat.has_errors}}' id='thisfloat' name='thisfloat' placeholder='NULL' value='{{thisfloat}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thisfloat.messages}}<li>{{.}}</li>{{/errors.thisfloat.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisfloat' name='thisfloatNull' id='thisfloatNull' value='thisfloatNull' {{thisfloat_checked}}>
                    <label class='form-check-label' for='thisfloatNull'>null</label>
                </div></div>
  <div class='form-group row {{thisdecimal_row_class}}'>
    <label for='thisdecimal' class='col-sm-4 col-form-label'>thisdecimal</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisdecimal.has_errors}}is-invalid{{/errors.thisdecimal.has_errors}}' id='thisdecimal' name='thisdecimal' placeholder='NULL' value='{{thisdecimal}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thisdecimal.messages}}<li>{{.}}</li>{{/errors.thisdecimal.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisdecimal' name='thisdecimalNull' id='thisdecimalNull' value='thisdecimalNull' {{thisdecimal_checked}}>
                    <label class='form-check-label' for='thisdecimalNull'>null</label>
                </div></div>
  <div class='form-group row {{thisvarchar_row_class}}'>
    <label for='thisvarchar' class='col-sm-4 col-form-label'>thisvarchar</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisvarchar.has_errors}}is-invalid{{/errors.thisvarchar.has_errors}}' id='thisvarchar' name='thisvarchar' placeholder='NULL' value='{{thisvarchar}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thisvarchar.messages}}<li>{{.}}</li>{{/errors.thisvarchar.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisvarchar' name='thisvarcharNull' id='thisvarcharNull' value='thisvarcharNull' {{thisvarchar_checked}}>
                    <label class='form-check-label' for='thisvarcharNull'>null</label>
                </div></div>
  <div class='form-group row {{thisdate_row_class}}'>
    <label for='thisdate' class='col-sm-4 col-form-label'>thisdate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisdate.has_errors}}is-invalid{{/errors.thisdate.has_errors}}' id='thisdate' name='thisdate' placeholder='NULL' value='{{thisdate}}' >
        
    <button type='button' class='btn btn-primary' id='thisdate_FontPicker'>
    <img src='/css/ic_today_black_24dp_1x.png'> 
    </button>
    <button type='button' class='btn btn-primary' id='thisdate_TodayNow'> Today </button>
    <div class='invalid-feedback'>
      <ul>
      {{#errors.thisdate.messages}}<li>{{.}}</li>{{/errors.thisdate.messages}}
      </ul>
   </div>
   <script>
	var thisdateConv = new AnyTime.Converter({format: '%Y-%m-%d'});
  	$('#thisdate_TodayNow').click( function(e) {
      		$('#thisdate').val(thisdateConv.format(new Date())).change(); } );

    	$('#thisdate_FontPicker').click(
      		function(e) {
        		$('#thisdate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
    </script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisdate' name='thisdateNull' id='thisdateNull' value='thisdateNull' {{thisdate_checked}}>
                    <label class='form-check-label' for='thisdateNull'>null</label>
                </div></div>
  <div class='form-group row {{thisdatetime_row_class}}'>
    <label for='thisdatetime' class='col-sm-4 col-form-label'>thisdatetime</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisdatetime.has_errors}}is-invalid{{/errors.thisdatetime.has_errors}}' id='thisdatetime' name='thisdatetime' placeholder='NULL' value='{{thisdatetime}}' >

<button type='button' class='btn btn-primary' id='thisdatetime_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='thisdatetime_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.thisdatetime.messages}}<li>{{.}}</li>{{/errors.thisdatetime.messages}}
  </ul>
</div><script>
	var thisdatetimeConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#thisdatetime_TodayNow').click( function(e) {
      		$('#thisdatetime').val(thisdatetimeConv.format(new Date())).change(); } );

    	$('#thisdatetime_FontPicker').click(
      		function(e) {
        		$('#thisdatetime').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisdatetime' name='thisdatetimeNull' id='thisdatetimeNull' value='thisdatetimeNull' {{thisdatetime_checked}}>
                    <label class='form-check-label' for='thisdatetimeNull'>null</label>
                </div></div>
  <div class='form-group row {{thistimestamp_row_class}}'>
    <label for='thistimestamp' class='col-sm-4 col-form-label'>thistimestamp</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thistimestamp.has_errors}}is-invalid{{/errors.thistimestamp.has_errors}}' id='thistimestamp' name='thistimestamp' placeholder='NULL' value='{{thistimestamp}}' >

<button type='button' class='btn btn-primary' id='thistimestamp_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='thistimestamp_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.thistimestamp.messages}}<li>{{.}}</li>{{/errors.thistimestamp.messages}}
  </ul>
</div><script>
	var thistimestampConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#thistimestamp_TodayNow').click( function(e) {
      		$('#thistimestamp').val(thistimestampConv.format(new Date())).change(); } );

    	$('#thistimestamp_FontPicker').click(
      		function(e) {
        		$('#thistimestamp').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thistimestamp' name='thistimestampNull' id='thistimestampNull' value='thistimestampNull' {{thistimestamp_checked}}>
                    <label class='form-check-label' for='thistimestampNull'>null</label>
                </div></div>
  <div class='form-group row {{thischar_row_class}}'>
    <label for='thischar' class='col-sm-4 col-form-label'>thischar</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thischar.has_errors}}is-invalid{{/errors.thischar.has_errors}}' id='thischar' name='thischar' placeholder='' value='{{thischar}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thischar.messages}}<li>{{.}}</li>{{/errors.thischar.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{thistext_row_class}}'>
    <label for='thistext' class='col-sm-4 col-form-label'>thistext</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thistext.has_errors}}is-invalid{{/errors.thistext.has_errors}}' id='thistext' name='thistext' placeholder='' value='{{thistext}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thistext.messages}}<li>{{.}}</li>{{/errors.thistext.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{thisblob_row_class}}'>
    <label for='thisblob' class='col-sm-4 col-form-label'>thisblob</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thisblob.has_errors}}is-invalid{{/errors.thisblob.has_errors}}' id='thisblob' name='thisblob' placeholder='NULL' value='{{thisblob}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thisblob.messages}}<li>{{.}}</li>{{/errors.thisblob.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='thisblob' name='thisblobNull' id='thisblobNull' value='thisblobNull' {{thisblob_checked}}>
                    <label class='form-check-label' for='thisblobNull'>null</label>
                </div></div>
  <div class='form-group row {{thistinyint_row_class}}'>
    <label for='thistinyint' class='col-sm-4 col-form-label'>thistinyint</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thistinyint.has_errors}}is-invalid{{/errors.thistinyint.has_errors}}' id='thistinyint' name='thistinyint' placeholder='' value='{{thistinyint}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thistinyint.messages}}<li>{{.}}</li>{{/errors.thistinyint.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{thistinytext_row_class}}'>
    <label for='thistinytext' class='col-sm-4 col-form-label'>thistinytext</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thistinytext.has_errors}}is-invalid{{/errors.thistinytext.has_errors}}' id='thistinytext' name='thistinytext' placeholder='' value='{{thistinytext}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thistinytext.messages}}<li>{{.}}</li>{{/errors.thistinytext.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/funnything/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='funnything' class='do-soft-delete btn btn-outline-danger'>Hard Delete funnything</button>
</form>
              </div>
            </div>


<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
