
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/person_creature_tag' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/person_creature_tag/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>person_creature_tag</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_person_creature_tag/'>Return to person_creature_tag list</a> </li>
{{^is_new}}
<li> <a href='/DURC/person_creature_tag/create'>Create new person_creature_tag </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id}}is-invalid{{/errors.id}}' id='id' name='id' placeholder='' value='{{id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id}}<li>{{.}}</li>{{/errors.id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{person_id_row_class}}'>
    <label for='person_id' class='col-sm-4 col-form-label'>person_id</label>
    <div class='col-sm-7'>
	Current id value: {{person_id}} (see below for lookup value)<br>
	<select class='select2_person_id form-control' id='person_id' name='person_id'  >
	<option value='{{person_id}}' selected='selected'>{{person_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_person_id').select2({
  ajax: {
    url: '/DURC/searchjson/person',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{creature_id_row_class}}'>
    <label for='creature_id' class='col-sm-4 col-form-label'>creature_id</label>
    <div class='col-sm-7'>
	Current id value: {{creature_id}} (see below for lookup value)<br>
	<select class='select2_creature_id form-control' id='creature_id' name='creature_id'  >
	<option value='{{creature_id}}' selected='selected'>{{creature_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_creature_id').select2({
  ajax: {
    url: '/DURC/searchjson/creature',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{tag_id_row_class}}'>
    <label for='tag_id' class='col-sm-4 col-form-label'>tag_id</label>
    <div class='col-sm-7'>
	Current id value: {{tag_id}} (see below for lookup value)<br>
	<select class='select2_tag_id form-control' id='tag_id' name='tag_id'  >
	<option value='{{tag_id}}' selected='selected'>{{tag_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_tag_id').select2({
  ajax: {
    url: '/DURC/searchjson/tag',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{is_bulk_linker_row_class}}'>
    <div class='col-sm-4'><label>is_bulk_linker</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_bulk_linker' name='is_bulk_linker' {{is_bulk_linker}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{link_note_row_class}}'>
    <label for='link_note' class='col-sm-4 col-form-label'>link_note</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.link_note}}is-invalid{{/errors.link_note}}' id='link_note' name='link_note' placeholder='NULL' value='{{link_note}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.link_note}}<li>{{.}}</li>{{/errors.link_note}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='link_note' name='link_noteNull' id='link_noteNull' value='link_noteNull' {{link_note_checked}}>
                    <label class='form-check-label' for='link_noteNull'>null</label>
                </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  required>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  required>

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/person_creature_tag/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='person_creature_tag' class='do-soft-delete btn btn-outline-danger'>Hard Delete person_creature_tag</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    person ( <a href='/DURC/person/'>see all</a> )
{{^person}}
(no values)
{{/person}}
  </div>
<div class='card-body'>
<table id='table_person' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> last_name </th>
			<th> first_name </th>
			<th> person_blurb </th>
			<th> image_uri </th>
			<th> wallpaper_download_url </th>
			<th> mtgwiki_url </th>
			<th> wizards_story_url </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person/{{id}}'>{{id}}</a></td>
			<td>{{last_name}}</td>
			<td>{{first_name}}</td>
			<td>{{person_blurb}}</td>
			<td>{{image_uri}}</td>
			<td>{{wallpaper_download_url}}</td>
			<td>{{mtgwiki_url}}</td>
			<td>{{wizards_story_url}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person}}
</tbody>
</table>
</div></div> <!-- end person card-->

<div class='card'>
  <div class='card-header'>
    creature ( <a href='/DURC/creature/'>see all</a> )
{{^creature}}
(no values)
{{/creature}}
  </div>
<div class='card-body'>
<table id='table_creature' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> creature_name </th>
			<th> creature_image_uri </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#creature}}
	<tr>
		{{#.}}
			<td><a href='/DURC/creature/{{id}}'>{{id}}</a></td>
			<td>{{creature_name}}</td>
			<td>{{creature_image_uri}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/creature}}
</tbody>
</table>
</div></div> <!-- end creature card-->

<div class='card'>
  <div class='card-header'>
    tag ( <a href='/DURC/tag/'>see all</a> )
{{^tag}}
(no values)
{{/tag}}
  </div>
<div class='card-body'>
<table id='table_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> tag_name </th>
			<th> is_directed </th>
			<th> excludes_tag_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/tag/{{id}}'>{{id}}</a></td>
			<td>{{tag_name}}</td>
			<td>{{is_directed}}</td>
			<td>{{excludes_tag_id_DURClabel}} ({{excludes_tag_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/tag}}
</tbody>
</table>
</div></div> <!-- end tag card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
