
<h1>orderdetail list </h1>
<h3> <a href='/Zermelo/DURC_orderdetail'>Zermelo orderdetail Report</a></h3>
Create <a href='/DURC/orderdetail/create/'>new orderdetail</a><br>


{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_orderdetail_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_orderdetail_previous'>
			<a href='{{first_page_url}}' aria-controls='table_orderdetail' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_orderdetail' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_orderdetail' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_orderdetail' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_orderdetail' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<table id='table_orderdetail' class='table table-bordered table-hover table-responsive table-sm'>
<thead><tr>
<th scope='col'>#</th><th scope='col'>order_id</th>
<th scope='col'>product_id</th>
<th scope='col'>quantity</th>
<th scope='col'>unitPrice</th>
<th scope='col'>discount</th>
<th scope='col'>status_id</th>
<th scope='col'>dateAllocated</th>
<th scope='col'>PurchaseOrder_id</th>
<th scope='col'>inventory_id</th>

</tr></thead>
<tfoot><tr>
<th scope='col'>#</th><th scope='col'>order_id</th>
<th scope='col'>product_id</th>
<th scope='col'>quantity</th>
<th scope='col'>unitPrice</th>
<th scope='col'>discount</th>
<th scope='col'>status_id</th>
<th scope='col'>dateAllocated</th>
<th scope='col'>PurchaseOrder_id</th>
<th scope='col'>inventory_id</th>

</tr></tfoot>
<tbody>
  {{#data}}
    <tr>
	<th scope='row'><a href='/DURC/orderdetail/{{id}}/'> {{id}} </a></th>			<td>{{order_id_DURClabel}} <a href='/DURC/order/{{order_id}}/'> ({{order_id}})</a> </td>			<td>{{product_id_DURClabel}} <a href='/DURC/product/{{product_id}}/'> ({{product_id}})</a> </td>			<td>{{quantity}}</td>
			<td>{{unitPrice}}</td>
			<td>{{discount}}</td>
			<td>{{dateAllocated}}</td>
			<td>{{PurchaseOrder_id_DURClabel}} <a href='/DURC/purchaseorder/{{PurchaseOrder_id}}/'> ({{PurchaseOrder_id}})</a> </td>
    </tr>
  {{/data}}

<tbody></table>



{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_orderdetail_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_orderdetail_previous'>
			<a href='{{first_page_url}}' aria-controls='table_orderdetail' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_orderdetail' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_orderdetail' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_orderdetail' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_orderdetail' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<script type='text/javascript'>
//we need a way to check to see if the page is loaded before we call DataTable()
//but we frequently do not have JQuery yet... it could be loaded at the bottom of the page...
//so we have a pure JS alternative to the ready() function..
var DURC_checkReadyState = setInterval(() => {
  if (document.readyState === 'complete') {
    clearInterval(DURC_checkReadyState);
    // document is ready
    $('#table_orderdetail').DataTable(
{
        'paging':   false,
        'info':     false
}
);
  }
}, 100);


</script>

