
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/order' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/order/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>order</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_order/'>Return to order list</a> </li>
{{^is_new}}
<li> <a href='/DURC/order/create'>Create new order </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id}}is-invalid{{/errors.id}}' id='id' name='id' placeholder='' value='{{id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id}}<li>{{.}}</li>{{/errors.id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{employee_id_row_class}}'>
    <label for='employee_id' class='col-sm-4 col-form-label'>employee_id</label>
    <div class='col-sm-7'>
	Current id value: {{employee_id}} (see below for lookup value)<br>
	<select class='select2_employee_id form-control' id='employee_id' name='employee_id'  >
	<option value='{{employee_id}}' selected='selected'>{{employee_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_employee_id').select2({
  ajax: {
    url: '/DURC/searchjson/employee',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{customer_id_row_class}}'>
    <label for='customer_id' class='col-sm-4 col-form-label'>customer_id</label>
    <div class='col-sm-7'>
	Current id value: {{customer_id}} (see below for lookup value)<br>
	<select class='select2_customer_id form-control' id='customer_id' name='customer_id'  >
	<option value='{{customer_id}}' selected='selected'>{{customer_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_customer_id').select2({
  ajax: {
    url: '/DURC/searchjson/customer',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{orderDate_row_class}}'>
    <label for='orderDate' class='col-sm-4 col-form-label'>orderDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='orderDate' name='orderDate' placeholder='' value='{{orderDate}}'  >

<button type='button' class='btn btn-primary' id='orderDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='orderDate_TodayNow'> Today and Now</button>

<script>
	var orderDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#orderDate_TodayNow').click( function(e) {
      		$('#orderDate').val(orderDateConv.format(new Date())).change(); } );

    	$('#orderDate_FontPicker').click(
      		function(e) {
        		$('#orderDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{shippedDate_row_class}}'>
    <label for='shippedDate' class='col-sm-4 col-form-label'>shippedDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='shippedDate' name='shippedDate' placeholder='' value='{{shippedDate}}'  >

<button type='button' class='btn btn-primary' id='shippedDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='shippedDate_TodayNow'> Today and Now</button>

<script>
	var shippedDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#shippedDate_TodayNow').click( function(e) {
      		$('#shippedDate').val(shippedDateConv.format(new Date())).change(); } );

    	$('#shippedDate_FontPicker').click(
      		function(e) {
        		$('#shippedDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{shipper_id_row_class}}'>
    <label for='shipper_id' class='col-sm-4 col-form-label'>shipper_id</label>
    <div class='col-sm-7'>
	Current id value: {{shipper_id}} (see below for lookup value)<br>
	<select class='select2_shipper_id form-control' id='shipper_id' name='shipper_id'  >
	<option value='{{shipper_id}}' selected='selected'>{{shipper_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_shipper_id').select2({
  ajax: {
    url: '/DURC/searchjson/shipper',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{shipName_row_class}}'>
    <label for='shipName' class='col-sm-4 col-form-label'>shipName</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipName}}is-invalid{{/errors.shipName}}' id='shipName' name='shipName' placeholder='NULL' value='{{shipName}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipName}}<li>{{.}}</li>{{/errors.shipName}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipName' name='shipNameNull' id='shipNameNull' value='shipNameNull' {{shipName_checked}}>
                    <label class='form-check-label' for='shipNameNull'>null</label>
                </div></div>
  <div class='form-group row {{shipAddress_row_class}}'>
    <label for='shipAddress' class='col-sm-4 col-form-label'>shipAddress</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipAddress}}is-invalid{{/errors.shipAddress}}' id='shipAddress' name='shipAddress' placeholder='NULL' value='{{shipAddress}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipAddress}}<li>{{.}}</li>{{/errors.shipAddress}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipAddress' name='shipAddressNull' id='shipAddressNull' value='shipAddressNull' {{shipAddress_checked}}>
                    <label class='form-check-label' for='shipAddressNull'>null</label>
                </div></div>
  <div class='form-group row {{shipCity_row_class}}'>
    <label for='shipCity' class='col-sm-4 col-form-label'>shipCity</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipCity}}is-invalid{{/errors.shipCity}}' id='shipCity' name='shipCity' placeholder='NULL' value='{{shipCity}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipCity}}<li>{{.}}</li>{{/errors.shipCity}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipCity' name='shipCityNull' id='shipCityNull' value='shipCityNull' {{shipCity_checked}}>
                    <label class='form-check-label' for='shipCityNull'>null</label>
                </div></div>
  <div class='form-group row {{shipStateProvince_row_class}}'>
    <label for='shipStateProvince' class='col-sm-4 col-form-label'>shipStateProvince</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipStateProvince}}is-invalid{{/errors.shipStateProvince}}' id='shipStateProvince' name='shipStateProvince' placeholder='NULL' value='{{shipStateProvince}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipStateProvince}}<li>{{.}}</li>{{/errors.shipStateProvince}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipStateProvince' name='shipStateProvinceNull' id='shipStateProvinceNull' value='shipStateProvinceNull' {{shipStateProvince_checked}}>
                    <label class='form-check-label' for='shipStateProvinceNull'>null</label>
                </div></div>
  <div class='form-group row {{shipZipPostalCode_row_class}}'>
    <label for='shipZipPostalCode' class='col-sm-4 col-form-label'>shipZipPostalCode</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipZipPostalCode}}is-invalid{{/errors.shipZipPostalCode}}' id='shipZipPostalCode' name='shipZipPostalCode' placeholder='NULL' value='{{shipZipPostalCode}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipZipPostalCode}}<li>{{.}}</li>{{/errors.shipZipPostalCode}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipZipPostalCode' name='shipZipPostalCodeNull' id='shipZipPostalCodeNull' value='shipZipPostalCodeNull' {{shipZipPostalCode_checked}}>
                    <label class='form-check-label' for='shipZipPostalCodeNull'>null</label>
                </div></div>
  <div class='form-group row {{shipCountryRegion_row_class}}'>
    <label for='shipCountryRegion' class='col-sm-4 col-form-label'>shipCountryRegion</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipCountryRegion}}is-invalid{{/errors.shipCountryRegion}}' id='shipCountryRegion' name='shipCountryRegion' placeholder='NULL' value='{{shipCountryRegion}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipCountryRegion}}<li>{{.}}</li>{{/errors.shipCountryRegion}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipCountryRegion' name='shipCountryRegionNull' id='shipCountryRegionNull' value='shipCountryRegionNull' {{shipCountryRegion_checked}}>
                    <label class='form-check-label' for='shipCountryRegionNull'>null</label>
                </div></div>
  <div class='form-group row {{shippingFee_row_class}}'>
    <label for='shippingFee' class='col-sm-4 col-form-label'>shippingFee</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shippingFee}}is-invalid{{/errors.shippingFee}}' id='shippingFee' name='shippingFee' placeholder='0.0000' value='{{shippingFee}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shippingFee}}<li>{{.}}</li>{{/errors.shippingFee}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shippingFee' name='shippingFeeNull' id='shippingFeeNull' value='shippingFeeNull' {{shippingFee_checked}}>
                    <label class='form-check-label' for='shippingFeeNull'>null</label>
                </div></div>
  <div class='form-group row {{taxes_row_class}}'>
    <label for='taxes' class='col-sm-4 col-form-label'>taxes</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.taxes}}is-invalid{{/errors.taxes}}' id='taxes' name='taxes' placeholder='0.0000' value='{{taxes}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.taxes}}<li>{{.}}</li>{{/errors.taxes}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='taxes' name='taxesNull' id='taxesNull' value='taxesNull' {{taxes_checked}}>
                    <label class='form-check-label' for='taxesNull'>null</label>
                </div></div>
  <div class='form-group row {{paymentType_row_class}}'>
    <label for='paymentType' class='col-sm-4 col-form-label'>paymentType</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.paymentType}}is-invalid{{/errors.paymentType}}' id='paymentType' name='paymentType' placeholder='NULL' value='{{paymentType}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.paymentType}}<li>{{.}}</li>{{/errors.paymentType}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='paymentType' name='paymentTypeNull' id='paymentTypeNull' value='paymentTypeNull' {{paymentType_checked}}>
                    <label class='form-check-label' for='paymentTypeNull'>null</label>
                </div></div>
  <div class='form-group row {{paidDate_row_class}}'>
    <label for='paidDate' class='col-sm-4 col-form-label'>paidDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='paidDate' name='paidDate' placeholder='' value='{{paidDate}}'  >

<button type='button' class='btn btn-primary' id='paidDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='paidDate_TodayNow'> Today and Now</button>

<script>
	var paidDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#paidDate_TodayNow').click( function(e) {
      		$('#paidDate').val(paidDateConv.format(new Date())).change(); } );

    	$('#paidDate_FontPicker').click(
      		function(e) {
        		$('#paidDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{notes_row_class}}'>
    <label for='notes' class='col-sm-4 col-form-label'>notes</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.notes}}is-invalid{{/errors.notes}}' id='notes' name='notes' placeholder='NULL' value='{{notes}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.notes}}<li>{{.}}</li>{{/errors.notes}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='notes' name='notesNull' id='notesNull' value='notesNull' {{notes_checked}}>
                    <label class='form-check-label' for='notesNull'>null</label>
                </div></div>
  <div class='form-group row {{taxRate_row_class}}'>
    <label for='taxRate' class='col-sm-4 col-form-label'>taxRate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.taxRate}}is-invalid{{/errors.taxRate}}' id='taxRate' name='taxRate' placeholder='0' value='{{taxRate}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.taxRate}}<li>{{.}}</li>{{/errors.taxRate}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='taxRate' name='taxRateNull' id='taxRateNull' value='taxRateNull' {{taxRate_checked}}>
                    <label class='form-check-label' for='taxRateNull'>null</label>
                </div></div>
  <div class='form-group row {{taxStatus_id_row_class}}'>
    <label for='taxStatus_id' class='col-sm-4 col-form-label'>taxStatus_id</label>
    <div class='col-sm-7'>
	Current id value: {{taxStatus_id}} (see below for lookup value)<br>
	<select class='select2_taxStatus_id form-control' id='taxStatus_id' name='taxStatus_id'  >
	<option value='{{taxStatus_id}}' selected='selected'>{{taxStatus_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_taxStatus_id').select2({
  ajax: {
    url: '/DURC/searchjson/orderTaxStatus',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{status_id_row_class}}'>
    <label for='status_id' class='col-sm-4 col-form-label'>status_id</label>
    <div class='col-sm-7'>
	Current id value: {{status_id}} (see below for lookup value)<br>
	<select class='select2_status_id form-control' id='status_id' name='status_id'  >
	<option value='{{status_id}}' selected='selected'>{{status_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_status_id').select2({
  ajax: {
    url: '/DURC/searchjson/orderStatus',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/order/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='order' class='do-soft-delete btn btn-outline-danger'>Hard Delete order</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many invoice ( <a href='/DURC/invoice/'>see all</a> )
{{^invoice}}
(no values)
{{/invoice}}
  </div>
<div class='card-body'>

<table id='table_invoice' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> order_id </th>
			<th> invoiceDate </th>
			<th> dueDate </th>
			<th> tax </th>
			<th> shipping </th>
			<th> amountDue </th>

</tr>
</thead>
<tbody>
{{#invoice}}
	<tr>
		{{#.}}
			<td><a href='/DURC/invoice/{{id}}'>{{id}}</a></td>
			<td>{{order_id_DURClabel}} ({{order_id}}) </td>			<td>{{invoiceDate}}</td>
			<td>{{dueDate}}</td>
			<td>{{tax}}</td>
			<td>{{shipping}}</td>
			<td>{{amountDue}}</td>
		
		{{/.}}
	</tr>
{{/invoice}}
</tbody>
</table>
</div></div> <!-- end invoice card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many orderdetail ( <a href='/DURC/orderdetail/'>see all</a> )
{{^orderdetail}}
(no values)
{{/orderdetail}}
  </div>
<div class='card-body'>

<table id='table_orderdetail' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> order_id </th>
			<th> product_id </th>
			<th> quantity </th>
			<th> unitPrice </th>
			<th> discount </th>
			<th> status_id </th>
			<th> dateAllocated </th>
			<th> PurchaseOrder_id </th>
			<th> inventory_id </th>

</tr>
</thead>
<tbody>
{{#orderdetail}}
	<tr>
		{{#.}}
			<td><a href='/DURC/orderdetail/{{id}}'>{{id}}</a></td>
			<td>{{order_id_DURClabel}} ({{order_id}}) </td>			<td>{{product_id_DURClabel}} ({{product_id}}) </td>			<td>{{quantity}}</td>
			<td>{{unitPrice}}</td>
			<td>{{discount}}</td>
			<td>{{status_id_DURClabel}} ({{status_id}}) </td>			<td>{{dateAllocated}}</td>
			<td>{{PurchaseOrder_id_DURClabel}} ({{PurchaseOrder_id}}) </td>			<td>{{inventory_id_DURClabel}} ({{inventory_id}}) </td>		
		{{/.}}
	</tr>
{{/orderdetail}}
</tbody>
</table>
</div></div> <!-- end orderdetail card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    employee ( <a href='/DURC/employee/'>see all</a> )
{{^employee}}
(no values)
{{/employee}}
  </div>
<div class='card-body'>
<table id='table_employee' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> company </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#employee}}
	<tr>
		{{#.}}
			<td><a href='/DURC/employee/{{id}}'>{{id}}</a></td>
			<td>{{company}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/employee}}
</tbody>
</table>
</div></div> <!-- end employee card-->

<div class='card'>
  <div class='card-header'>
    customer ( <a href='/DURC/customer/'>see all</a> )
{{^customer}}
(no values)
{{/customer}}
  </div>
<div class='card-body'>
<table id='table_customer' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> companyName </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>
			<th> random_date </th>
			<th> created_at </th>
			<th> updated_at </th>
			<th> deleted_at </th>

</tr>
</thead>
<tbody>
{{#customer}}
	<tr>
		{{#.}}
			<td><a href='/DURC/customer/{{id}}'>{{id}}</a></td>
			<td>{{companyName}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
			<td>{{random_date}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
			<td>{{deleted_at}}</td>
		
		{{/.}}
	</tr>
{{/customer}}
</tbody>
</table>
</div></div> <!-- end customer card-->

<div class='card'>
  <div class='card-header'>
    shipper ( <a href='/DURC/shipper/'>see all</a> )
{{^shipper}}
(no values)
{{/shipper}}
  </div>
<div class='card-body'>
<table id='table_shipper' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> company </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#shipper}}
	<tr>
		{{#.}}
			<td><a href='/DURC/shipper/{{id}}'>{{id}}</a></td>
			<td>{{company}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/shipper}}
</tbody>
</table>
</div></div> <!-- end shipper card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
