
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/classofc' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/classofc/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>classofc</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_classofc/'>Return to classofc list</a> </li>
{{^is_new}}
<li> <a href='/DURC/classofc/create'>Create new classofc </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{classofc_name_row_class}}'>
    <label for='classofc_name' class='col-sm-4 col-form-label'>classofc_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.classofc_name.has_errors}}is-invalid{{/errors.classofc_name.has_errors}}' id='classofc_name' name='classofc_name' placeholder='' value='{{classofc_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.classofc_name.messages}}<li>{{.}}</li>{{/errors.classofc_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{classofc_img_uri_row_class}}'>
    <label for='classofc_img_uri' class='col-sm-4 col-form-label'>classofc_img_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.classofc_img_uri.has_errors}}is-invalid{{/errors.classofc_img_uri.has_errors}}' id='classofc_img_uri' name='classofc_img_uri' placeholder='NULL' value='{{classofc_img_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.classofc_img_uri.messages}}<li>{{.}}</li>{{/errors.classofc_img_uri.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='classofc_img_uri' name='classofc_img_uriNull' id='classofc_img_uriNull' value='classofc_img_uriNull' {{classofc_img_uri_checked}}>
                    <label class='form-check-label' for='classofc_img_uriNull'>null</label>
                </div></div>
  <div class='form-group row {{classofc_wiki_url_row_class}}'>
    <label for='classofc_wiki_url' class='col-sm-4 col-form-label'>classofc_wiki_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.classofc_wiki_url.has_errors}}is-invalid{{/errors.classofc_wiki_url.has_errors}}' id='classofc_wiki_url' name='classofc_wiki_url' placeholder='NULL' value='{{classofc_wiki_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.classofc_wiki_url.messages}}<li>{{.}}</li>{{/errors.classofc_wiki_url.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='classofc_wiki_url' name='classofc_wiki_urlNull' id='classofc_wiki_urlNull' value='classofc_wiki_urlNull' {{classofc_wiki_url_checked}}>
                    <label class='form-check-label' for='classofc_wiki_urlNull'>null</label>
                </div></div>
  <div class='form-group row {{is_mega_class_row_class}}'>
    <div class='col-sm-4'><label>is_mega_class</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_mega_class' class='{{#errors.is_mega_class.has_errors}}is-invalid{{/errors.is_mega_class.has_errors}}'name='is_mega_class' {{is_mega_class}}  >
            <div class='invalid-feedback'>
                <ul>
                  {{#errors.is_mega_class.messages}}<li>{{.}}</li>{{/errors.is_mega_class.messages}}
                </ul>
            </div>
       </div> 
    </div>
  </div>

  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='current_timestamp()' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='current_timestamp()' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/classofc/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='classofc' class='do-soft-delete btn btn-outline-danger'>Hard Delete classofc</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many cardface_classofc_atag ( <a href='/DURC/cardface_classofc_atag/'>see all</a> )
{{^cardface_classofc_atag}}
(no values)
{{/cardface_classofc_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_classofc_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofc_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_classofc_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_classofc_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/cardface_classofc_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_classofc_atag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many classofc_cardface ( <a href='/DURC/classofc_cardface/'>see all</a> )
{{^classofc_cardface}}
(no values)
{{/classofc_cardface}}
  </div>
<div class='card-body'>

<table id='table_classofc_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofc_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_cardface/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/classofc_cardface}}
</tbody>
</table>
</div></div> <!-- end classofc_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many classofc_classofc_vspack ( <a href='/DURC/classofc_classofc_vspack/'>see all</a> )
{{^classofc_classofc_vspack}}
(no values)
{{/classofc_classofc_vspack}}
  </div>
<div class='card-body'>

<table id='table_classofc_classofc_vspack' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_id </th>
			<th> second_classofc_id </th>
			<th> vspack_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_classofc_vspack}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_classofc_vspack/{{id}}'>{{id}}</a></td>
			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{second_classofc_id_DURClabel}} ({{second_classofc_id}}) </td>			<td>{{vspack_id_DURClabel}} ({{vspack_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/classofc_classofc_vspack}}
</tbody>
</table>
</div></div> <!-- end classofc_classofc_vspack card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many second_classofc_classofc_vspack ( <a href='/DURC/classofc_classofc_vspack/'>see all</a> )
{{^second_classofc_classofc_vspack}}
(no values)
{{/second_classofc_classofc_vspack}}
  </div>
<div class='card-body'>

<table id='table_second_classofc_classofc_vspack' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_id </th>
			<th> second_classofc_id </th>
			<th> vspack_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#second_classofc_classofc_vspack}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_classofc_vspack/{{id}}'>{{id}}</a></td>
			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{second_classofc_id_DURClabel}} ({{second_classofc_id}}) </td>			<td>{{vspack_id_DURClabel}} ({{vspack_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/second_classofc_classofc_vspack}}
</tbody>
</table>
</div></div> <!-- end second_classofc_classofc_vspack card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many classofc_creature ( <a href='/DURC/classofc_creature/'>see all</a> )
{{^classofc_creature}}
(no values)
{{/classofc_creature}}
  </div>
<div class='card-body'>

<table id='table_classofc_creature' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_id </th>
			<th> creature_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_creature}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_creature/{{id}}'>{{id}}</a></td>
			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{creature_id_DURClabel}} ({{creature_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/classofc_creature}}
</tbody>
</table>
</div></div> <!-- end classofc_creature card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_cardface ( <a href='/DURC/person_classofc_cardface/'>see all</a> )
{{^person_classofc_cardface}}
(no values)
{{/person_classofc_cardface}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> cardface_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_cardface/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_classofc_cardface}}
</tbody>
</table>
</div></div> <!-- end person_classofc_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_tag ( <a href='/DURC/person_classofc_tag/'>see all</a> )
{{^person_classofc_tag}}
(no values)
{{/person_classofc_tag}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_classofc_tag}}
</tbody>
</table>
</div></div> <!-- end person_classofc_tag card-->
<br>
</div></div> <!--end has many card-->
<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
