
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/wallpaper' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/wallpaper/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>wallpaper</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_wallpaper/'>Return to wallpaper list</a> </li>
{{^is_new}}
<li> <a href='/DURC/wallpaper/create'>Create new wallpaper </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{art_name_row_class}}'>
    <label for='art_name' class='col-sm-4 col-form-label'>art_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.art_name.has_errors}}is-invalid{{/errors.art_name.has_errors}}' id='art_name' name='art_name' placeholder='NULL' value='{{art_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.art_name.messages}}<li>{{.}}</li>{{/errors.art_name.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='art_name' name='art_nameNull' id='art_nameNull' value='art_nameNull' {{art_name_checked}}>
                    <label class='form-check-label' for='art_nameNull'>null</label>
                </div></div>
  <div class='form-group row {{set_name_row_class}}'>
    <label for='set_name' class='col-sm-4 col-form-label'>set_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.set_name.has_errors}}is-invalid{{/errors.set_name.has_errors}}' id='set_name' name='set_name' placeholder='' value='{{set_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.set_name.messages}}<li>{{.}}</li>{{/errors.set_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{art_release_date_row_class}}'>
    <label for='art_release_date' class='col-sm-4 col-form-label'>art_release_date</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.art_release_date.has_errors}}is-invalid{{/errors.art_release_date.has_errors}}' id='art_release_date' name='art_release_date' placeholder='NULL' value='{{art_release_date}}' >

<button type='button' class='btn btn-primary' id='art_release_date_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='art_release_date_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.art_release_date.messages}}<li>{{.}}</li>{{/errors.art_release_date.messages}}
  </ul>
</div><script>
	var art_release_dateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#art_release_date_TodayNow').click( function(e) {
      		$('#art_release_date').val(art_release_dateConv.format(new Date())).change(); } );

    	$('#art_release_date_FontPicker').click(
      		function(e) {
        		$('#art_release_date').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='art_release_date' name='art_release_dateNull' id='art_release_dateNull' value='art_release_dateNull' {{art_release_date_checked}}>
                    <label class='form-check-label' for='art_release_dateNull'>null</label>
                </div></div>
  <div class='form-group row {{author_name_row_class}}'>
    <label for='author_name' class='col-sm-4 col-form-label'>author_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.author_name.has_errors}}is-invalid{{/errors.author_name.has_errors}}' id='author_name' name='author_name' placeholder='' value='{{author_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.author_name.messages}}<li>{{.}}</li>{{/errors.author_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{illustration_id_row_class}}'>
    <label for='illustration_id' class='col-sm-4 col-form-label'>illustration_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.illustration_id.has_errors}}is-invalid{{/errors.illustration_id.has_errors}}' id='illustration_id' name='illustration_id' placeholder='NULL' value='{{illustration_id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.illustration_id.messages}}<li>{{.}}</li>{{/errors.illustration_id.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='illustration_id' name='illustration_idNull' id='illustration_idNull' value='illustration_idNull' {{illustration_id_checked}}>
                    <label class='form-check-label' for='illustration_idNull'>null</label>
                </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='current_timestamp()' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='created_at' name='created_atNull' id='created_atNull' value='created_atNull' {{created_at_checked}}>
                    <label class='form-check-label' for='created_atNull'>null</label>
                </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='current_timestamp()' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/wallpaper/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='wallpaper' class='do-soft-delete btn btn-outline-danger'>Hard Delete wallpaper</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many wallpaper_url ( <a href='/DURC/wallpaper_url/'>see all</a> )
{{^wallpaper_url}}
(no values)
{{/wallpaper_url}}
  </div>
<div class='card-body'>

<table id='table_wallpaper_url' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> wallpaper_id </th>
			<th> wallpaper_url_name </th>
			<th> wallpaper_url </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#wallpaper_url}}
	<tr>
		{{#.}}
			<td>{{id}}</td>
			<td>{{wallpaper_id_DURClabel}} ({{wallpaper_id}}) </td>			<td>{{wallpaper_url_name}}</td>
			<td>{{wallpaper_url}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/wallpaper_url}}
</tbody>
</table>
</div></div> <!-- end wallpaper_url card-->
<br>
</div></div> <!--end has many card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
