
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/salesreport' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/salesreport/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>salesreport</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_salesreport/'>Return to salesreport list</a> </li>
{{^is_new}}
<li> <a href='/DURC/salesreport/create'>Create new salesreport </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{groupBy_row_class}}'>
    <label for='groupBy' class='col-sm-4 col-form-label'>groupBy</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.groupBy.has_errors}}is-invalid{{/errors.groupBy.has_errors}}' id='groupBy' name='groupBy' placeholder='' value='{{groupBy}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.groupBy.messages}}<li>{{.}}</li>{{/errors.groupBy.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{display_row_class}}'>
    <label for='display' class='col-sm-4 col-form-label'>display</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.display.has_errors}}is-invalid{{/errors.display.has_errors}}' id='display' name='display' placeholder='NULL' value='{{display}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.display.messages}}<li>{{.}}</li>{{/errors.display.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='display' name='displayNull' id='displayNull' value='displayNull' {{display_checked}}>
                    <label class='form-check-label' for='displayNull'>null</label>
                </div></div>
  <div class='form-group row {{title_row_class}}'>
    <label for='title' class='col-sm-4 col-form-label'>title</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.title.has_errors}}is-invalid{{/errors.title.has_errors}}' id='title' name='title' placeholder='NULL' value='{{title}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.title.messages}}<li>{{.}}</li>{{/errors.title.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='title' name='titleNull' id='titleNull' value='titleNull' {{title_checked}}>
                    <label class='form-check-label' for='titleNull'>null</label>
                </div></div>
  <div class='form-group row {{filterRowSource_row_class}}'>
    <label for='filterRowSource' class='col-sm-4 col-form-label'>filterRowSource</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.filterRowSource.has_errors}}is-invalid{{/errors.filterRowSource.has_errors}}' id='filterRowSource' name='filterRowSource' placeholder='NULL' value='{{filterRowSource}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.filterRowSource.messages}}<li>{{.}}</li>{{/errors.filterRowSource.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='filterRowSource' name='filterRowSourceNull' id='filterRowSourceNull' value='filterRowSourceNull' {{filterRowSource_checked}}>
                    <label class='form-check-label' for='filterRowSourceNull'>null</label>
                </div></div>
  <div class='form-group row {{default_row_class}}'>
    <label for='default' class='col-sm-4 col-form-label'>default</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.default.has_errors}}is-invalid{{/errors.default.has_errors}}' id='default' name='default' placeholder='0' value='{{default}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.default.messages}}<li>{{.}}</li>{{/errors.default.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/salesreport/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='salesreport' class='do-soft-delete btn btn-outline-danger'>Hard Delete salesreport</button>
</form>
              </div>
            </div>


<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
