
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/vspack' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/vspack/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>vspack</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_vspack/'>Return to vspack list</a> </li>
{{^is_new}}
<li> <a href='/DURC/vspack/create'>Create new vspack </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  >
    </div></div>
  <div class='form-group row {{vspack_name_row_class}}'>
    <label for='vspack_name' class='col-sm-4 col-form-label'>vspack_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='vspack_name' name='vspack_name' placeholder='' value='{{vspack_name}}'  required>
    </div></div>
  <div class='form-group row {{vspack_wizards_url_row_class}}'>
    <label for='vspack_wizards_url' class='col-sm-4 col-form-label'>vspack_wizards_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='vspack_wizards_url' name='vspack_wizards_url' placeholder='' value='{{vspack_wizards_url}}'  required>
    </div></div>
  <div class='form-group row {{vspack_wiki_url_row_class}}'>
    <label for='vspack_wiki_url' class='col-sm-4 col-form-label'>vspack_wiki_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='vspack_wiki_url' name='vspack_wiki_url' placeholder='' value='{{vspack_wiki_url}}'  required>
    </div></div>
  <div class='form-group row {{vspack_img_url_row_class}}'>
    <label for='vspack_img_url' class='col-sm-4 col-form-label'>vspack_img_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='vspack_img_url' name='vspack_img_url' placeholder='' value='{{vspack_img_url}}'  required>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/vspack/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='vspack' class='do-soft-delete btn btn-outline-danger'>Hard Delete vspack</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many classofc_classofc_vspack ( <a href='/DURC/classofc_classofc_vspack/'>see all</a> )
{{^classofc_classofc_vspack}}
(no values)
{{/classofc_classofc_vspack}}
  </div>
<div class='card-body'>

<table id='table_classofc_classofc_vspack' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_id </th>
			<th> second_classofc_id </th>
			<th> vspack_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_classofc_vspack}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_classofc_vspack/{{id}}'>{{id}}</a></td>
			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{second_classofc_id_DURClabel}} ({{second_classofc_id}}) </td>			<td>{{vspack_id_DURClabel}} ({{vspack_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/classofc_classofc_vspack}}
</tbody>
</table>
</div></div> <!-- end classofc_classofc_vspack card-->
<br>
</div></div> <!--end has many card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
