
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/vspack' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/vspack/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>vspack</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_vspack/'>Return to vspack list</a> </li>
{{^is_new}}
<li> <a href='/DURC/vspack/create'>Create new vspack </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{vspack_name_row_class}}'>
    <label for='vspack_name' class='col-sm-4 col-form-label'>vspack_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.vspack_name.has_errors}}is-invalid{{/errors.vspack_name.has_errors}}' id='vspack_name' name='vspack_name' placeholder='' value='{{vspack_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.vspack_name.messages}}<li>{{.}}</li>{{/errors.vspack_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{vspack_wizards_url_row_class}}'>
    <label for='vspack_wizards_url' class='col-sm-4 col-form-label'>vspack_wizards_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.vspack_wizards_url.has_errors}}is-invalid{{/errors.vspack_wizards_url.has_errors}}' id='vspack_wizards_url' name='vspack_wizards_url' placeholder='' value='{{vspack_wizards_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.vspack_wizards_url.messages}}<li>{{.}}</li>{{/errors.vspack_wizards_url.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{vspack_wiki_url_row_class}}'>
    <label for='vspack_wiki_url' class='col-sm-4 col-form-label'>vspack_wiki_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.vspack_wiki_url.has_errors}}is-invalid{{/errors.vspack_wiki_url.has_errors}}' id='vspack_wiki_url' name='vspack_wiki_url' placeholder='' value='{{vspack_wiki_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.vspack_wiki_url.messages}}<li>{{.}}</li>{{/errors.vspack_wiki_url.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{vspack_img_url_row_class}}'>
    <label for='vspack_img_url' class='col-sm-4 col-form-label'>vspack_img_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.vspack_img_url.has_errors}}is-invalid{{/errors.vspack_img_url.has_errors}}' id='vspack_img_url' name='vspack_img_url' placeholder='' value='{{vspack_img_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.vspack_img_url.messages}}<li>{{.}}</li>{{/errors.vspack_img_url.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='current_timestamp()' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='current_timestamp()' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/vspack/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='vspack' class='do-soft-delete btn btn-outline-danger'>Hard Delete vspack</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many classofc_classofc_vspack ( <a href='/DURC/classofc_classofc_vspack/'>see all</a> )
{{^classofc_classofc_vspack}}
(no values)
{{/classofc_classofc_vspack}}
  </div>
<div class='card-body'>

<table id='table_classofc_classofc_vspack' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_id </th>
			<th> second_classofc_id </th>
			<th> vspack_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_classofc_vspack}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_classofc_vspack/{{id}}'>{{id}}</a></td>
			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{second_classofc_id_DURClabel}} ({{second_classofc_id}}) </td>			<td>{{vspack_id_DURClabel}} ({{vspack_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/classofc_classofc_vspack}}
</tbody>
</table>
</div></div> <!-- end classofc_classofc_vspack card-->
<br>
</div></div> <!--end has many card-->
<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
