
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/inventorytransactiontype' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/inventorytransactiontype/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>inventorytransactiontype</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_inventorytransactiontype/'>Return to inventorytransactiontype list</a> </li>
{{^is_new}}
<li> <a href='/DURC/inventorytransactiontype/create'>Create new inventorytransactiontype </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  required>
    </div></div>
  <div class='form-group row {{typeName_row_class}}'>
    <label for='typeName' class='col-sm-4 col-form-label'>typeName</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='typeName' name='typeName' placeholder='' value='{{typeName}}'  required>
    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/inventorytransactiontype/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='inventorytransactiontype' class='do-soft-delete btn btn-outline-danger'>Hard Delete inventorytransactiontype</button>
</form>
              </div>
            </div>


<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
