<script id="tpl-cardview" type="text/html">

<div class='row'> 
	<div class='col-12'>
		<h3> {{name }} <small> {{mana_cost}} {{rarity}} </small></h3>
	</div>
</div>
<div class='row'> 

	<div class='col-6'> 
		<img class="img-fluid" src='{{image_uris.art_crop}}'> 
        	<dt>Artist</dt>
        	<dd>{{artist}}</dd>
	</div> 
	<div class='col-3 small'> 
		<p> {{oracle_text}} </p> 
        <dt>Set Name</dt>
        <dd>{{set_name}}</dd>
	<dt>  Legalities </dt>
	<dd>
		<ul>
		{{#legalities}}
			<li> standard: {{standard}} modern: {{modern}} </li>
			<li> commander: {{commander}} pauper: {{pauper}} </li>
			<li> vintage: {{vintage}} legacy: {{legacy}} </li>
			<li> penny: {{penny}} brawl: {{brawl}} </li>
			<li> duel: {{duel}} oldschool: {{oldschool}} </li>
		{{/legalities}}
		</ul>
	</dd>
	<dt> Price </dt>
	<dd>
		{{#prices}}
		<ul>
			<li> Foil Price {{usd_foil}}  </li>
			<li> Regular Price {{usd}} </li>
		</ul>	
		{{/prices}}	
	</dd>
	</div>  
	<div class='col-3'> 
		<img src='{{image_uris.small}}'> 
	</div> 
</div>
<div class='row'>
	<div class='col-1'> 

	</div>

	<div class='col-10'> 
	{{#ill_img_list}}
<img style='padding: 6px;' width='250px' src='{{.}}' class="rounded float-left">
	{{/ill_img_list}}
	</div>
	<div class='col-1'> 

	</div>
</div>
</script>
