<script id="tpl-cardview" type="text/html">

<div class='row'> 
	<div class='col-12'>
		<h3> {{name }} <small> {{mana_cost}} {{rarity}} </small></h3>
	</div>
</div>
<div class='row'> 

	<div class='col-6'> 
		<img class="img-fluid" src='{{image_uris.art_crop}}'> 
        	<dt>Artist</dt>
        	<dd>{{artist}}</dd>
	</div> 
	<div class='col-3 small'> 
		<p> {{oracle_text}} </p> 
        <dt>Set Name</dt>
        <dd>{{set_name}}</dd>
	<dt>  Legalities </dt>
	<dd>
		{{#legalities}}
			<div class="float-left">
				<img width='30px' title='standard {{standard}}' src='/images/standard_{{standard}}.png'  >
				<img width='30px' title='modern {{modern}}' src='/images/modern_{{modern}}.png'  >
				<img width='30px' title='commander {{commander}}' src='/images/commander_{{commander}}.png'  >
				<img width='30px' title='duel {{duel}}' src='/images/duel_{{duel}}.png'  >
				<img width='30px' title='brawl {{brawl}}' src='/images/brawl_{{brawl}}.png'  >
				<img width='30px' title='penny {{penny}}' src='/images/penny_{{penny}}.png'  >
				<img width='30px' title='pauper {{pauper}}' src='/images/pauper_{{pauper}}.png'  >
				<img width='30px' title='vintage {{vintage}}' src='/images/vintage_{{vintage}}.png'  >
				<img width='30px' title='legacy {{legacy}}' src='/images/legacy_{{legacy}}.png'  >
			</div>
		{{/legalities}}
	</dd>
	<dt> Price </dt>
	<dd>
		{{#prices}}
		<ul>
			<li> Foil Price {{usd_foil}}  </li>
			<li> Regular Price {{usd}} </li>
		</ul>	
		{{/prices}}	
	</dd>
	</div>  
	<div class='col-3'> 
		<img src='{{image_uris.small}}'> 
		<h4> Rulings: </h4>
		<ul>
		{{#rulings_list}}
			<li>
			{{.}}
			</li>
		{{/rulings_list}}
		</ul>
	</div> 
</div>
<div class='row'>
	<div class='col-1'> 

	</div>

	<div class='col-10'> 
	{{#ill_img_list}}
<img style='padding: 6px;' width='250px' src='{{.}}' class="rounded float-left">
	{{/ill_img_list}}
	</div>
	<div class='col-1'> 

	</div>
</div>
</script>
