
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/nonprofitcorp' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/nonprofitcorp/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>nonprofitcorp</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_nonprofitcorp/'>Return to nonprofitcorp list</a> </li>
{{^is_new}}
<li> <a href='/DURC/nonprofitcorp/create'>Create new nonprofitcorp </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{EIN_row_class}}'>
    <label for='EIN' class='col-sm-4 col-form-label'>EIN</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.EIN.has_errors}}is-invalid{{/errors.EIN.has_errors}}' id='EIN' name='EIN' placeholder='0' value='{{EIN}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.EIN.messages}}<li>{{.}}</li>{{/errors.EIN.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{TAXPAYER_NAME_row_class}}'>
    <label for='TAXPAYER_NAME' class='col-sm-4 col-form-label'>TAXPAYER_NAME</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.TAXPAYER_NAME.has_errors}}is-invalid{{/errors.TAXPAYER_NAME.has_errors}}' id='TAXPAYER_NAME' name='TAXPAYER_NAME' placeholder='NULL' value='{{TAXPAYER_NAME}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.TAXPAYER_NAME.messages}}<li>{{.}}</li>{{/errors.TAXPAYER_NAME.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='TAXPAYER_NAME' name='TAXPAYER_NAMENull' id='TAXPAYER_NAMENull' value='TAXPAYER_NAMENull' {{TAXPAYER_NAME_checked}}>
                    <label class='form-check-label' for='TAXPAYER_NAMENull'>null</label>
                </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/nonprofitcorp/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='nonprofitcorp' class='do-soft-delete btn btn-outline-danger'>Hard Delete nonprofitcorp</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many donation ( <a href='/DURC/donation/'>see all</a> )
{{^donation}}
(no values)
{{/donation}}
  </div>
<div class='card-body'>

<table id='table_donation' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> amount </th>
			<th> nonprofitcorp_id </th>
			<th> created_at </th>
			<th> updated_at </th>
			<th> deleted_at </th>

</tr>
</thead>
<tbody>
{{#donation}}
	<tr>
		{{#.}}
			<td><a href='/DURC/donation/{{id}}'>{{id}}</a></td>
			<td>{{amount}}</td>
			<td>{{nonprofitcorp_id_DURClabel}} ({{nonprofitcorp_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
			<td>{{deleted_at}}</td>

		{{/.}}
	</tr>
{{/donation}}
</tbody>
</table>
</div></div> <!-- end donation card-->
<br>
</div></div> <!--end has many card-->
<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
