
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/mtgset' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/mtgset/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>mtgset</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_mtgset/'>Return to mtgset list</a> </li>
{{^is_new}}
<li> <a href='/DURC/mtgset/create'>Create new mtgset </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{scryfall_id_row_class}}'>
    <label for='scryfall_id' class='col-sm-4 col-form-label'>scryfall_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.scryfall_id.has_errors}}is-invalid{{/errors.scryfall_id.has_errors}}' id='scryfall_id' name='scryfall_id' placeholder='' value='{{scryfall_id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.scryfall_id.messages}}<li>{{.}}</li>{{/errors.scryfall_id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{code_row_class}}'>
    <label for='code' class='col-sm-4 col-form-label'>code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.code.has_errors}}is-invalid{{/errors.code.has_errors}}' id='code' name='code' placeholder='' value='{{code}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.code.messages}}<li>{{.}}</li>{{/errors.code.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{mtgo_code_row_class}}'>
    <label for='mtgo_code' class='col-sm-4 col-form-label'>mtgo_code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.mtgo_code.has_errors}}is-invalid{{/errors.mtgo_code.has_errors}}' id='mtgo_code' name='mtgo_code' placeholder='NULL' value='{{mtgo_code}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.mtgo_code.messages}}<li>{{.}}</li>{{/errors.mtgo_code.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='mtgo_code' name='mtgo_codeNull' id='mtgo_codeNull' value='mtgo_codeNull' {{mtgo_code_checked}}>
                    <label class='form-check-label' for='mtgo_codeNull'>null</label>
                </div></div>
  <div class='form-group row {{arena_code_row_class}}'>
    <label for='arena_code' class='col-sm-4 col-form-label'>arena_code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.arena_code.has_errors}}is-invalid{{/errors.arena_code.has_errors}}' id='arena_code' name='arena_code' placeholder='NULL' value='{{arena_code}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.arena_code.messages}}<li>{{.}}</li>{{/errors.arena_code.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='arena_code' name='arena_codeNull' id='arena_codeNull' value='arena_codeNull' {{arena_code_checked}}>
                    <label class='form-check-label' for='arena_codeNull'>null</label>
                </div></div>
  <div class='form-group row {{tcgplayer_id_row_class}}'>
    <label for='tcgplayer_id' class='col-sm-4 col-form-label'>tcgplayer_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.tcgplayer_id.has_errors}}is-invalid{{/errors.tcgplayer_id.has_errors}}' id='tcgplayer_id' name='tcgplayer_id' placeholder='NULL' value='{{tcgplayer_id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.tcgplayer_id.messages}}<li>{{.}}</li>{{/errors.tcgplayer_id.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='tcgplayer_id' name='tcgplayer_idNull' id='tcgplayer_idNull' value='tcgplayer_idNull' {{tcgplayer_id_checked}}>
                    <label class='form-check-label' for='tcgplayer_idNull'>null</label>
                </div></div>
  <div class='form-group row {{name_row_class}}'>
    <label for='name' class='col-sm-4 col-form-label'>name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.name.has_errors}}is-invalid{{/errors.name.has_errors}}' id='name' name='name' placeholder='' value='{{name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.name.messages}}<li>{{.}}</li>{{/errors.name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{set_type_row_class}}'>
    <label for='set_type' class='col-sm-4 col-form-label'>set_type</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.set_type.has_errors}}is-invalid{{/errors.set_type.has_errors}}' id='set_type' name='set_type' placeholder='' value='{{set_type}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.set_type.messages}}<li>{{.}}</li>{{/errors.set_type.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{released_at_row_class}}'>
    <label for='released_at' class='col-sm-4 col-form-label'>released_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.released_at.has_errors}}is-invalid{{/errors.released_at.has_errors}}' id='released_at' name='released_at' placeholder='NULL' value='{{released_at}}' >
        
    <button type='button' class='btn btn-primary' id='released_at_FontPicker'>
    <img src='/css/ic_today_black_24dp_1x.png'> 
    </button>
    <button type='button' class='btn btn-primary' id='released_at_TodayNow'> Today </button>
    <div class='invalid-feedback'>
      <ul>
      {{#errors.released_at.messages}}<li>{{.}}</li>{{/errors.released_at.messages}}
      </ul>
   </div>
   <script>
	var released_atConv = new AnyTime.Converter({format: '%Y-%m-%d'});
  	$('#released_at_TodayNow').click( function(e) {
      		$('#released_at').val(released_atConv.format(new Date())).change(); } );

    	$('#released_at_FontPicker').click(
      		function(e) {
        		$('#released_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
    </script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='released_at' name='released_atNull' id='released_atNull' value='released_atNull' {{released_at_checked}}>
                    <label class='form-check-label' for='released_atNull'>null</label>
                </div></div>
  <div class='form-group row {{block_code_row_class}}'>
    <label for='block_code' class='col-sm-4 col-form-label'>block_code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.block_code.has_errors}}is-invalid{{/errors.block_code.has_errors}}' id='block_code' name='block_code' placeholder='NULL' value='{{block_code}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.block_code.messages}}<li>{{.}}</li>{{/errors.block_code.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='block_code' name='block_codeNull' id='block_codeNull' value='block_codeNull' {{block_code_checked}}>
                    <label class='form-check-label' for='block_codeNull'>null</label>
                </div></div>
  <div class='form-group row {{block_row_class}}'>
    <label for='block' class='col-sm-4 col-form-label'>block</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.block.has_errors}}is-invalid{{/errors.block.has_errors}}' id='block' name='block' placeholder='NULL' value='{{block}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.block.messages}}<li>{{.}}</li>{{/errors.block.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='block' name='blockNull' id='blockNull' value='blockNull' {{block_checked}}>
                    <label class='form-check-label' for='blockNull'>null</label>
                </div></div>
  <div class='form-group row {{parent_set_code_row_class}}'>
    <label for='parent_set_code' class='col-sm-4 col-form-label'>parent_set_code</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.parent_set_code.has_errors}}is-invalid{{/errors.parent_set_code.has_errors}}' id='parent_set_code' name='parent_set_code' placeholder='NULL' value='{{parent_set_code}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.parent_set_code.messages}}<li>{{.}}</li>{{/errors.parent_set_code.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='parent_set_code' name='parent_set_codeNull' id='parent_set_codeNull' value='parent_set_codeNull' {{parent_set_code_checked}}>
                    <label class='form-check-label' for='parent_set_codeNull'>null</label>
                </div></div>
  <div class='form-group row {{card_count_row_class}}'>
    <label for='card_count' class='col-sm-4 col-form-label'>card_count</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.card_count.has_errors}}is-invalid{{/errors.card_count.has_errors}}' id='card_count' name='card_count' placeholder='' value='{{card_count}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.card_count.messages}}<li>{{.}}</li>{{/errors.card_count.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{is_digital_row_class}}'>
    <div class='col-sm-4'><label>is_digital</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_digital' class='{{#errors.is_digital.has_errors}}is-invalid{{/errors.is_digital.has_errors}}'name='is_digital' {{is_digital}}  >
            <div class='invalid-feedback'>
                <ul>
                  {{#errors.is_digital.messages}}<li>{{.}}</li>{{/errors.is_digital.messages}}
                </ul>
            </div>
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_foil_only_row_class}}'>
    <div class='col-sm-4'><label>is_foil_only</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_foil_only' class='{{#errors.is_foil_only.has_errors}}is-invalid{{/errors.is_foil_only.has_errors}}'name='is_foil_only' {{is_foil_only}}  >
            <div class='invalid-feedback'>
                <ul>
                  {{#errors.is_foil_only.messages}}<li>{{.}}</li>{{/errors.is_foil_only.messages}}
                </ul>
            </div>
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_nonfoil_only_row_class}}'>
    <div class='col-sm-4'><label>is_nonfoil_only</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_nonfoil_only' class='{{#errors.is_nonfoil_only.has_errors}}is-invalid{{/errors.is_nonfoil_only.has_errors}}'name='is_nonfoil_only' {{is_nonfoil_only}}  >
            <div class='invalid-feedback'>
                <ul>
                  {{#errors.is_nonfoil_only.messages}}<li>{{.}}</li>{{/errors.is_nonfoil_only.messages}}
                </ul>
            </div>
       </div> 
    </div>
  </div>

  <div class='form-group row {{scryfall_uri_row_class}}'>
    <label for='scryfall_uri' class='col-sm-4 col-form-label'>scryfall_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.scryfall_uri.has_errors}}is-invalid{{/errors.scryfall_uri.has_errors}}' id='scryfall_uri' name='scryfall_uri' placeholder='' value='{{scryfall_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.scryfall_uri.messages}}<li>{{.}}</li>{{/errors.scryfall_uri.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{mtgset_uri_row_class}}'>
    <label for='mtgset_uri' class='col-sm-4 col-form-label'>mtgset_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.mtgset_uri.has_errors}}is-invalid{{/errors.mtgset_uri.has_errors}}' id='mtgset_uri' name='mtgset_uri' placeholder='' value='{{mtgset_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.mtgset_uri.messages}}<li>{{.}}</li>{{/errors.mtgset_uri.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{icon_svg_uri_row_class}}'>
    <label for='icon_svg_uri' class='col-sm-4 col-form-label'>icon_svg_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.icon_svg_uri.has_errors}}is-invalid{{/errors.icon_svg_uri.has_errors}}' id='icon_svg_uri' name='icon_svg_uri' placeholder='' value='{{icon_svg_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.icon_svg_uri.messages}}<li>{{.}}</li>{{/errors.icon_svg_uri.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{search_uri_row_class}}'>
    <label for='search_uri' class='col-sm-4 col-form-label'>search_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.search_uri.has_errors}}is-invalid{{/errors.search_uri.has_errors}}' id='search_uri' name='search_uri' placeholder='' value='{{search_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.search_uri.messages}}<li>{{.}}</li>{{/errors.search_uri.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='current_timestamp()' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='current_timestamp()' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/mtgset/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='mtgset' class='do-soft-delete btn btn-outline-danger'>Hard Delete mtgset</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many card ( <a href='/DURC/card/'>see all</a> )
{{^card}}
(no values)
{{/card}}
  </div>
<div class='card-body'>

<table id='table_card' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> scryfall_id </th>
			<th> lang </th>
			<th> oracle_id </th>
			<th> rulings_uri </th>
			<th> scryfall_web_uri </th>
			<th> scryfall_api_uri </th>
			<th> layout </th>
			<th> rarity </th>
			<th> released_at </th>
			<th> set_name </th>
			<th> set_type </th>
			<th> mtgset_id </th>
			<th> collector_number </th>
			<th> sortable_collector_number </th>
			<th> variation_of_scryfall_id </th>
			<th> edhrec_rank </th>
			<th> is_promo </th>
			<th> is_reserved </th>
			<th> is_story_spotlight </th>
			<th> is_reprint </th>
			<th> is_variation </th>
			<th> is_game_paper </th>
			<th> is_game_mtgo </th>
			<th> is_game_arena </th>
			<th> legal_oldschool </th>
			<th> legal_duel </th>
			<th> legal_commander </th>
			<th> legal_brawl </th>
			<th> legal_penny </th>
			<th> legal_vintage </th>
			<th> legal_pauper </th>
			<th> legal_legacy </th>
			<th> legal_modern </th>
			<th> legal_frontier </th>
			<th> legal_future </th>
			<th> legal_standard </th>
			<th> legal_historic </th>
			<th> legal_pioneer </th>
			<th> binder_group_number </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#card}}
	<tr>
		{{#.}}
			<td><a href='/DURC/card/{{id}}'>{{id}}</a></td>
			<td>{{scryfall_id_DURClabel}} ({{scryfall_id}}) </td>			<td>{{lang}}</td>
			<td>{{oracle_id_DURClabel}} ({{oracle_id}}) </td>			<td>{{rulings_uri}}</td>
			<td>{{scryfall_web_uri}}</td>
			<td>{{scryfall_api_uri}}</td>
			<td>{{layout}}</td>
			<td>{{rarity}}</td>
			<td>{{released_at}}</td>
			<td>{{set_name}}</td>
			<td>{{set_type}}</td>
			<td>{{mtgset_id_DURClabel}} ({{mtgset_id}}) </td>			<td>{{collector_number}}</td>
			<td>{{sortable_collector_number}}</td>
			<td>{{variation_of_scryfall_id_DURClabel}} ({{variation_of_scryfall_id}}) </td>			<td>{{edhrec_rank}}</td>
			<td>{{is_promo}}</td>
			<td>{{is_reserved}}</td>
			<td>{{is_story_spotlight}}</td>
			<td>{{is_reprint}}</td>
			<td>{{is_variation}}</td>
			<td>{{is_game_paper}}</td>
			<td>{{is_game_mtgo}}</td>
			<td>{{is_game_arena}}</td>
			<td>{{legal_oldschool}}</td>
			<td>{{legal_duel}}</td>
			<td>{{legal_commander}}</td>
			<td>{{legal_brawl}}</td>
			<td>{{legal_penny}}</td>
			<td>{{legal_vintage}}</td>
			<td>{{legal_pauper}}</td>
			<td>{{legal_legacy}}</td>
			<td>{{legal_modern}}</td>
			<td>{{legal_frontier}}</td>
			<td>{{legal_future}}</td>
			<td>{{legal_standard}}</td>
			<td>{{legal_historic}}</td>
			<td>{{legal_pioneer}}</td>
			<td>{{binder_group_number}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/card}}
</tbody>
</table>
</div></div> <!-- end card card-->
<br>
</div></div> <!--end has many card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
