
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/mtgset' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/mtgset/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>mtgset</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_mtgset/'>Return to mtgset list</a> </li>
{{^is_new}}
<li> <a href='/DURC/mtgset/create'>Create new mtgset </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}' >
    </div>
  </div>

  <div class='form-group row {{scryfall_id_row_class}}'>
    <label for='scryfall_id' class='col-sm-4 col-form-label'>scryfall_id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='scryfall_id' name='scryfall_id' placeholder='' value='{{scryfall_id}}' >
    </div>
  </div>

  <div class='form-group row {{code_row_class}}'>
    <label for='code' class='col-sm-4 col-form-label'>code</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='code' name='code' placeholder='' value='{{code}}' >
    </div>
  </div>

  <div class='form-group row {{mtgo_code_row_class}}'>
    <label for='mtgo_code' class='col-sm-4 col-form-label'>mtgo_code</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='mtgo_code' name='mtgo_code' placeholder='' value='{{mtgo_code}}' >
    </div>
  </div>

  <div class='form-group row {{arena_code_row_class}}'>
    <label for='arena_code' class='col-sm-4 col-form-label'>arena_code</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='arena_code' name='arena_code' placeholder='' value='{{arena_code}}' >
    </div>
  </div>

  <div class='form-group row {{tcgplayer_id_row_class}}'>
    <label for='tcgplayer_id' class='col-sm-4 col-form-label'>tcgplayer_id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='tcgplayer_id' name='tcgplayer_id' placeholder='' value='{{tcgplayer_id}}' >
    </div>
  </div>

  <div class='form-group row {{name_row_class}}'>
    <label for='name' class='col-sm-4 col-form-label'>name</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='name' name='name' placeholder='' value='{{name}}' >
    </div>
  </div>

  <div class='form-group row {{set_type_row_class}}'>
    <label for='set_type' class='col-sm-4 col-form-label'>set_type</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='set_type' name='set_type' placeholder='' value='{{set_type}}' >
    </div>
  </div>

  <div class='form-group row {{released_at_row_class}}'>
    <label for='released_at' class='col-sm-4 col-form-label'>released_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='released_at' name='released_at' placeholder='' value='{{released_at}}' >
    </div>
  </div>

  <div class='form-group row {{block_code_row_class}}'>
    <label for='block_code' class='col-sm-4 col-form-label'>block_code</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='block_code' name='block_code' placeholder='' value='{{block_code}}' >
    </div>
  </div>

  <div class='form-group row {{block_row_class}}'>
    <label for='block' class='col-sm-4 col-form-label'>block</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='block' name='block' placeholder='' value='{{block}}' >
    </div>
  </div>

  <div class='form-group row {{parent_set_code_row_class}}'>
    <label for='parent_set_code' class='col-sm-4 col-form-label'>parent_set_code</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='parent_set_code' name='parent_set_code' placeholder='' value='{{parent_set_code}}' >
    </div>
  </div>

  <div class='form-group row {{card_count_row_class}}'>
    <label for='card_count' class='col-sm-4 col-form-label'>card_count</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='card_count' name='card_count' placeholder='' value='{{card_count}}' >
    </div>
  </div>

  <div class='form-group row {{is_digital_row_class}}'>
    <div class='col-sm-4'><label>is_digital</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_digital' name='is_digital' {{is_digital}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_foil_only_row_class}}'>
    <div class='col-sm-4'><label>is_foil_only</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_foil_only' name='is_foil_only' {{is_foil_only}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{scryfall_uri_row_class}}'>
    <label for='scryfall_uri' class='col-sm-4 col-form-label'>scryfall_uri</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='scryfall_uri' name='scryfall_uri' placeholder='' value='{{scryfall_uri}}' >
    </div>
  </div>

  <div class='form-group row {{mtgset_uri_row_class}}'>
    <label for='mtgset_uri' class='col-sm-4 col-form-label'>mtgset_uri</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='mtgset_uri' name='mtgset_uri' placeholder='' value='{{mtgset_uri}}' >
    </div>
  </div>

  <div class='form-group row {{icon_svg_uri_row_class}}'>
    <label for='icon_svg_uri' class='col-sm-4 col-form-label'>icon_svg_uri</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='icon_svg_uri' name='icon_svg_uri' placeholder='' value='{{icon_svg_uri}}' >
    </div>
  </div>

  <div class='form-group row {{search_uri_row_class}}'>
    <label for='search_uri' class='col-sm-4 col-form-label'>search_uri</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='search_uri' name='search_uri' placeholder='' value='{{search_uri}}' >
    </div>
  </div>

  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/mtgset/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='mtgset' class='do-soft-delete btn btn-outline-danger'>Hard Delete mtgset</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many card ( <a href='/DURC/card/'>see all</a> )
{{^card}}
(no values)
{{/card}}
  </div>
<div class='card-body'>

<table id='table_card' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> scryfall_id </th>
			<th> lang </th>
			<th> oracle_id </th>
			<th> rulings_uri </th>
			<th> scryfall_web_uri </th>
			<th> scryfall_api_uri </th>
			<th> layout </th>
			<th> rarity </th>
			<th> released_at </th>
			<th> set_name </th>
			<th> set_type </th>
			<th> mtgset_id </th>
			<th> variation_of_scryfall_id </th>
			<th> edhrec_rank </th>
			<th> is_promo </th>
			<th> is_reserved </th>
			<th> is_story_spotlight </th>
			<th> is_reprint </th>
			<th> is_variation </th>
			<th> is_game_paper </th>
			<th> is_game_mtgo </th>
			<th> is_game_arena </th>
			<th> legal_oldschool </th>
			<th> legal_duel </th>
			<th> legal_commander </th>
			<th> legal_brawl </th>
			<th> legal_penny </th>
			<th> legal_vintage </th>
			<th> legal_pauper </th>
			<th> legal_legacy </th>
			<th> legal_modern </th>
			<th> legal_frontier </th>
			<th> legal_future </th>
			<th> legal_standard </th>
			<th> legal_historic </th>
			<th> legal_pioneer </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#card}}
	<tr>
		{{#.}}
			<td><a href='/DURC/card/{{id}}'>{{id}}</a></td>
			<td>{{scryfall_id_DURClabel}} ({{scryfall_id}}) </td>			<td>{{lang}}</td>
			<td>{{oracle_id_DURClabel}} ({{oracle_id}}) </td>			<td>{{rulings_uri}}</td>
			<td>{{scryfall_web_uri}}</td>
			<td>{{scryfall_api_uri}}</td>
			<td>{{layout}}</td>
			<td>{{rarity}}</td>
			<td>{{released_at}}</td>
			<td>{{set_name}}</td>
			<td>{{set_type}}</td>
			<td>{{mtgset_id_DURClabel}} ({{mtgset_id}}) </td>			<td>{{variation_of_scryfall_id_DURClabel}} ({{variation_of_scryfall_id}}) </td>			<td>{{edhrec_rank}}</td>
			<td>{{is_promo}}</td>
			<td>{{is_reserved}}</td>
			<td>{{is_story_spotlight}}</td>
			<td>{{is_reprint}}</td>
			<td>{{is_variation}}</td>
			<td>{{is_game_paper}}</td>
			<td>{{is_game_mtgo}}</td>
			<td>{{is_game_arena}}</td>
			<td>{{legal_oldschool}}</td>
			<td>{{legal_duel}}</td>
			<td>{{legal_commander}}</td>
			<td>{{legal_brawl}}</td>
			<td>{{legal_penny}}</td>
			<td>{{legal_vintage}}</td>
			<td>{{legal_pauper}}</td>
			<td>{{legal_legacy}}</td>
			<td>{{legal_modern}}</td>
			<td>{{legal_frontier}}</td>
			<td>{{legal_future}}</td>
			<td>{{legal_standard}}</td>
			<td>{{legal_historic}}</td>
			<td>{{legal_pioneer}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/card}}
</tbody>
</table>
</div></div> <!-- end card card-->
<br>
</div></div> <!--end has many card-->
<br>
