
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/comment' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/comment/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>comment</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_comment/'>Return to comment list</a> </li>
{{^is_new}}
<li> <a href='/DURC/comment/create'>Create new comment </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{commentId_row_class}}'>
    <label for='commentId' class='col-sm-4 col-form-label'>commentId</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.commentId.has_errors}}is-invalid{{/errors.commentId.has_errors}}' id='commentId' name='commentId' placeholder='' value='{{commentId}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.commentId.messages}}<li>{{.}}</li>{{/errors.commentId.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{comment_on_documentId_row_class}}'>
    <label for='comment_on_documentId' class='col-sm-4 col-form-label'>comment_on_documentId</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.comment_on_documentId.has_errors}}is-invalid{{/errors.comment_on_documentId.has_errors}}' id='comment_on_documentId' name='comment_on_documentId' placeholder='' value='{{comment_on_documentId}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.comment_on_documentId.messages}}<li>{{.}}</li>{{/errors.comment_on_documentId.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{comment_date_text_row_class}}'>
    <label for='comment_date_text' class='col-sm-4 col-form-label'>comment_date_text</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.comment_date_text.has_errors}}is-invalid{{/errors.comment_date_text.has_errors}}' id='comment_date_text' name='comment_date_text' placeholder='' value='{{comment_date_text}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.comment_date_text.messages}}<li>{{.}}</li>{{/errors.comment_date_text.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{comment_date_row_class}}'>
    <label for='comment_date' class='col-sm-4 col-form-label'>comment_date</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.comment_date.has_errors}}is-invalid{{/errors.comment_date.has_errors}}' id='comment_date' name='comment_date' placeholder='NULL' value='{{comment_date}}' >

<button type='button' class='btn btn-primary' id='comment_date_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='comment_date_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.comment_date.messages}}<li>{{.}}</li>{{/errors.comment_date.messages}}
  </ul>
</div><script>
	var comment_dateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#comment_date_TodayNow').click( function(e) {
      		$('#comment_date').val(comment_dateConv.format(new Date())).change(); } );

    	$('#comment_date_FontPicker').click(
      		function(e) {
        		$('#comment_date').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='comment_date' name='comment_dateNull' id='comment_dateNull' value='comment_dateNull' {{comment_date_checked}}>
                    <label class='form-check-label' for='comment_dateNull'>null</label>
                </div></div>
  <div class='form-group row {{comment_text_row_class}}'>
    <label for='comment_text' class='col-sm-4 col-form-label'>comment_text</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.comment_text.has_errors}}is-invalid{{/errors.comment_text.has_errors}}' id='comment_text' name='comment_text' placeholder='' value='{{comment_text}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.comment_text.messages}}<li>{{.}}</li>{{/errors.comment_text.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{simplified_comment_text_row_class}}'>
    <label for='simplified_comment_text' class='col-sm-4 col-form-label'>simplified_comment_text</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.simplified_comment_text.has_errors}}is-invalid{{/errors.simplified_comment_text.has_errors}}' id='simplified_comment_text' name='simplified_comment_text' placeholder='' value='{{simplified_comment_text}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.simplified_comment_text.messages}}<li>{{.}}</li>{{/errors.simplified_comment_text.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{simplified_comment_text_md5_row_class}}'>
    <label for='simplified_comment_text_md5' class='col-sm-4 col-form-label'>simplified_comment_text_md5</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.simplified_comment_text_md5.has_errors}}is-invalid{{/errors.simplified_comment_text_md5.has_errors}}' id='simplified_comment_text_md5' name='simplified_comment_text_md5' placeholder='NULL' value='{{simplified_comment_text_md5}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.simplified_comment_text_md5.messages}}<li>{{.}}</li>{{/errors.simplified_comment_text_md5.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='simplified_comment_text_md5' name='simplified_comment_text_md5Null' id='simplified_comment_text_md5Null' value='simplified_comment_text_md5Null' {{simplified_comment_text_md5_checked}}>
                    <label class='form-check-label' for='simplified_comment_text_md5Null'>null</label>
                </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/comment/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='comment' class='do-soft-delete btn btn-outline-danger'>Hard Delete comment</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many uniquecomment_to_comment ( <a href='/DURC/uniquecomment_to_comment/'>see all</a> )
{{^uniquecomment_to_comment}}
(no values)
{{/uniquecomment_to_comment}}
  </div>
<div class='card-body'>

<table id='table_uniquecomment_to_comment' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> comment_id </th>
			<th> uniquecomment_id </th>

</tr>
</thead>
<tbody>
{{#uniquecomment_to_comment}}
	<tr>
		{{#.}}
			<td>{{comment_id_DURClabel}} ({{comment_id}}) </td>			<td>{{uniquecomment_id_DURClabel}} ({{uniquecomment_id}}) </td>
		{{/.}}
	</tr>
{{/uniquecomment_to_comment}}
</tbody>
</table>
</div></div> <!-- end uniquecomment_to_comment card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has one unique_uniquecomment_cluster ( <a href='/DURC/uniquecomment_cluster/'>see all</a> )
{{^unique_uniquecomment_cluster}}
(no values)
{{/unique_uniquecomment_cluster}}
  </div>
<div class='card-body'>

<table id='table_unique_uniquecomment_cluster' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> unique_comment_id </th>
			<th> other_unique_comment_id </th>
			<th> score </th>
			<th> diff_text </th>

</tr>
</thead>
<tbody>
{{#unique_uniquecomment_cluster}}
	<tr>
		{{#.}}
			<td><a href='/DURC/uniquecomment_cluster/{{unique_comment_id}}'>{{unique_comment_id}}</a></td>
			<td><a href='/DURC/uniquecomment_cluster/{{other_unique_comment_id}}'>{{other_unique_comment_id}}</a></td>
			<td>{{score}}</td>
			<td>{{diff_text}}</td>

		{{/.}}
	</tr>
{{/unique_uniquecomment_cluster}}
</tbody>
</table>
</div></div> <!-- end unique_uniquecomment_cluster card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has one other_unique_uniquecomment_cluster ( <a href='/DURC/uniquecomment_cluster/'>see all</a> )
{{^other_unique_uniquecomment_cluster}}
(no values)
{{/other_unique_uniquecomment_cluster}}
  </div>
<div class='card-body'>

<table id='table_other_unique_uniquecomment_cluster' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> unique_comment_id </th>
			<th> other_unique_comment_id </th>
			<th> score </th>
			<th> diff_text </th>

</tr>
</thead>
<tbody>
{{#other_unique_uniquecomment_cluster}}
	<tr>
		{{#.}}
			<td><a href='/DURC/uniquecomment_cluster/{{unique_comment_id}}'>{{unique_comment_id}}</a></td>
			<td><a href='/DURC/uniquecomment_cluster/{{other_unique_comment_id}}'>{{other_unique_comment_id}}</a></td>
			<td>{{score}}</td>
			<td>{{diff_text}}</td>

		{{/.}}
	</tr>
{{/other_unique_uniquecomment_cluster}}
</tbody>
</table>
</div></div> <!-- end other_unique_uniquecomment_cluster card-->
<br>
</div></div> <!--end has many card-->
<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
