
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/classofc_classofc_vspack' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/classofc_classofc_vspack/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>classofc_classofc_vspack</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_classofc_classofc_vspack/'>Return to classofc_classofc_vspack list</a> </li>
{{^is_new}}
<li> <a href='/DURC/classofc_classofc_vspack/create'>Create new classofc_classofc_vspack </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  required>
    </div></div>
  <div class='form-group row {{classofc_id_row_class}}'>
    <label for='classofc_id' class='col-sm-4 col-form-label'>classofc_id</label>
    <div class='col-sm-7'>
	Current id value: {{classofc_id}} (see below for lookup value)<br>
	<select class='select2_classofc_id form-control' id='classofc_id' name='classofc_id'  >
	<option value='{{classofc_id}}' selected='selected'>{{classofc_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_classofc_id').select2({
  ajax: {
    url: '/DURC/searchjson/classofc',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{second_classofc_id_row_class}}'>
    <label for='second_classofc_id' class='col-sm-4 col-form-label'>second_classofc_id</label>
    <div class='col-sm-7'>
	Current id value: {{second_classofc_id}} (see below for lookup value)<br>
	<select class='select2_second_classofc_id form-control' id='second_classofc_id' name='second_classofc_id'  >
	<option value='{{second_classofc_id}}' selected='selected'>{{second_classofc_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_second_classofc_id').select2({
  ajax: {
    url: '/DURC/searchjson/classofc',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{vspack_id_row_class}}'>
    <label for='vspack_id' class='col-sm-4 col-form-label'>vspack_id</label>
    <div class='col-sm-7'>
	Current id value: {{vspack_id}} (see below for lookup value)<br>
	<select class='select2_vspack_id form-control' id='vspack_id' name='vspack_id'  >
	<option value='{{vspack_id}}' selected='selected'>{{vspack_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_vspack_id').select2({
  ajax: {
    url: '/DURC/searchjson/vspack',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{is_bulk_linker_row_class}}'>
    <div class='col-sm-4'><label>is_bulk_linker</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_bulk_linker' name='is_bulk_linker' {{is_bulk_linker}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{link_note_row_class}}'>
    <label for='link_note' class='col-sm-4 col-form-label'>link_note</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='link_note' name='link_note' placeholder='' value='{{link_note}}'  required>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/classofc_classofc_vspack/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='classofc_classofc_vspack' class='do-soft-delete btn btn-outline-danger'>Hard Delete classofc_classofc_vspack</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    classofc ( <a href='/DURC/classofc/'>see all</a> )
{{^classofc}}
(no values)
{{/classofc}}
  </div>
<div class='card-body'>
<table id='table_classofc' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_name </th>
			<th> classofc_img_uri </th>
			<th> classofc_wiki_url </th>
			<th> is_mega_class </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc/{{id}}'>{{id}}</a></td>
			<td>{{classofc_name}}</td>
			<td>{{classofc_img_uri}}</td>
			<td>{{classofc_wiki_url}}</td>
			<td>{{is_mega_class}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/classofc}}
</tbody>
</table>
</div></div> <!-- end classofc card-->

<div class='card'>
  <div class='card-header'>
    second_classofc ( <a href='/DURC/classofc/'>see all</a> )
{{^second_classofc}}
(no values)
{{/second_classofc}}
  </div>
<div class='card-body'>
<table id='table_second_classofc' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> classofc_name </th>
			<th> classofc_img_uri </th>
			<th> classofc_wiki_url </th>
			<th> is_mega_class </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#second_classofc}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc/{{id}}'>{{id}}</a></td>
			<td>{{classofc_name}}</td>
			<td>{{classofc_img_uri}}</td>
			<td>{{classofc_wiki_url}}</td>
			<td>{{is_mega_class}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/second_classofc}}
</tbody>
</table>
</div></div> <!-- end second_classofc card-->

<div class='card'>
  <div class='card-header'>
    vspack ( <a href='/DURC/vspack/'>see all</a> )
{{^vspack}}
(no values)
{{/vspack}}
  </div>
<div class='card-body'>
<table id='table_vspack' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> vspack_name </th>
			<th> vspack_wizards_url </th>
			<th> vspack_wiki_url </th>
			<th> vspack_img_url </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#vspack}}
	<tr>
		{{#.}}
			<td><a href='/DURC/vspack/{{id}}'>{{id}}</a></td>
			<td>{{vspack_name}}</td>
			<td>{{vspack_wizards_url}}</td>
			<td>{{vspack_wiki_url}}</td>
			<td>{{vspack_img_url}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/vspack}}
</tbody>
</table>
</div></div> <!-- end vspack card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
