
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/order_2018' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/order_2018/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>order_2018</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_order_2018/'>Return to order_2018 list</a> </li>
{{^is_new}}
<li> <a href='/DURC/order_2018/create'>Create new order_2018 </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{employee_id_row_class}}'>
    <label for='employee_id' class='col-sm-4 col-form-label'>employee_id</label>
    <div class='col-sm-7'>
	Current id value: {{employee_id}} (see below for lookup value)<br>
	<select class='select2_employee_id form-control' id='employee_id' name='employee_id'  >
	<option value='{{employee_id}}' selected='selected'>{{employee_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_employee_id').select2({
  ajax: {
    url: '/DURC/searchjson/employee',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{customer_id_row_class}}'>
    <label for='customer_id' class='col-sm-4 col-form-label'>customer_id</label>
    <div class='col-sm-7'>
	Current id value: {{customer_id}} (see below for lookup value)<br>
	<select class='select2_customer_id form-control' id='customer_id' name='customer_id'  >
	<option value='{{customer_id}}' selected='selected'>{{customer_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_customer_id').select2({
  ajax: {
    url: '/DURC/searchjson/customer',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{orderDate_row_class}}'>
    <label for='orderDate' class='col-sm-4 col-form-label'>orderDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.orderDate.has_errors}}is-invalid{{/errors.orderDate.has_errors}}' id='orderDate' name='orderDate' placeholder='current_timestamp()' value='{{orderDate}}' >

<button type='button' class='btn btn-primary' id='orderDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='orderDate_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.orderDate.messages}}<li>{{.}}</li>{{/errors.orderDate.messages}}
  </ul>
</div><script>
	var orderDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#orderDate_TodayNow').click( function(e) {
      		$('#orderDate').val(orderDateConv.format(new Date())).change(); } );

    	$('#orderDate_FontPicker').click(
      		function(e) {
        		$('#orderDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{shippedDate_row_class}}'>
    <label for='shippedDate' class='col-sm-4 col-form-label'>shippedDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shippedDate.has_errors}}is-invalid{{/errors.shippedDate.has_errors}}' id='shippedDate' name='shippedDate' placeholder='NULL' value='{{shippedDate}}' >

<button type='button' class='btn btn-primary' id='shippedDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='shippedDate_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.shippedDate.messages}}<li>{{.}}</li>{{/errors.shippedDate.messages}}
  </ul>
</div><script>
	var shippedDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#shippedDate_TodayNow').click( function(e) {
      		$('#shippedDate').val(shippedDateConv.format(new Date())).change(); } );

    	$('#shippedDate_FontPicker').click(
      		function(e) {
        		$('#shippedDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shippedDate' name='shippedDateNull' id='shippedDateNull' value='shippedDateNull' {{shippedDate_checked}}>
                    <label class='form-check-label' for='shippedDateNull'>null</label>
                </div></div>
  <div class='form-group row {{shipper_id_row_class}}'>
    <label for='shipper_id' class='col-sm-4 col-form-label'>shipper_id</label>
    <div class='col-sm-7'>
	Current id value: {{shipper_id}} (see below for lookup value)<br>
	<select class='select2_shipper_id form-control' id='shipper_id' name='shipper_id'  >
	<option value='{{shipper_id}}' selected='selected'>{{shipper_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_shipper_id').select2({
  ajax: {
    url: '/DURC/searchjson/shipper',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{shipName_row_class}}'>
    <label for='shipName' class='col-sm-4 col-form-label'>shipName</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipName.has_errors}}is-invalid{{/errors.shipName.has_errors}}' id='shipName' name='shipName' placeholder='NULL' value='{{shipName}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipName.messages}}<li>{{.}}</li>{{/errors.shipName.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipName' name='shipNameNull' id='shipNameNull' value='shipNameNull' {{shipName_checked}}>
                    <label class='form-check-label' for='shipNameNull'>null</label>
                </div></div>
  <div class='form-group row {{shipAddress_row_class}}'>
    <label for='shipAddress' class='col-sm-4 col-form-label'>shipAddress</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipAddress.has_errors}}is-invalid{{/errors.shipAddress.has_errors}}' id='shipAddress' name='shipAddress' placeholder='NULL' value='{{shipAddress}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipAddress.messages}}<li>{{.}}</li>{{/errors.shipAddress.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipAddress' name='shipAddressNull' id='shipAddressNull' value='shipAddressNull' {{shipAddress_checked}}>
                    <label class='form-check-label' for='shipAddressNull'>null</label>
                </div></div>
  <div class='form-group row {{shipCity_row_class}}'>
    <label for='shipCity' class='col-sm-4 col-form-label'>shipCity</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipCity.has_errors}}is-invalid{{/errors.shipCity.has_errors}}' id='shipCity' name='shipCity' placeholder='NULL' value='{{shipCity}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipCity.messages}}<li>{{.}}</li>{{/errors.shipCity.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipCity' name='shipCityNull' id='shipCityNull' value='shipCityNull' {{shipCity_checked}}>
                    <label class='form-check-label' for='shipCityNull'>null</label>
                </div></div>
  <div class='form-group row {{shipStateProvince_row_class}}'>
    <label for='shipStateProvince' class='col-sm-4 col-form-label'>shipStateProvince</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipStateProvince.has_errors}}is-invalid{{/errors.shipStateProvince.has_errors}}' id='shipStateProvince' name='shipStateProvince' placeholder='NULL' value='{{shipStateProvince}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipStateProvince.messages}}<li>{{.}}</li>{{/errors.shipStateProvince.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipStateProvince' name='shipStateProvinceNull' id='shipStateProvinceNull' value='shipStateProvinceNull' {{shipStateProvince_checked}}>
                    <label class='form-check-label' for='shipStateProvinceNull'>null</label>
                </div></div>
  <div class='form-group row {{shipZipPostalCode_row_class}}'>
    <label for='shipZipPostalCode' class='col-sm-4 col-form-label'>shipZipPostalCode</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipZipPostalCode.has_errors}}is-invalid{{/errors.shipZipPostalCode.has_errors}}' id='shipZipPostalCode' name='shipZipPostalCode' placeholder='NULL' value='{{shipZipPostalCode}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipZipPostalCode.messages}}<li>{{.}}</li>{{/errors.shipZipPostalCode.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipZipPostalCode' name='shipZipPostalCodeNull' id='shipZipPostalCodeNull' value='shipZipPostalCodeNull' {{shipZipPostalCode_checked}}>
                    <label class='form-check-label' for='shipZipPostalCodeNull'>null</label>
                </div></div>
  <div class='form-group row {{shipCountryRegion_row_class}}'>
    <label for='shipCountryRegion' class='col-sm-4 col-form-label'>shipCountryRegion</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shipCountryRegion.has_errors}}is-invalid{{/errors.shipCountryRegion.has_errors}}' id='shipCountryRegion' name='shipCountryRegion' placeholder='NULL' value='{{shipCountryRegion}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shipCountryRegion.messages}}<li>{{.}}</li>{{/errors.shipCountryRegion.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shipCountryRegion' name='shipCountryRegionNull' id='shipCountryRegionNull' value='shipCountryRegionNull' {{shipCountryRegion_checked}}>
                    <label class='form-check-label' for='shipCountryRegionNull'>null</label>
                </div></div>
  <div class='form-group row {{shippingFee_row_class}}'>
    <label for='shippingFee' class='col-sm-4 col-form-label'>shippingFee</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.shippingFee.has_errors}}is-invalid{{/errors.shippingFee.has_errors}}' id='shippingFee' name='shippingFee' placeholder='0.0000' value='{{shippingFee}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.shippingFee.messages}}<li>{{.}}</li>{{/errors.shippingFee.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='shippingFee' name='shippingFeeNull' id='shippingFeeNull' value='shippingFeeNull' {{shippingFee_checked}}>
                    <label class='form-check-label' for='shippingFeeNull'>null</label>
                </div></div>
  <div class='form-group row {{taxes_row_class}}'>
    <label for='taxes' class='col-sm-4 col-form-label'>taxes</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.taxes.has_errors}}is-invalid{{/errors.taxes.has_errors}}' id='taxes' name='taxes' placeholder='0.0000' value='{{taxes}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.taxes.messages}}<li>{{.}}</li>{{/errors.taxes.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='taxes' name='taxesNull' id='taxesNull' value='taxesNull' {{taxes_checked}}>
                    <label class='form-check-label' for='taxesNull'>null</label>
                </div></div>
  <div class='form-group row {{paymentType_row_class}}'>
    <label for='paymentType' class='col-sm-4 col-form-label'>paymentType</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.paymentType.has_errors}}is-invalid{{/errors.paymentType.has_errors}}' id='paymentType' name='paymentType' placeholder='NULL' value='{{paymentType}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.paymentType.messages}}<li>{{.}}</li>{{/errors.paymentType.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='paymentType' name='paymentTypeNull' id='paymentTypeNull' value='paymentTypeNull' {{paymentType_checked}}>
                    <label class='form-check-label' for='paymentTypeNull'>null</label>
                </div></div>
  <div class='form-group row {{paidDate_row_class}}'>
    <label for='paidDate' class='col-sm-4 col-form-label'>paidDate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.paidDate.has_errors}}is-invalid{{/errors.paidDate.has_errors}}' id='paidDate' name='paidDate' placeholder='NULL' value='{{paidDate}}' >

<button type='button' class='btn btn-primary' id='paidDate_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='paidDate_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.paidDate.messages}}<li>{{.}}</li>{{/errors.paidDate.messages}}
  </ul>
</div><script>
	var paidDateConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#paidDate_TodayNow').click( function(e) {
      		$('#paidDate').val(paidDateConv.format(new Date())).change(); } );

    	$('#paidDate_FontPicker').click(
      		function(e) {
        		$('#paidDate').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='paidDate' name='paidDateNull' id='paidDateNull' value='paidDateNull' {{paidDate_checked}}>
                    <label class='form-check-label' for='paidDateNull'>null</label>
                </div></div>
  <div class='form-group row {{notes_row_class}}'>
    <label for='notes' class='col-sm-4 col-form-label'>notes</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.notes.has_errors}}is-invalid{{/errors.notes.has_errors}}' id='notes' name='notes' placeholder='NULL' value='{{notes}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.notes.messages}}<li>{{.}}</li>{{/errors.notes.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='notes' name='notesNull' id='notesNull' value='notesNull' {{notes_checked}}>
                    <label class='form-check-label' for='notesNull'>null</label>
                </div></div>
  <div class='form-group row {{taxRate_row_class}}'>
    <label for='taxRate' class='col-sm-4 col-form-label'>taxRate</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.taxRate.has_errors}}is-invalid{{/errors.taxRate.has_errors}}' id='taxRate' name='taxRate' placeholder='0' value='{{taxRate}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.taxRate.messages}}<li>{{.}}</li>{{/errors.taxRate.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='taxRate' name='taxRateNull' id='taxRateNull' value='taxRateNull' {{taxRate_checked}}>
                    <label class='form-check-label' for='taxRateNull'>null</label>
                </div></div>
  <div class='form-group row {{taxStatus_id_row_class}}'>
    <label for='taxStatus_id' class='col-sm-4 col-form-label'>taxStatus_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.taxStatus_id.has_errors}}is-invalid{{/errors.taxStatus_id.has_errors}}' id='taxStatus_id' name='taxStatus_id' placeholder='NULL' value='{{taxStatus_id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.taxStatus_id.messages}}<li>{{.}}</li>{{/errors.taxStatus_id.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='taxStatus_id' name='taxStatus_idNull' id='taxStatus_idNull' value='taxStatus_idNull' {{taxStatus_id_checked}}>
                    <label class='form-check-label' for='taxStatus_idNull'>null</label>
                </div></div>
  <div class='form-group row {{status_id_row_class}}'>
    <label for='status_id' class='col-sm-4 col-form-label'>status_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.status_id.has_errors}}is-invalid{{/errors.status_id.has_errors}}' id='status_id' name='status_id' placeholder='0' value='{{status_id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.status_id.messages}}<li>{{.}}</li>{{/errors.status_id.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='status_id' name='status_idNull' id='status_idNull' value='status_idNull' {{status_id_checked}}>
                    <label class='form-check-label' for='status_idNull'>null</label>
                </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/order_2018/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='order_2018' class='do-soft-delete btn btn-outline-danger'>Hard Delete order_2018</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    employee ( <a href='/DURC/employee/'>see all</a> )
{{^employee}}
(no values)
{{/employee}}
  </div>
<div class='card-body'>
<table id='table_employee' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> company </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#employee}}
	<tr>
		{{#.}}
			<td><a href='/DURC/employee/{{id}}'>{{id}}</a></td>
			<td>{{company}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/employee}}
</tbody>
</table>
</div></div> <!-- end employee card-->

<div class='card'>
  <div class='card-header'>
    customer ( <a href='/DURC/customer/'>see all</a> )
{{^customer}}
(no values)
{{/customer}}
  </div>
<div class='card-body'>
<table id='table_customer' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> companyName </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>
			<th> random_date </th>
			<th> created_at </th>
			<th> updated_at </th>
			<th> deleted_at </th>

</tr>
</thead>
<tbody>
{{#customer}}
	<tr>
		{{#.}}
			<td><a href='/DURC/customer/{{id}}'>{{id}}</a></td>
			<td>{{companyName}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
			<td>{{random_date}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
			<td>{{deleted_at}}</td>
		
		{{/.}}
	</tr>
{{/customer}}
</tbody>
</table>
</div></div> <!-- end customer card-->

<div class='card'>
  <div class='card-header'>
    shipper ( <a href='/DURC/shipper/'>see all</a> )
{{^shipper}}
(no values)
{{/shipper}}
  </div>
<div class='card-body'>
<table id='table_shipper' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> company </th>
			<th> lastName </th>
			<th> firstName </th>
			<th> emailAddress </th>
			<th> jobTitle </th>
			<th> businessPhone </th>
			<th> homePhone </th>
			<th> mobilePhone </th>
			<th> faxNumber </th>
			<th> address </th>
			<th> city </th>
			<th> stateProvince </th>
			<th> zipPostalCode </th>
			<th> countryRegion </th>
			<th> webPage </th>
			<th> notes </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#shipper}}
	<tr>
		{{#.}}
			<td><a href='/DURC/shipper/{{id}}'>{{id}}</a></td>
			<td>{{company}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/shipper}}
</tbody>
</table>
</div></div> <!-- end shipper card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
