
<h1>order_2018 list </h1>
<h3> <a href='/Zermelo/DURC_order_2018'>Zermelo order_2018 Report</a></h3>
Create <a href='/DURC/order_2018/create/'>new order_2018</a><br>


{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_order_2018_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_order_2018_previous'>
			<a href='{{first_page_url}}' aria-controls='table_order_2018' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_order_2018' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_order_2018' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_order_2018' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_order_2018' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<table id='table_order_2018' class='table table-bordered table-hover table-responsive table-sm'>
<thead><tr>
<th scope='col'>#</th><th scope='col'>employee_id</th>
<th scope='col'>customer_id</th>
<th scope='col'>orderDate</th>
<th scope='col'>shippedDate</th>
<th scope='col'>shipper_id</th>
<th scope='col'>shipName</th>
<th scope='col'>shipAddress</th>
<th scope='col'>shipCity</th>
<th scope='col'>shipStateProvince</th>
<th scope='col'>shipZipPostalCode</th>
<th scope='col'>shipCountryRegion</th>
<th scope='col'>shippingFee</th>
<th scope='col'>taxes</th>
<th scope='col'>paymentType</th>
<th scope='col'>paidDate</th>
<th scope='col'>notes</th>
<th scope='col'>taxRate</th>
<th scope='col'>taxStatus_id</th>
<th scope='col'>status_id</th>

</tr></thead>
<tfoot><tr>
<th scope='col'>#</th><th scope='col'>employee_id</th>
<th scope='col'>customer_id</th>
<th scope='col'>orderDate</th>
<th scope='col'>shippedDate</th>
<th scope='col'>shipper_id</th>
<th scope='col'>shipName</th>
<th scope='col'>shipAddress</th>
<th scope='col'>shipCity</th>
<th scope='col'>shipStateProvince</th>
<th scope='col'>shipZipPostalCode</th>
<th scope='col'>shipCountryRegion</th>
<th scope='col'>shippingFee</th>
<th scope='col'>taxes</th>
<th scope='col'>paymentType</th>
<th scope='col'>paidDate</th>
<th scope='col'>notes</th>
<th scope='col'>taxRate</th>
<th scope='col'>taxStatus_id</th>
<th scope='col'>status_id</th>

</tr></tfoot>
<tbody>
  {{#data}}
    <tr>
	<th scope='row'><a href='/DURC/order_2018/{{id}}/'> {{id}} </a></th>			<td>{{employee_id_DURClabel}} <a href='/DURC/employee/{{employee_id}}/'> ({{employee_id}})</a> </td>			<td>{{customer_id_DURClabel}} <a href='/DURC/customer/{{customer_id}}/'> ({{customer_id}})</a> </td>			<td>{{orderDate}}</td>
			<td>{{shippedDate}}</td>
			<td>{{shipper_id_DURClabel}} <a href='/DURC/shipper/{{shipper_id}}/'> ({{shipper_id}})</a> </td>			<td>{{shipName}}</td>
			<td>{{shipAddress}}</td>
			<td>{{shipCity}}</td>
			<td>{{shipStateProvince}}</td>
			<td>{{shipZipPostalCode}}</td>
			<td>{{shipCountryRegion}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentType}}</td>
			<td>{{paidDate}}</td>
			<td>{{notes}}</td>
			<td>{{taxRate}}</td>

    </tr>
  {{/data}}

<tbody></table>



{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_order_2018_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_order_2018_previous'>
			<a href='{{first_page_url}}' aria-controls='table_order_2018' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_order_2018' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_order_2018' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_order_2018' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_order_2018' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<script type='text/javascript'>
//we need a way to check to see if the page is loaded before we call DataTable()
//but we frequently do not have JQuery yet... it could be loaded at the bottom of the page...
//so we have a pure JS alternative to the ready() function..
var DURC_checkReadyState = setInterval(() => {
  if (document.readyState === 'complete') {
    clearInterval(DURC_checkReadyState);
    // document is ready
    $('#table_order_2018').DataTable(
{
        'paging':   false,
        'info':     false
}
);
  }
}, 100);


</script>

