
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want..
            </div>

{{#is_new}}
<form action='/DURC/person' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/person/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>person</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_person/'>Return to person list</a> </li>
{{^is_new}}
<li> <a href='/DURC/person/create'>Create new person </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{last_name_row_class}}'>
    <label for='last_name' class='col-sm-4 col-form-label'>last_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.last_name.has_errors}}is-invalid{{/errors.last_name.has_errors}}' id='last_name' name='last_name' placeholder='' value='{{last_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.last_name.messages}}<li>{{.}}</li>{{/errors.last_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{first_name_row_class}}'>
    <label for='first_name' class='col-sm-4 col-form-label'>first_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.first_name.has_errors}}is-invalid{{/errors.first_name.has_errors}}' id='first_name' name='first_name' placeholder='' value='{{first_name}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.first_name.messages}}<li>{{.}}</li>{{/errors.first_name.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{person_blurb_row_class}}'>
    <label for='person_blurb' class='col-sm-4 col-form-label'>person_blurb</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.person_blurb.has_errors}}is-invalid{{/errors.person_blurb.has_errors}}' id='person_blurb' name='person_blurb' placeholder='' value='{{person_blurb}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.person_blurb.messages}}<li>{{.}}</li>{{/errors.person_blurb.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{image_uri_row_class}}'>
    <label for='image_uri' class='col-sm-4 col-form-label'>image_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.image_uri.has_errors}}is-invalid{{/errors.image_uri.has_errors}}' id='image_uri' name='image_uri' placeholder='NULL' value='{{image_uri}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.image_uri.messages}}<li>{{.}}</li>{{/errors.image_uri.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='image_uri' name='image_uriNull' id='image_uriNull' value='image_uriNull' {{image_uri_checked}}>
                    <label class='form-check-label' for='image_uriNull'>null</label>
                </div></div>
  <div class='form-group row {{wallpaper_download_url_row_class}}'>
    <label for='wallpaper_download_url' class='col-sm-4 col-form-label'>wallpaper_download_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.wallpaper_download_url.has_errors}}is-invalid{{/errors.wallpaper_download_url.has_errors}}' id='wallpaper_download_url' name='wallpaper_download_url' placeholder='NULL' value='{{wallpaper_download_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.wallpaper_download_url.messages}}<li>{{.}}</li>{{/errors.wallpaper_download_url.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='wallpaper_download_url' name='wallpaper_download_urlNull' id='wallpaper_download_urlNull' value='wallpaper_download_urlNull' {{wallpaper_download_url_checked}}>
                    <label class='form-check-label' for='wallpaper_download_urlNull'>null</label>
                </div></div>
  <div class='form-group row {{mtgwiki_url_row_class}}'>
    <label for='mtgwiki_url' class='col-sm-4 col-form-label'>mtgwiki_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.mtgwiki_url.has_errors}}is-invalid{{/errors.mtgwiki_url.has_errors}}' id='mtgwiki_url' name='mtgwiki_url' placeholder='NULL' value='{{mtgwiki_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.mtgwiki_url.messages}}<li>{{.}}</li>{{/errors.mtgwiki_url.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='mtgwiki_url' name='mtgwiki_urlNull' id='mtgwiki_urlNull' value='mtgwiki_urlNull' {{mtgwiki_url_checked}}>
                    <label class='form-check-label' for='mtgwiki_urlNull'>null</label>
                </div></div>
  <div class='form-group row {{wizards_story_url_row_class}}'>
    <label for='wizards_story_url' class='col-sm-4 col-form-label'>wizards_story_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.wizards_story_url.has_errors}}is-invalid{{/errors.wizards_story_url.has_errors}}' id='wizards_story_url' name='wizards_story_url' placeholder='NULL' value='{{wizards_story_url}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.wizards_story_url.messages}}<li>{{.}}</li>{{/errors.wizards_story_url.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='wizards_story_url' name='wizards_story_urlNull' id='wizards_story_urlNull' value='wizards_story_urlNull' {{wizards_story_url_checked}}>
                    <label class='form-check-label' for='wizards_story_urlNull'>null</label>
                </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='current_timestamp()' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='current_timestamp()' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>

</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/person/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='person' class='do-soft-delete btn btn-outline-danger'>Hard Delete person</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many cardface_person_atag ( <a href='/DURC/cardface_person_atag/'>see all</a> )
{{^cardface_person_atag}}
(no values)
{{/cardface_person_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_person_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> person_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_person_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_person_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/cardface_person_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_person_atag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_cardface ( <a href='/DURC/person_classofc_cardface/'>see all</a> )
{{^person_classofc_cardface}}
(no values)
{{/person_classofc_cardface}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> cardface_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_cardface/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_classofc_cardface}}
</tbody>
</table>
</div></div> <!-- end person_classofc_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_tag ( <a href='/DURC/person_classofc_tag/'>see all</a> )
{{^person_classofc_tag}}
(no values)
{{/person_classofc_tag}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_classofc_tag}}
</tbody>
</table>
</div></div> <!-- end person_classofc_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_creature_tag ( <a href='/DURC/person_creature_tag/'>see all</a> )
{{^person_creature_tag}}
(no values)
{{/person_creature_tag}}
  </div>
<div class='card-body'>

<table id='table_person_creature_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> creature_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_creature_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_creature_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{creature_id_DURClabel}} ({{creature_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_creature_tag}}
</tbody>
</table>
</div></div> <!-- end person_creature_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_strategy_strategytag ( <a href='/DURC/person_strategy_strategytag/'>see all</a> )
{{^person_strategy_strategytag}}
(no values)
{{/person_strategy_strategytag}}
  </div>
<div class='card-body'>

<table id='table_person_strategy_strategytag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> strategy_id </th>
			<th> strategytag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_strategy_strategytag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_strategy_strategytag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{strategy_id_DURClabel}} ({{strategy_id}}) </td>			<td>{{strategytag_id_DURClabel}} ({{strategytag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_strategy_strategytag}}
</tbody>
</table>
</div></div> <!-- end person_strategy_strategytag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_strategy_tag ( <a href='/DURC/person_strategy_tag/'>see all</a> )
{{^person_strategy_tag}}
(no values)
{{/person_strategy_tag}}
  </div>
<div class='card-body'>

<table id='table_person_strategy_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> strategy_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_strategy_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_strategy_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{strategy_id_DURClabel}} ({{strategy_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/person_strategy_tag}}
</tbody>
</table>
</div></div> <!-- end person_strategy_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many emblematic_theme ( <a href='/DURC/theme/'>see all</a> )
{{^emblematic_theme}}
(no values)
{{/emblematic_theme}}
  </div>
<div class='card-body'>

<table id='table_emblematic_theme' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> theme_name </th>
			<th> theme_description </th>
			<th> emblematic_person_id </th>
			<th> emblematic_cardface_id </th>
			<th> emblematic_creature_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#emblematic_theme}}
	<tr>
		{{#.}}
			<td>{{id}}</td>
			<td>{{theme_name}}</td>
			<td>{{theme_description}}</td>
			<td>{{emblematic_person_id_DURClabel}} ({{emblematic_person_id}}) </td>			<td>{{emblematic_cardface_id_DURClabel}} ({{emblematic_cardface_id}}) </td>			<td>{{emblematic_creature_id_DURClabel}} ({{emblematic_creature_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

		{{/.}}
	</tr>
{{/emblematic_theme}}
</tbody>
</table>
</div></div> <!-- end emblematic_theme card-->
<br>
</div></div> <!--end has many card-->
<br>

    <script type='text/javascript'>

        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }

    // This javascript controls the null checkboxes
        $(document).ready(function() {

            // keep an assoc array of the last entered values
            let last_null_values = {};

            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });

            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }
            });

            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
