
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/strategy' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/strategy/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>strategy</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_strategy/'>Return to strategy list</a> </li>
{{^is_new}}
<li> <a href='/DURC/strategy/create'>Create new strategy </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  required>
    </div></div>
  <div class='form-group row {{strategy_name_row_class}}'>
    <label for='strategy_name' class='col-sm-4 col-form-label'>strategy_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='strategy_name' name='strategy_name' placeholder='' value='{{strategy_name}}'  required>
    </div></div>
  <div class='form-group row {{strategy_description_row_class}}'>
    <label for='strategy_description' class='col-sm-4 col-form-label'>strategy_description</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='strategy_description' name='strategy_description' placeholder='' value='{{strategy_description}}'  required>
    </div></div>
  <div class='form-group row {{strategy_url_row_class}}'>
    <label for='strategy_url' class='col-sm-4 col-form-label'>strategy_url</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='strategy_url' name='strategy_url' placeholder='' value='{{strategy_url}}'  required>
    </div></div>
  <div class='form-group row {{wincon_cardface_id_row_class}}'>
    <label for='wincon_cardface_id' class='col-sm-4 col-form-label'>wincon_cardface_id</label>
    <div class='col-sm-7'>
	Current id value: {{wincon_cardface_id}} (see below for lookup value)<br>
	<select class='select2_wincon_cardface_id form-control' id='wincon_cardface_id' name='wincon_cardface_id'  >
	<option value='{{wincon_cardface_id}}' selected='selected'>{{wincon_cardface_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_wincon_cardface_id').select2({
  ajax: {
    url: '/DURC/searchjson/cardface',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{WOTC_rule_reference_row_class}}'>
    <label for='WOTC_rule_reference' class='col-sm-4 col-form-label'>WOTC_rule_reference</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='WOTC_rule_reference' name='WOTC_rule_reference' placeholder='' value='{{WOTC_rule_reference}}'  required>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/strategy/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='strategy' class='do-soft-delete btn btn-outline-danger'>Hard Delete strategy</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many person_strategy_strategytag ( <a href='/DURC/person_strategy_strategytag/'>see all</a> )
{{^person_strategy_strategytag}}
(no values)
{{/person_strategy_strategytag}}
  </div>
<div class='card-body'>

<table id='table_person_strategy_strategytag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> strategy_id </th>
			<th> strategytag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_strategy_strategytag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_strategy_strategytag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{strategy_id_DURClabel}} ({{strategy_id}}) </td>			<td>{{strategytag_id_DURClabel}} ({{strategytag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_strategy_strategytag}}
</tbody>
</table>
</div></div> <!-- end person_strategy_strategytag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_strategy_tag ( <a href='/DURC/person_strategy_tag/'>see all</a> )
{{^person_strategy_tag}}
(no values)
{{/person_strategy_tag}}
  </div>
<div class='card-body'>

<table id='table_person_strategy_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> strategy_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_strategy_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_strategy_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{strategy_id_DURClabel}} ({{strategy_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_strategy_tag}}
</tbody>
</table>
</div></div> <!-- end person_strategy_tag card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    wincon_cardface ( <a href='/DURC/cardface/'>see all</a> )
{{^wincon_cardface}}
(no values)
{{/wincon_cardface}}
  </div>
<div class='card-body'>
<table id='table_wincon_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> card_id </th>
			<th> cardface_index </th>
			<th> illustration_id </th>
			<th> artist </th>
			<th> color </th>
			<th> color_identity </th>
			<th> flavor_text </th>
			<th> image_uri </th>
			<th> mana_cost </th>
			<th> cmc </th>
			<th> name </th>
			<th> oracle_text </th>
			<th> power </th>
			<th> toughness </th>
			<th> type_line </th>
			<th> border_color </th>
			<th> image_uri_art_crop </th>
			<th> image_hash_art_crop </th>
			<th> image_uri_small </th>
			<th> image_hash_small </th>
			<th> image_uri_normal </th>
			<th> image_hash_normal </th>
			<th> image_uri_large </th>
			<th> image_hash_large </th>
			<th> image_uri_png </th>
			<th> image_hash_png </th>
			<th> image_uri_border_crop </th>
			<th> image_hash_border_crop </th>
			<th> is_foil </th>
			<th> is_nonfoil </th>
			<th> is_oversized </th>
			<th> is_color_green </th>
			<th> is_color_red </th>
			<th> is_color_blue </th>
			<th> is_color_black </th>
			<th> is_color_white </th>
			<th> is_colorless </th>
			<th> color_count </th>
			<th> is_color_identity_green </th>
			<th> is_color_identity_red </th>
			<th> is_color_identity_blue </th>
			<th> is_color_identity_black </th>
			<th> is_color_identity_white </th>
			<th> color_identity_count </th>
			<th> is_snow </th>
			<th> has_phyrexian_mana </th>
			<th> for_fulltext_search </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#wincon_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface/{{id}}'>{{id}}</a></td>
			<td>{{card_id_DURClabel}} ({{card_id}}) </td>			<td>{{cardface_index}}</td>
			<td>{{illustration_id_DURClabel}} ({{illustration_id}}) </td>			<td>{{artist}}</td>
			<td>{{color}}</td>
			<td>{{color_identity}}</td>
			<td>{{flavor_text}}</td>
			<td>{{image_uri}}</td>
			<td>{{mana_cost}}</td>
			<td>{{cmc}}</td>
			<td>{{name}}</td>
			<td>{{oracle_text}}</td>
			<td>{{power}}</td>
			<td>{{toughness}}</td>
			<td>{{type_line}}</td>
			<td>{{border_color}}</td>
			<td>{{image_uri_art_crop}}</td>
			<td>{{image_hash_art_crop}}</td>
			<td>{{image_uri_small}}</td>
			<td>{{image_hash_small}}</td>
			<td>{{image_uri_normal}}</td>
			<td>{{image_hash_normal}}</td>
			<td>{{image_uri_large}}</td>
			<td>{{image_hash_large}}</td>
			<td>{{image_uri_png}}</td>
			<td>{{image_hash_png}}</td>
			<td>{{image_uri_border_crop}}</td>
			<td>{{image_hash_border_crop}}</td>
			<td>{{is_foil}}</td>
			<td>{{is_nonfoil}}</td>
			<td>{{is_oversized}}</td>
			<td>{{is_color_green}}</td>
			<td>{{is_color_red}}</td>
			<td>{{is_color_blue}}</td>
			<td>{{is_color_black}}</td>
			<td>{{is_color_white}}</td>
			<td>{{is_colorless}}</td>
			<td>{{color_count}}</td>
			<td>{{is_color_identity_green}}</td>
			<td>{{is_color_identity_red}}</td>
			<td>{{is_color_identity_blue}}</td>
			<td>{{is_color_identity_black}}</td>
			<td>{{is_color_identity_white}}</td>
			<td>{{color_identity_count}}</td>
			<td>{{is_snow}}</td>
			<td>{{has_phyrexian_mana}}</td>
			<td>{{for_fulltext_search}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/wincon_cardface}}
</tbody>
</table>
</div></div> <!-- end wincon_cardface card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
