
<h1>customer list </h1>
<h3> <a href='/Zermelo/DURC_customer'>Zermelo customer Report</a></h3>
Create <a href='/DURC/customer/create/'>new customer</a><br>


{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_customer_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_customer_previous'>
			<a href='{{first_page_url}}' aria-controls='table_customer' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_customer' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_customer' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_customer' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_customer' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<table id='table_customer' class='table table-bordered table-hover table-responsive table-sm'>
<thead><tr>
<th scope='col'>#</th><th scope='col'>companyName</th>
<th scope='col'>lastName</th>
<th scope='col'>firstName</th>
<th scope='col'>emailAddress</th>
<th scope='col'>jobTitle</th>
<th scope='col'>businessPhone</th>
<th scope='col'>homePhone</th>
<th scope='col'>mobilePhone</th>
<th scope='col'>faxNumber</th>
<th scope='col'>address</th>
<th scope='col'>city</th>
<th scope='col'>stateProvince</th>
<th scope='col'>zipPostalCode</th>
<th scope='col'>countryRegion</th>
<th scope='col'>webPage</th>
<th scope='col'>notes</th>
<th scope='col'>attachments</th>
<th scope='col'>random_date</th>
<th scope='col'>created_at</th>
<th scope='col'>updated_at</th>
<th scope='col'>deleted_at</th>

</tr></thead>
<tfoot><tr>
<th scope='col'>#</th><th scope='col'>companyName</th>
<th scope='col'>lastName</th>
<th scope='col'>firstName</th>
<th scope='col'>emailAddress</th>
<th scope='col'>jobTitle</th>
<th scope='col'>businessPhone</th>
<th scope='col'>homePhone</th>
<th scope='col'>mobilePhone</th>
<th scope='col'>faxNumber</th>
<th scope='col'>address</th>
<th scope='col'>city</th>
<th scope='col'>stateProvince</th>
<th scope='col'>zipPostalCode</th>
<th scope='col'>countryRegion</th>
<th scope='col'>webPage</th>
<th scope='col'>notes</th>
<th scope='col'>attachments</th>
<th scope='col'>random_date</th>
<th scope='col'>created_at</th>
<th scope='col'>updated_at</th>
<th scope='col'>deleted_at</th>

</tr></tfoot>
<tbody>
  {{#data}}
    <tr>
	<th scope='row'><a href='/DURC/customer/{{id}}/'> {{id}} </a></th>			<td>{{companyName}}</td>
			<td>{{lastName}}</td>
			<td>{{firstName}}</td>
			<td>{{emailAddress}}</td>
			<td>{{jobTitle}}</td>
			<td>{{businessPhone}}</td>
			<td>{{homePhone}}</td>
			<td>{{mobilePhone}}</td>
			<td>{{faxNumber}}</td>
			<td>{{address}}</td>
			<td>{{city}}</td>
			<td>{{stateProvince}}</td>
			<td>{{zipPostalCode}}</td>
			<td>{{countryRegion}}</td>
			<td>{{webPage}}</td>
			<td>{{notes}}</td>
			<td>{{attachments}}</td>
			<td>{{random_date}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
			<td>{{deleted_at}}</td>

    </tr>
  {{/data}}

<tbody></table>



{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_customer_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_customer_previous'>
			<a href='{{first_page_url}}' aria-controls='table_customer' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_customer' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_customer' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_customer' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_customer' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<script type='text/javascript'>
//we need a way to check to see if the page is loaded before we call DataTable()
//but we frequently do not have JQuery yet... it could be loaded at the bottom of the page...
//so we have a pure JS alternative to the ready() function..
var DURC_checkReadyState = setInterval(() => {
  if (document.readyState === 'complete') {
    clearInterval(DURC_checkReadyState);
    // document is ready
    $('#table_customer').DataTable(
{
        'paging':   false,
        'info':     false
}
);
  }
}, 100);


</script>

