
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/person_creature_relation' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/person_creature_relation/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>person_creature_relation</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/person_creature_relation/'>Return to person_creature_relation list</a> </li>
{{^is_new}}
<li> <a href='/DURC/person_creature_relation/create'>Create new person_creature_relation </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row {{person_id_row_class}}'>
    <label for='person_id' class='col-sm-2 col-form-label'>person_id</label>
    <div class='col-sm-10'>
	Current id value: {{person_id}} (see below for lookup value)<br>
	<select class='select2_person_id form-control' id='person_id' name='person_id' form-control'>
	<option value='{{person_id}}' selected='selected'>{{person_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_person_id').select2({
  ajax: {
    	url: '/DURC/searchjson/person/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{relation_id_row_class}}'>
    <label for='relation_id' class='col-sm-2 col-form-label'>relation_id</label>
    <div class='col-sm-10'>
	Current id value: {{relation_id}} (see below for lookup value)<br>
	<select class='select2_relation_id form-control' id='relation_id' name='relation_id' form-control'>
	<option value='{{relation_id}}' selected='selected'>{{relation_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_relation_id').select2({
  ajax: {
    	url: '/DURC/searchjson/relation/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{creature_id_row_class}}'>
    <label for='creature_id' class='col-sm-2 col-form-label'>creature_id</label>
    <div class='col-sm-10'>
	Current id value: {{creature_id}} (see below for lookup value)<br>
	<select class='select2_creature_id form-control' id='creature_id' name='creature_id' form-control'>
	<option value='{{creature_id}}' selected='selected'>{{creature_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_creature_id').select2({
  ajax: {
    	url: '/DURC/searchjson/creature/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{justification_note_row_class}}'>
    <label for='justification_note' class='col-sm-2 col-form-label'>justification_note</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='justification_note' name='justification_note' placeholder='' value='{{justification_note}}'>
    </div>
  </div>

  <div class='form-group row {{justification_url_row_class}}'>
    <label for='justification_url' class='col-sm-2 col-form-label'>justification_url</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='justification_url' name='justification_url' placeholder='' value='{{justification_url}}'>
    </div>
  </div>

  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-2 col-form-label'>created_at</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-2 col-form-label'>updated_at</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'>

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/person_creature_relation/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='person_creature_relation' class='do-soft-delete btn btn-outline-danger'>Hard Delete person_creature_relation</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    person ( <a href='/DURC/person/'>see all</a> )
{{^person}}
(no values)
{{/person}}
  </div>
<div class='card-body'>
<table id='table_person' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> last_name </th>
			<th> first_name </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person/{{id}}'>{{id}}</a></td>
			<td>{{last_name}}</td>
			<td>{{first_name}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person}}
</tbody>
</table>
</div></div> <!-- end person card-->

<div class='card'>
  <div class='card-header'>
    relation ( <a href='/DURC/relation/'>see all</a> )
{{^relation}}
(no values)
{{/relation}}
  </div>
<div class='card-body'>
<table id='table_relation' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> relation_name </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#relation}}
	<tr>
		{{#.}}
			<td><a href='/DURC/relation/{{id}}'>{{id}}</a></td>
			<td>{{relation_name}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/relation}}
</tbody>
</table>
</div></div> <!-- end relation card-->

<div class='card'>
  <div class='card-header'>
    creature ( <a href='/DURC/creature/'>see all</a> )
{{^creature}}
(no values)
{{/creature}}
  </div>
<div class='card-body'>
<table id='table_creature' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> creature_name </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#creature}}
	<tr>
		{{#.}}
			<td><a href='/DURC/creature/{{id}}'>{{id}}</a></td>
			<td>{{creature_name}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/creature}}
</tbody>
</table>
</div></div> <!-- end creature card-->
</div></div> <!--end belongs to card-->
<br>
