
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/purchaseorderdetail' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/purchaseorderdetail/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>purchaseorderdetail</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_purchaseorderdetail/'>Return to purchaseorderdetail list</a> </li>
{{^is_new}}
<li> <a href='/DURC/purchaseorderdetail/create'>Create new purchaseorderdetail </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'  >
    </div></div>
  <div class='form-group row {{purchaseOrder_id_row_class}}'>
    <label for='purchaseOrder_id' class='col-sm-4 col-form-label'>purchaseOrder_id</label>
    <div class='col-sm-7'>
	Current id value: {{purchaseOrder_id}} (see below for lookup value)<br>
	<select class='select2_purchaseOrder_id form-control' id='purchaseOrder_id' name='purchaseOrder_id'  >
	<option value='{{purchaseOrder_id}}' selected='selected'>{{purchaseOrder_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_purchaseOrder_id').select2({
  ajax: {
    url: '/DURC/searchjson/purchaseOrder',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{product_id_row_class}}'>
    <label for='product_id' class='col-sm-4 col-form-label'>product_id</label>
    <div class='col-sm-7'>
	Current id value: {{product_id}} (see below for lookup value)<br>
	<select class='select2_product_id form-control' id='product_id' name='product_id'  >
	<option value='{{product_id}}' selected='selected'>{{product_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_product_id').select2({
  ajax: {
    url: '/DURC/searchjson/product',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{quantity_row_class}}'>
    <label for='quantity' class='col-sm-4 col-form-label'>quantity</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='quantity' name='quantity' placeholder='' value='{{quantity}}'  required>
    </div></div>
  <div class='form-group row {{unitCost_row_class}}'>
    <label for='unitCost' class='col-sm-4 col-form-label'>unitCost</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='unitCost' name='unitCost' placeholder='' value='{{unitCost}}'  required>
    </div></div>
  <div class='form-group row {{dateReceived_row_class}}'>
    <label for='dateReceived' class='col-sm-4 col-form-label'>dateReceived</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='dateReceived' name='dateReceived' placeholder='' value='{{dateReceived}}'  >

<button type='button' class='btn btn-primary' id='dateReceived_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='dateReceived_TodayNow'> Today and Now</button>

<script>
	var dateReceivedConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#dateReceived_TodayNow').click( function(e) {
      		$('#dateReceived').val(dateReceivedConv.format(new Date())).change(); } );

    	$('#dateReceived_FontPicker').click(
      		function(e) {
        		$('#dateReceived').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{postedToInventory_row_class}}'>
    <label for='postedToInventory' class='col-sm-4 col-form-label'>postedToInventory</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='postedToInventory' name='postedToInventory' placeholder='0' value='{{postedToInventory}}'  >
    </div></div>
  <div class='form-group row {{inventory_id_row_class}}'>
    <label for='inventory_id' class='col-sm-4 col-form-label'>inventory_id</label>
    <div class='col-sm-7'>
	Current id value: {{inventory_id}} (see below for lookup value)<br>
	<select class='select2_inventory_id form-control' id='inventory_id' name='inventory_id'  >
	<option value='{{inventory_id}}' selected='selected'>{{inventory_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_inventory_id').select2({
  ajax: {
    url: '/DURC/searchjson/inventoryTransaction',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/purchaseorderdetail/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='purchaseorderdetail' class='do-soft-delete btn btn-outline-danger'>Hard Delete purchaseorderdetail</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    purchaseorder ( <a href='/DURC/purchaseorder/'>see all</a> )
{{^purchaseorder}}
(no values)
{{/purchaseorder}}
  </div>
<div class='card-body'>
<table id='table_purchaseorder' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> supplier_id </th>
			<th> createdBy_employee_id </th>
			<th> submittedDate </th>
			<th> creationDate </th>
			<th> status_id </th>
			<th> expectedDate </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentDate </th>
			<th> paymentAmount </th>
			<th> paymentMethod </th>
			<th> notes </th>
			<th> approvedBy_employee_id </th>
			<th> approvedDate </th>
			<th> submittedBy_employee_id </th>

</tr>
</thead>
<tbody>
{{#purchaseorder}}
	<tr>
		{{#.}}
			<td><a href='/DURC/purchaseorder/{{id}}'>{{id}}</a></td>
			<td>{{supplier_id_DURClabel}} ({{supplier_id}}) </td>			<td>{{createdBy_employee_id_DURClabel}} ({{createdBy_employee_id}}) </td>			<td>{{submittedDate}}</td>
			<td>{{creationDate}}</td>
			<td>{{status_id_DURClabel}} ({{status_id}}) </td>			<td>{{expectedDate}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentDate}}</td>
			<td>{{paymentAmount}}</td>
			<td>{{paymentMethod}}</td>
			<td>{{notes}}</td>
			<td>{{approvedBy_employee_id_DURClabel}} ({{approvedBy_employee_id}}) </td>			<td>{{approvedDate}}</td>
			<td>{{submittedBy_employee_id_DURClabel}} ({{submittedBy_employee_id}}) </td>		
		{{/.}}
	</tr>
{{/purchaseorder}}
</tbody>
</table>
</div></div> <!-- end purchaseorder card-->

<div class='card'>
  <div class='card-header'>
    product ( <a href='/DURC/product/'>see all</a> )
{{^product}}
(no values)
{{/product}}
  </div>
<div class='card-body'>
<table id='table_product' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> supplier_ids </th>
			<th> id </th>
			<th> productCode </th>
			<th> productName </th>
			<th> description </th>
			<th> standardCost </th>
			<th> listPrice </th>
			<th> reorderLevel </th>
			<th> targetLevel </th>
			<th> quantityPerUnit </th>
			<th> discontinued </th>
			<th> minimumReorderQuantity </th>
			<th> category </th>
			<th> attachments </th>

</tr>
</thead>
<tbody>
{{#product}}
	<tr>
		{{#.}}
			<td>{{supplier_ids}}</td>
			<td><a href='/DURC/product/{{id}}'>{{id}}</a></td>
			<td>{{productCode}}</td>
			<td>{{productName}}</td>
			<td>{{description}}</td>
			<td>{{standardCost}}</td>
			<td>{{listPrice}}</td>
			<td>{{reorderLevel}}</td>
			<td>{{targetLevel}}</td>
			<td>{{quantityPerUnit}}</td>
			<td>{{discontinued}}</td>
			<td>{{minimumReorderQuantity}}</td>
			<td>{{category}}</td>
			<td>{{attachments}}</td>
		
		{{/.}}
	</tr>
{{/product}}
</tbody>
</table>
</div></div> <!-- end product card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
