
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/card' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/card/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>card</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_card/'>Return to card list</a> </li>
{{^is_new}}
<li> <a href='/DURC/card/create'>Create new card </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id}}is-invalid{{/errors.id}}' id='id' name='id' placeholder='' value='{{id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id}}<li>{{.}}</li>{{/errors.id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{scryfall_id_row_class}}'>
    <label for='scryfall_id' class='col-sm-4 col-form-label'>scryfall_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.scryfall_id}}is-invalid{{/errors.scryfall_id}}' id='scryfall_id' name='scryfall_id' placeholder='' value='{{scryfall_id}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.scryfall_id}}<li>{{.}}</li>{{/errors.scryfall_id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{lang_row_class}}'>
    <label for='lang' class='col-sm-4 col-form-label'>lang</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.lang}}is-invalid{{/errors.lang}}' id='lang' name='lang' placeholder='' value='{{lang}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.lang}}<li>{{.}}</li>{{/errors.lang}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{oracle_id_row_class}}'>
    <label for='oracle_id' class='col-sm-4 col-form-label'>oracle_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.oracle_id}}is-invalid{{/errors.oracle_id}}' id='oracle_id' name='oracle_id' placeholder='' value='{{oracle_id}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.oracle_id}}<li>{{.}}</li>{{/errors.oracle_id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{rulings_uri_row_class}}'>
    <label for='rulings_uri' class='col-sm-4 col-form-label'>rulings_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.rulings_uri}}is-invalid{{/errors.rulings_uri}}' id='rulings_uri' name='rulings_uri' placeholder='' value='{{rulings_uri}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.rulings_uri}}<li>{{.}}</li>{{/errors.rulings_uri}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{scryfall_web_uri_row_class}}'>
    <label for='scryfall_web_uri' class='col-sm-4 col-form-label'>scryfall_web_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.scryfall_web_uri}}is-invalid{{/errors.scryfall_web_uri}}' id='scryfall_web_uri' name='scryfall_web_uri' placeholder='' value='{{scryfall_web_uri}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.scryfall_web_uri}}<li>{{.}}</li>{{/errors.scryfall_web_uri}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{scryfall_api_uri_row_class}}'>
    <label for='scryfall_api_uri' class='col-sm-4 col-form-label'>scryfall_api_uri</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.scryfall_api_uri}}is-invalid{{/errors.scryfall_api_uri}}' id='scryfall_api_uri' name='scryfall_api_uri' placeholder='' value='{{scryfall_api_uri}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.scryfall_api_uri}}<li>{{.}}</li>{{/errors.scryfall_api_uri}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{layout_row_class}}'>
    <label for='layout' class='col-sm-4 col-form-label'>layout</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.layout}}is-invalid{{/errors.layout}}' id='layout' name='layout' placeholder='' value='{{layout}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.layout}}<li>{{.}}</li>{{/errors.layout}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{rarity_row_class}}'>
    <label for='rarity' class='col-sm-4 col-form-label'>rarity</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.rarity}}is-invalid{{/errors.rarity}}' id='rarity' name='rarity' placeholder='' value='{{rarity}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.rarity}}<li>{{.}}</li>{{/errors.rarity}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{released_at_row_class}}'>
    <label for='released_at' class='col-sm-4 col-form-label'>released_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.released_at}}is-invalid{{/errors.released_at}}' id='released_at' name='released_at' placeholder='NULL' value='{{released_at}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.released_at}}<li>{{.}}</li>{{/errors.released_at}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='released_at' name='released_atNull' id='released_atNull' value='released_atNull' {{released_at_checked}}>
                    <label class='form-check-label' for='released_atNull'>null</label>
                </div></div>
  <div class='form-group row {{set_name_row_class}}'>
    <label for='set_name' class='col-sm-4 col-form-label'>set_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.set_name}}is-invalid{{/errors.set_name}}' id='set_name' name='set_name' placeholder='' value='{{set_name}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.set_name}}<li>{{.}}</li>{{/errors.set_name}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{set_type_row_class}}'>
    <label for='set_type' class='col-sm-4 col-form-label'>set_type</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.set_type}}is-invalid{{/errors.set_type}}' id='set_type' name='set_type' placeholder='' value='{{set_type}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.set_type}}<li>{{.}}</li>{{/errors.set_type}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{mtgset_id_row_class}}'>
    <label for='mtgset_id' class='col-sm-4 col-form-label'>mtgset_id</label>
    <div class='col-sm-7'>
	Current id value: {{mtgset_id}} (see below for lookup value)<br>
	<select class='select2_mtgset_id form-control' id='mtgset_id' name='mtgset_id'  >
	<option value='{{mtgset_id}}' selected='selected'>{{mtgset_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_mtgset_id').select2({
  ajax: {
    url: '/DURC/searchjson/mtgset',
    delay: 1000,
    dataType: 'json',
    data: function (params) {
          var query = {
              q: params.term,
              page: params.page || 1
          }

          // Query parameters will be ?search=[term]&page=[page]
          return query;
      }
  }
});


</script>


  <div class='form-group row {{variation_of_scryfall_id_row_class}}'>
    <label for='variation_of_scryfall_id' class='col-sm-4 col-form-label'>variation_of_scryfall_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.variation_of_scryfall_id}}is-invalid{{/errors.variation_of_scryfall_id}}' id='variation_of_scryfall_id' name='variation_of_scryfall_id' placeholder='NULL' value='{{variation_of_scryfall_id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.variation_of_scryfall_id}}<li>{{.}}</li>{{/errors.variation_of_scryfall_id}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='variation_of_scryfall_id' name='variation_of_scryfall_idNull' id='variation_of_scryfall_idNull' value='variation_of_scryfall_idNull' {{variation_of_scryfall_id_checked}}>
                    <label class='form-check-label' for='variation_of_scryfall_idNull'>null</label>
                </div></div>
  <div class='form-group row {{edhrec_rank_row_class}}'>
    <label for='edhrec_rank' class='col-sm-4 col-form-label'>edhrec_rank</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.edhrec_rank}}is-invalid{{/errors.edhrec_rank}}' id='edhrec_rank' name='edhrec_rank' placeholder='0' value='{{edhrec_rank}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.edhrec_rank}}<li>{{.}}</li>{{/errors.edhrec_rank}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='edhrec_rank' name='edhrec_rankNull' id='edhrec_rankNull' value='edhrec_rankNull' {{edhrec_rank_checked}}>
                    <label class='form-check-label' for='edhrec_rankNull'>null</label>
                </div></div>
  <div class='form-group row {{is_promo_row_class}}'>
    <div class='col-sm-4'><label>is_promo</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_promo' name='is_promo' {{is_promo}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_reserved_row_class}}'>
    <div class='col-sm-4'><label>is_reserved</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_reserved' name='is_reserved' {{is_reserved}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_story_spotlight_row_class}}'>
    <div class='col-sm-4'><label>is_story_spotlight</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_story_spotlight' name='is_story_spotlight' {{is_story_spotlight}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_reprint_row_class}}'>
    <label for='is_reprint' class='col-sm-4 col-form-label'>is_reprint</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.is_reprint}}is-invalid{{/errors.is_reprint}}' id='is_reprint' name='is_reprint' placeholder='0' value='{{is_reprint}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.is_reprint}}<li>{{.}}</li>{{/errors.is_reprint}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{is_variation_row_class}}'>
    <div class='col-sm-4'><label>is_variation</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_variation' name='is_variation' {{is_variation}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_game_paper_row_class}}'>
    <div class='col-sm-4'><label>is_game_paper</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_game_paper' name='is_game_paper' {{is_game_paper}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_game_mtgo_row_class}}'>
    <div class='col-sm-4'><label>is_game_mtgo</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_game_mtgo' name='is_game_mtgo' {{is_game_mtgo}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_game_arena_row_class}}'>
    <div class='col-sm-4'><label>is_game_arena</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_game_arena' name='is_game_arena' {{is_game_arena}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{legal_oldschool_row_class}}'>
    <label for='legal_oldschool' class='col-sm-4 col-form-label'>legal_oldschool</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_oldschool}}is-invalid{{/errors.legal_oldschool}}' id='legal_oldschool' name='legal_oldschool' placeholder='0' value='{{legal_oldschool}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_oldschool}}<li>{{.}}</li>{{/errors.legal_oldschool}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_duel_row_class}}'>
    <label for='legal_duel' class='col-sm-4 col-form-label'>legal_duel</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_duel}}is-invalid{{/errors.legal_duel}}' id='legal_duel' name='legal_duel' placeholder='0' value='{{legal_duel}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_duel}}<li>{{.}}</li>{{/errors.legal_duel}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_commander_row_class}}'>
    <label for='legal_commander' class='col-sm-4 col-form-label'>legal_commander</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_commander}}is-invalid{{/errors.legal_commander}}' id='legal_commander' name='legal_commander' placeholder='0' value='{{legal_commander}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_commander}}<li>{{.}}</li>{{/errors.legal_commander}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_brawl_row_class}}'>
    <label for='legal_brawl' class='col-sm-4 col-form-label'>legal_brawl</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_brawl}}is-invalid{{/errors.legal_brawl}}' id='legal_brawl' name='legal_brawl' placeholder='0' value='{{legal_brawl}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_brawl}}<li>{{.}}</li>{{/errors.legal_brawl}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_penny_row_class}}'>
    <label for='legal_penny' class='col-sm-4 col-form-label'>legal_penny</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_penny}}is-invalid{{/errors.legal_penny}}' id='legal_penny' name='legal_penny' placeholder='0' value='{{legal_penny}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_penny}}<li>{{.}}</li>{{/errors.legal_penny}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_vintage_row_class}}'>
    <label for='legal_vintage' class='col-sm-4 col-form-label'>legal_vintage</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_vintage}}is-invalid{{/errors.legal_vintage}}' id='legal_vintage' name='legal_vintage' placeholder='0' value='{{legal_vintage}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_vintage}}<li>{{.}}</li>{{/errors.legal_vintage}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_pauper_row_class}}'>
    <label for='legal_pauper' class='col-sm-4 col-form-label'>legal_pauper</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_pauper}}is-invalid{{/errors.legal_pauper}}' id='legal_pauper' name='legal_pauper' placeholder='0' value='{{legal_pauper}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_pauper}}<li>{{.}}</li>{{/errors.legal_pauper}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_legacy_row_class}}'>
    <label for='legal_legacy' class='col-sm-4 col-form-label'>legal_legacy</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_legacy}}is-invalid{{/errors.legal_legacy}}' id='legal_legacy' name='legal_legacy' placeholder='0' value='{{legal_legacy}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_legacy}}<li>{{.}}</li>{{/errors.legal_legacy}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_modern_row_class}}'>
    <label for='legal_modern' class='col-sm-4 col-form-label'>legal_modern</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_modern}}is-invalid{{/errors.legal_modern}}' id='legal_modern' name='legal_modern' placeholder='0' value='{{legal_modern}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_modern}}<li>{{.}}</li>{{/errors.legal_modern}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_frontier_row_class}}'>
    <label for='legal_frontier' class='col-sm-4 col-form-label'>legal_frontier</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_frontier}}is-invalid{{/errors.legal_frontier}}' id='legal_frontier' name='legal_frontier' placeholder='0' value='{{legal_frontier}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_frontier}}<li>{{.}}</li>{{/errors.legal_frontier}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_future_row_class}}'>
    <label for='legal_future' class='col-sm-4 col-form-label'>legal_future</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_future}}is-invalid{{/errors.legal_future}}' id='legal_future' name='legal_future' placeholder='0' value='{{legal_future}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_future}}<li>{{.}}</li>{{/errors.legal_future}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_standard_row_class}}'>
    <label for='legal_standard' class='col-sm-4 col-form-label'>legal_standard</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_standard}}is-invalid{{/errors.legal_standard}}' id='legal_standard' name='legal_standard' placeholder='0' value='{{legal_standard}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_standard}}<li>{{.}}</li>{{/errors.legal_standard}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_historic_row_class}}'>
    <label for='legal_historic' class='col-sm-4 col-form-label'>legal_historic</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_historic}}is-invalid{{/errors.legal_historic}}' id='legal_historic' name='legal_historic' placeholder='' value='{{legal_historic}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_historic}}<li>{{.}}</li>{{/errors.legal_historic}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{legal_pioneer_row_class}}'>
    <label for='legal_pioneer' class='col-sm-4 col-form-label'>legal_pioneer</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.legal_pioneer}}is-invalid{{/errors.legal_pioneer}}' id='legal_pioneer' name='legal_pioneer' placeholder='' value='{{legal_pioneer}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.legal_pioneer}}<li>{{.}}</li>{{/errors.legal_pioneer}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  required>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  required>

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/card/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='card' class='do-soft-delete btn btn-outline-danger'>Hard Delete card</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many cardface ( <a href='/DURC/cardface/'>see all</a> )
{{^cardface}}
(no values)
{{/cardface}}
  </div>
<div class='card-body'>

<table id='table_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> card_id </th>
			<th> cardface_index </th>
			<th> illustration_id </th>
			<th> artist </th>
			<th> color </th>
			<th> color_identity </th>
			<th> flavor_text </th>
			<th> image_uri </th>
			<th> mana_cost </th>
			<th> cmc </th>
			<th> name </th>
			<th> oracle_text </th>
			<th> power </th>
			<th> toughness </th>
			<th> type_line </th>
			<th> border_color </th>
			<th> image_uri_art_crop </th>
			<th> image_hash_art_crop </th>
			<th> image_uri_small </th>
			<th> image_hash_small </th>
			<th> image_uri_normal </th>
			<th> image_hash_normal </th>
			<th> image_uri_large </th>
			<th> image_hash_large </th>
			<th> image_uri_png </th>
			<th> image_hash_png </th>
			<th> image_uri_border_crop </th>
			<th> image_hash_border_crop </th>
			<th> is_foil </th>
			<th> is_nonfoil </th>
			<th> is_oversized </th>
			<th> is_color_green </th>
			<th> is_color_red </th>
			<th> is_color_blue </th>
			<th> is_color_black </th>
			<th> is_color_white </th>
			<th> is_colorless </th>
			<th> color_count </th>
			<th> is_color_identity_green </th>
			<th> is_color_identity_red </th>
			<th> is_color_identity_blue </th>
			<th> is_color_identity_black </th>
			<th> is_color_identity_white </th>
			<th> color_identity_count </th>
			<th> is_snow </th>
			<th> has_phyrexian_mana </th>
			<th> for_fulltext_search </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface/{{id}}'>{{id}}</a></td>
			<td>{{card_id_DURClabel}} ({{card_id}}) </td>			<td>{{cardface_index}}</td>
			<td>{{illustration_id_DURClabel}} ({{illustration_id}}) </td>			<td>{{artist}}</td>
			<td>{{color}}</td>
			<td>{{color_identity}}</td>
			<td>{{flavor_text}}</td>
			<td>{{image_uri}}</td>
			<td>{{mana_cost}}</td>
			<td>{{cmc}}</td>
			<td>{{name}}</td>
			<td>{{oracle_text}}</td>
			<td>{{power}}</td>
			<td>{{toughness}}</td>
			<td>{{type_line}}</td>
			<td>{{border_color}}</td>
			<td>{{image_uri_art_crop}}</td>
			<td>{{image_hash_art_crop}}</td>
			<td>{{image_uri_small}}</td>
			<td>{{image_hash_small}}</td>
			<td>{{image_uri_normal}}</td>
			<td>{{image_hash_normal}}</td>
			<td>{{image_uri_large}}</td>
			<td>{{image_hash_large}}</td>
			<td>{{image_uri_png}}</td>
			<td>{{image_hash_png}}</td>
			<td>{{image_uri_border_crop}}</td>
			<td>{{image_hash_border_crop}}</td>
			<td>{{is_foil}}</td>
			<td>{{is_nonfoil}}</td>
			<td>{{is_oversized}}</td>
			<td>{{is_color_green}}</td>
			<td>{{is_color_red}}</td>
			<td>{{is_color_blue}}</td>
			<td>{{is_color_black}}</td>
			<td>{{is_color_white}}</td>
			<td>{{is_colorless}}</td>
			<td>{{color_count}}</td>
			<td>{{is_color_identity_green}}</td>
			<td>{{is_color_identity_red}}</td>
			<td>{{is_color_identity_blue}}</td>
			<td>{{is_color_identity_black}}</td>
			<td>{{is_color_identity_white}}</td>
			<td>{{color_identity_count}}</td>
			<td>{{is_snow}}</td>
			<td>{{has_phyrexian_mana}}</td>
			<td>{{for_fulltext_search}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface}}
</tbody>
</table>
</div></div> <!-- end cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many cardprice ( <a href='/DURC/cardprice/'>see all</a> )
{{^cardprice}}
(no values)
{{/cardprice}}
  </div>
<div class='card-body'>

<table id='table_cardprice' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> card_id </th>
			<th> scryfall_id </th>
			<th> pricetype_id </th>
			<th> price </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardprice}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardprice/{{id}}'>{{id}}</a></td>
			<td>{{card_id_DURClabel}} ({{card_id}}) </td>			<td>{{scryfall_id_DURClabel}} ({{scryfall_id}}) </td>			<td>{{pricetype_id_DURClabel}} ({{pricetype_id}}) </td>			<td>{{price}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardprice}}
</tbody>
</table>
</div></div> <!-- end cardprice card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    mtgset ( <a href='/DURC/mtgset/'>see all</a> )
{{^mtgset}}
(no values)
{{/mtgset}}
  </div>
<div class='card-body'>
<table id='table_mtgset' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> scryfall_id </th>
			<th> code </th>
			<th> mtgo_code </th>
			<th> arena_code </th>
			<th> tcgplayer_id </th>
			<th> name </th>
			<th> set_type </th>
			<th> released_at </th>
			<th> block_code </th>
			<th> block </th>
			<th> parent_set_code </th>
			<th> card_count </th>
			<th> is_digital </th>
			<th> is_foil_only </th>
			<th> scryfall_uri </th>
			<th> mtgset_uri </th>
			<th> icon_svg_uri </th>
			<th> search_uri </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#mtgset}}
	<tr>
		{{#.}}
			<td><a href='/DURC/mtgset/{{id}}'>{{id}}</a></td>
			<td>{{scryfall_id_DURClabel}} ({{scryfall_id}}) </td>			<td>{{code}}</td>
			<td>{{mtgo_code}}</td>
			<td>{{arena_code}}</td>
			<td>{{tcgplayer_id_DURClabel}} ({{tcgplayer_id}}) </td>			<td>{{name}}</td>
			<td>{{set_type}}</td>
			<td>{{released_at}}</td>
			<td>{{block_code}}</td>
			<td>{{block}}</td>
			<td>{{parent_set_code}}</td>
			<td>{{card_count}}</td>
			<td>{{is_digital}}</td>
			<td>{{is_foil_only}}</td>
			<td>{{scryfall_uri}}</td>
			<td>{{mtgset_uri}}</td>
			<td>{{icon_svg_uri}}</td>
			<td>{{search_uri}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/mtgset}}
</tbody>
</table>
</div></div> <!-- end mtgset card-->
</div></div> <!--end belongs to card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
