
<h1>card list </h1>
<h3> <a href='/Zermelo/DURC_card'>Zermelo card Report</a></h3>
Create <a href='/DURC/card/create/'>new card</a><br>


{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_card_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_card_previous'>
			<a href='{{first_page_url}}' aria-controls='table_card' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_card' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_card' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_card' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_card' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<table id='table_card' class='table table-bordered table-hover table-responsive table-sm'>
<thead><tr>
<th scope='col'>#</th><th scope='col'>scryfall_id</th>
<th scope='col'>lang</th>
<th scope='col'>oracle_id</th>
<th scope='col'>rulings_uri</th>
<th scope='col'>scryfall_web_uri</th>
<th scope='col'>scryfall_api_uri</th>
<th scope='col'>layout</th>
<th scope='col'>rarity</th>
<th scope='col'>released_at</th>
<th scope='col'>set_name</th>
<th scope='col'>set_type</th>
<th scope='col'>mtgset_id</th>
<th scope='col'>variation_of_scryfall_id</th>
<th scope='col'>edhrec_rank</th>
<th scope='col'>is_promo</th>
<th scope='col'>is_reserved</th>
<th scope='col'>is_story_spotlight</th>
<th scope='col'>is_reprint</th>
<th scope='col'>is_variation</th>
<th scope='col'>is_game_paper</th>
<th scope='col'>is_game_mtgo</th>
<th scope='col'>is_game_arena</th>
<th scope='col'>legal_oldschool</th>
<th scope='col'>legal_duel</th>
<th scope='col'>legal_commander</th>
<th scope='col'>legal_brawl</th>
<th scope='col'>legal_penny</th>
<th scope='col'>legal_vintage</th>
<th scope='col'>legal_pauper</th>
<th scope='col'>legal_legacy</th>
<th scope='col'>legal_modern</th>
<th scope='col'>legal_frontier</th>
<th scope='col'>legal_future</th>
<th scope='col'>legal_standard</th>
<th scope='col'>created_at</th>
<th scope='col'>updated_at</th>

</tr></thead>
<tfoot><tr>
<th scope='col'>#</th><th scope='col'>scryfall_id</th>
<th scope='col'>lang</th>
<th scope='col'>oracle_id</th>
<th scope='col'>rulings_uri</th>
<th scope='col'>scryfall_web_uri</th>
<th scope='col'>scryfall_api_uri</th>
<th scope='col'>layout</th>
<th scope='col'>rarity</th>
<th scope='col'>released_at</th>
<th scope='col'>set_name</th>
<th scope='col'>set_type</th>
<th scope='col'>mtgset_id</th>
<th scope='col'>variation_of_scryfall_id</th>
<th scope='col'>edhrec_rank</th>
<th scope='col'>is_promo</th>
<th scope='col'>is_reserved</th>
<th scope='col'>is_story_spotlight</th>
<th scope='col'>is_reprint</th>
<th scope='col'>is_variation</th>
<th scope='col'>is_game_paper</th>
<th scope='col'>is_game_mtgo</th>
<th scope='col'>is_game_arena</th>
<th scope='col'>legal_oldschool</th>
<th scope='col'>legal_duel</th>
<th scope='col'>legal_commander</th>
<th scope='col'>legal_brawl</th>
<th scope='col'>legal_penny</th>
<th scope='col'>legal_vintage</th>
<th scope='col'>legal_pauper</th>
<th scope='col'>legal_legacy</th>
<th scope='col'>legal_modern</th>
<th scope='col'>legal_frontier</th>
<th scope='col'>legal_future</th>
<th scope='col'>legal_standard</th>
<th scope='col'>created_at</th>
<th scope='col'>updated_at</th>

</tr></tfoot>
<tbody>
  {{#data}}
    <tr>
	<th scope='row'><a href='/DURC/card/{{id}}/'> {{id}} </a></th>			<td>{{lang}}</td>
			<td>{{rulings_uri}}</td>
			<td>{{scryfall_web_uri}}</td>
			<td>{{scryfall_api_uri}}</td>
			<td>{{layout}}</td>
			<td>{{rarity}}</td>
			<td>{{released_at}}</td>
			<td>{{set_name}}</td>
			<td>{{set_type}}</td>
			<td>{{mtgset_id_DURClabel}} <a href='/DURC/mtgset/{{mtgset_id}}/'> ({{mtgset_id}})</a> </td>			<td>{{edhrec_rank}}</td>
			<td>{{is_promo}}</td>
			<td>{{is_reserved}}</td>
			<td>{{is_story_spotlight}}</td>
			<td>{{is_reprint}}</td>
			<td>{{is_variation}}</td>
			<td>{{is_game_paper}}</td>
			<td>{{is_game_mtgo}}</td>
			<td>{{is_game_arena}}</td>
			<td>{{legal_oldschool}}</td>
			<td>{{legal_duel}}</td>
			<td>{{legal_commander}}</td>
			<td>{{legal_brawl}}</td>
			<td>{{legal_penny}}</td>
			<td>{{legal_vintage}}</td>
			<td>{{legal_pauper}}</td>
			<td>{{legal_legacy}}</td>
			<td>{{legal_modern}}</td>
			<td>{{legal_frontier}}</td>
			<td>{{legal_future}}</td>
			<td>{{legal_standard}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>

    </tr>
  {{/data}}

<tbody></table>



{{^is_need_paging}}
<p>
{{total}} results. All rows shown.
</p>
{{/is_need_paging}}

{{#is_need_paging}}

<div class='dataTables_paginate paging_simple_numbers' id='table_card_page'>
	<ul class='pagination'>
		<li class='paginate_button page-item previous {{first_page_class}}' 
			id='table_card_previous'>
			<a href='{{first_page_url}}' aria-controls='table_card' data-dt-idx='0' tabindex='0' class='page-link'>First</a>
		</li>
		<li class='paginate_button page-item {{prev_page_class}}'>
			<a href='{{prev_page_url}}' aria-controls='table_card' data-dt-idx='1' tabindex='0' class='page-link'>Previous</a>
		</li>
		<li class='paginate_button page-item active'>
			<a href='#' aria-controls='table_card' data-dt-idx='2' tabindex='0' class='page-link'>{{current_page}}</a>
		</li>
		<li class='paginate_button page-item {{next_page_class}} '>
			<a href='{{next_page_url}}' aria-controls='table_card' data-dt-idx='3' tabindex='0' class='page-link'>Next</a>
		</li>
		<li class='paginate_button page-item {{last_page_class}}'>
			<a href='{{last_page_url}}' aria-controls='table_card' data-dt-idx='4' tabindex='0' class='page-link'>Last</a>
		</li>
	</ul>
</div>
{{/is_need_paging}}


<script type='text/javascript'>
//we need a way to check to see if the page is loaded before we call DataTable()
//but we frequently do not have JQuery yet... it could be loaded at the bottom of the page...
//so we have a pure JS alternative to the ready() function..
var DURC_checkReadyState = setInterval(() => {
  if (document.readyState === 'complete') {
    clearInterval(DURC_checkReadyState);
    // document is ready
    $('#table_card').DataTable(
{
        'paging':   false,
        'info':     false
}
);
  }
}, 100);


</script>

