
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/atag' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/atag/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>atag</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_atag/'>Return to atag list</a> </li>
{{^is_new}}
<li> <a href='/DURC/atag/create'>Create new atag </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id}}is-invalid{{/errors.id}}' id='id' name='id' placeholder='' value='{{id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id}}<li>{{.}}</li>{{/errors.id}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{arttag_name_row_class}}'>
    <label for='arttag_name' class='col-sm-4 col-form-label'>arttag_name</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.arttag_name}}is-invalid{{/errors.arttag_name}}' id='arttag_name' name='arttag_name' placeholder='' value='{{arttag_name}}'  required>
      <div class='invalid-feedback'>
          <ul>
          {{#errors.arttag_name}}<li>{{.}}</li>{{/errors.arttag_name}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{is_directed_row_class}}'>
    <div class='col-sm-4'><label>is_directed</label></div>
    <div class='col-sm-7'>
        <div class='checkbox'>
            <input type='checkbox' id='is_directed' name='is_directed' {{is_directed}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{excludes_arttag_id_row_class}}'>
    <label for='excludes_arttag_id' class='col-sm-4 col-form-label'>excludes_arttag_id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.excludes_arttag_id}}is-invalid{{/errors.excludes_arttag_id}}' id='excludes_arttag_id' name='excludes_arttag_id' placeholder='NULL' value='{{excludes_arttag_id}}'  >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.excludes_arttag_id}}<li>{{.}}</li>{{/errors.excludes_arttag_id}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='excludes_arttag_id' name='excludes_arttag_idNull' id='excludes_arttag_idNull' value='excludes_arttag_idNull' {{excludes_arttag_id_checked}}>
                    <label class='form-check-label' for='excludes_arttag_idNull'>null</label>
                </div></div>
  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/atag/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='atag' class='do-soft-delete btn btn-outline-danger'>Hard Delete atag</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many cardface_classofc_atag ( <a href='/DURC/cardface_classofc_atag/'>see all</a> )
{{^cardface_classofc_atag}}
(no values)
{{/cardface_classofc_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_classofc_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofc_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_classofc_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_classofc_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface_classofc_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_classofc_atag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many cardface_person_atag ( <a href='/DURC/cardface_person_atag/'>see all</a> )
{{^cardface_person_atag}}
(no values)
{{/cardface_person_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_person_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> person_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_person_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_person_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface_person_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_person_atag card-->
<br>
</div></div> <!--end has many card-->
<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load
            $('.null-checkbox').each(function() {
                if ($(this).prop('checked')) {
                    let id = $(this).attr('data-elem');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
