
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/cardface' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/cardface/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>cardface</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/cardface/'>Return to cardface list</a> </li>
{{^is_new}}
<li> <a href='/DURC/cardface/create'>Create new cardface </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row {{card_id_row_class}}'>
    <label for='card_id' class='col-sm-4 col-form-label'>card_id</label>
    <div class='col-sm-8'>
	Current id value: {{card_id}} (see below for lookup value)<br>
	<select class='select2_card_id form-control' id='card_id' name='card_id' form-control'>
	<option value='{{card_id}}' selected='selected'>{{card_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_card_id').select2({
  ajax: {
    	url: '/DURC/searchjson/card/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{cardface_index_row_class}}'>
    <label for='cardface_index' class='col-sm-4 col-form-label'>cardface_index</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='cardface_index' name='cardface_index' placeholder='' value='{{cardface_index}}'>
    </div>
  </div>

  <div class='form-group row {{illustration_id_row_class}}'>
    <label for='illustration_id' class='col-sm-4 col-form-label'>illustration_id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='illustration_id' name='illustration_id' placeholder='' value='{{illustration_id}}'>
    </div>
  </div>

  <div class='form-group row {{artist_row_class}}'>
    <label for='artist' class='col-sm-4 col-form-label'>artist</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='artist' name='artist' placeholder='' value='{{artist}}'>
    </div>
  </div>

  <div class='form-group row {{color_row_class}}'>
    <label for='color' class='col-sm-4 col-form-label'>color</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='color' name='color' placeholder='' value='{{color}}'>
    </div>
  </div>

  <div class='form-group row {{color_identity_row_class}}'>
    <label for='color_identity' class='col-sm-4 col-form-label'>color_identity</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='color_identity' name='color_identity' placeholder='' value='{{color_identity}}'>
    </div>
  </div>

  <div class='form-group row {{flavor_text_row_class}}'>
    <label for='flavor_text' class='col-sm-4 col-form-label'>flavor_text</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='flavor_text' name='flavor_text' placeholder='' value='{{flavor_text}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_row_class}}'>
    <label for='image_uri' class='col-sm-4 col-form-label'>image_uri</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri' name='image_uri' placeholder='' value='{{image_uri}}'>
    </div>
  </div>

  <div class='form-group row {{mana_cost_row_class}}'>
    <label for='mana_cost' class='col-sm-4 col-form-label'>mana_cost</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='mana_cost' name='mana_cost' placeholder='' value='{{mana_cost}}'>
    </div>
  </div>

  <div class='form-group row {{name_row_class}}'>
    <label for='name' class='col-sm-4 col-form-label'>name</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='name' name='name' placeholder='' value='{{name}}'>
    </div>
  </div>

  <div class='form-group row {{oracle_text_row_class}}'>
    <label for='oracle_text' class='col-sm-4 col-form-label'>oracle_text</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='oracle_text' name='oracle_text' placeholder='' value='{{oracle_text}}'>
    </div>
  </div>

  <div class='form-group row {{power_row_class}}'>
    <label for='power' class='col-sm-4 col-form-label'>power</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='power' name='power' placeholder='' value='{{power}}'>
    </div>
  </div>

  <div class='form-group row {{toughness_row_class}}'>
    <label for='toughness' class='col-sm-4 col-form-label'>toughness</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='toughness' name='toughness' placeholder='' value='{{toughness}}'>
    </div>
  </div>

  <div class='form-group row {{type_line_row_class}}'>
    <label for='type_line' class='col-sm-4 col-form-label'>type_line</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='type_line' name='type_line' placeholder='' value='{{type_line}}'>
    </div>
  </div>

  <div class='form-group row {{border_color_row_class}}'>
    <label for='border_color' class='col-sm-4 col-form-label'>border_color</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='border_color' name='border_color' placeholder='' value='{{border_color}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_art_crop_row_class}}'>
    <label for='image_uri_art_crop' class='col-sm-4 col-form-label'>image_uri_art_crop</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_art_crop' name='image_uri_art_crop' placeholder='' value='{{image_uri_art_crop}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_art_crop_row_class}}'>
    <label for='image_hash_art_crop' class='col-sm-4 col-form-label'>image_hash_art_crop</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_art_crop' name='image_hash_art_crop' placeholder='' value='{{image_hash_art_crop}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_small_row_class}}'>
    <label for='image_uri_small' class='col-sm-4 col-form-label'>image_uri_small</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_small' name='image_uri_small' placeholder='' value='{{image_uri_small}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_small_row_class}}'>
    <label for='image_hash_small' class='col-sm-4 col-form-label'>image_hash_small</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_small' name='image_hash_small' placeholder='' value='{{image_hash_small}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_normal_row_class}}'>
    <label for='image_uri_normal' class='col-sm-4 col-form-label'>image_uri_normal</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_normal' name='image_uri_normal' placeholder='' value='{{image_uri_normal}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_normal_row_class}}'>
    <label for='image_hash_normal' class='col-sm-4 col-form-label'>image_hash_normal</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_normal' name='image_hash_normal' placeholder='' value='{{image_hash_normal}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_large_row_class}}'>
    <label for='image_uri_large' class='col-sm-4 col-form-label'>image_uri_large</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_large' name='image_uri_large' placeholder='' value='{{image_uri_large}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_large_row_class}}'>
    <label for='image_hash_large' class='col-sm-4 col-form-label'>image_hash_large</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_large' name='image_hash_large' placeholder='' value='{{image_hash_large}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_png_row_class}}'>
    <label for='image_uri_png' class='col-sm-4 col-form-label'>image_uri_png</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_png' name='image_uri_png' placeholder='' value='{{image_uri_png}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_png_row_class}}'>
    <label for='image_hash_png' class='col-sm-4 col-form-label'>image_hash_png</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_png' name='image_hash_png' placeholder='' value='{{image_hash_png}}'>
    </div>
  </div>

  <div class='form-group row {{image_uri_border_crop_row_class}}'>
    <label for='image_uri_border_crop' class='col-sm-4 col-form-label'>image_uri_border_crop</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_uri_border_crop' name='image_uri_border_crop' placeholder='' value='{{image_uri_border_crop}}'>
    </div>
  </div>

  <div class='form-group row {{image_hash_border_crop_row_class}}'>
    <label for='image_hash_border_crop' class='col-sm-4 col-form-label'>image_hash_border_crop</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='image_hash_border_crop' name='image_hash_border_crop' placeholder='' value='{{image_hash_border_crop}}'>
    </div>
  </div>

  <div class='form-group row {{is_foil_row_class}}'>
    <div class='col-sm-4'><label>is_foil</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_foil' name='is_foil' {{is_foil}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_nonfoil_row_class}}'>
    <div class='col-sm-4'><label>is_nonfoil</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_nonfoil' name='is_nonfoil' {{is_nonfoil}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_oversized_row_class}}'>
    <div class='col-sm-4'><label>is_oversized</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_oversized' name='is_oversized' {{is_oversized}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_color_green_row_class}}'>
    <div class='col-sm-4'><label>is_color_green</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_color_green' name='is_color_green' {{is_color_green}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_color_red_row_class}}'>
    <div class='col-sm-4'><label>is_color_red</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_color_red' name='is_color_red' {{is_color_red}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_color_blue_row_class}}'>
    <div class='col-sm-4'><label>is_color_blue</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_color_blue' name='is_color_blue' {{is_color_blue}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_color_black_row_class}}'>
    <div class='col-sm-4'><label>is_color_black</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_color_black' name='is_color_black' {{is_color_black}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_color_white_row_class}}'>
    <div class='col-sm-4'><label>is_color_white</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_color_white' name='is_color_white' {{is_color_white}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{is_colorless_row_class}}'>
    <div class='col-sm-4'><label>is_colorless</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_colorless' name='is_colorless' {{is_colorless}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{color_count_row_class}}'>
    <label for='color_count' class='col-sm-4 col-form-label'>color_count</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='color_count' name='color_count' placeholder='' value='{{color_count}}'>
    </div>
  </div>

  <div class='form-group row {{is_snow_row_class}}'>
    <div class='col-sm-4'><label>is_snow</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_snow' name='is_snow' {{is_snow}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{has_phyrexian_mana_row_class}}'>
    <div class='col-sm-4'><label>has_phyrexian_mana</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='has_phyrexian_mana' name='has_phyrexian_mana' {{has_phyrexian_mana}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{for_fulltext_search_row_class}}'>
    <label for='for_fulltext_search' class='col-sm-4 col-form-label'>for_fulltext_search</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='for_fulltext_search' name='for_fulltext_search' placeholder='' value='{{for_fulltext_search}}'>
    </div>
  </div>

  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'>

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/cardface/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='cardface' class='do-soft-delete btn btn-outline-danger'>Hard Delete cardface</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many cardface_classofc_atag ( <a href='/DURC/cardface_classofc_atag/'>see all</a> )
{{^cardface_classofc_atag}}
(no values)
{{/cardface_classofc_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_classofc_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofc_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_classofc_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_classofc_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface_classofc_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_classofc_atag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many cardface_person_atag ( <a href='/DURC/cardface_person_atag/'>see all</a> )
{{^cardface_person_atag}}
(no values)
{{/cardface_person_atag}}
  </div>
<div class='card-body'>

<table id='table_cardface_person_atag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> person_id </th>
			<th> atag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_person_atag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_person_atag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{atag_id_DURClabel}} ({{atag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface_person_atag}}
</tbody>
</table>
</div></div> <!-- end cardface_person_atag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many classofc_cardface ( <a href='/DURC/classofc_cardface/'>see all</a> )
{{^classofc_cardface}}
(no values)
{{/classofc_cardface}}
  </div>
<div class='card-body'>

<table id='table_classofc_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofc_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#classofc_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/classofc_cardface/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/classofc_cardface}}
</tbody>
</table>
</div></div> <!-- end classofc_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many creature_cardface ( <a href='/DURC/creature_cardface/'>see all</a> )
{{^creature_cardface}}
(no values)
{{/creature_cardface}}
  </div>
<div class='card-body'>

<table id='table_creature_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> creature_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#creature_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/creature_cardface/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{creature_id_DURClabel}} ({{creature_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/creature_cardface}}
</tbody>
</table>
</div></div> <!-- end creature_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_cardface ( <a href='/DURC/person_classofc_cardface/'>see all</a> )
{{^person_classofc_cardface}}
(no values)
{{/person_classofc_cardface}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_cardface' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> cardface_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_cardface}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_cardface/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_classofc_cardface}}
</tbody>
</table>
</div></div> <!-- end person_classofc_cardface card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many wincon_strategy ( <a href='/DURC/strategy/'>see all</a> )
{{^wincon_strategy}}
(no values)
{{/wincon_strategy}}
  </div>
<div class='card-body'>

<table id='table_wincon_strategy' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> strategy_name </th>
			<th> strategy_description </th>
			<th> strategy_url </th>
			<th> wincon_cardface_id </th>
			<th> WOTC_rule_reference </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#wincon_strategy}}
	<tr>
		{{#.}}
			<td><a href='/DURC/strategy/{{id}}'>{{id}}</a></td>
			<td>{{strategy_name}}</td>
			<td>{{strategy_description}}</td>
			<td>{{strategy_url}}</td>
			<td>{{wincon_cardface_id_DURClabel}} ({{wincon_cardface_id}}) </td>			<td>{{WOTC_rule_reference}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/wincon_strategy}}
</tbody>
</table>
</div></div> <!-- end wincon_strategy card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    card ( <a href='/DURC/card/'>see all</a> )
{{^card}}
(no values)
{{/card}}
  </div>
<div class='card-body'>
<table id='table_card' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> scryfall_id </th>
			<th> lang </th>
			<th> oracle_id </th>
			<th> rulings_uri </th>
			<th> scryfall_web_uri </th>
			<th> scryfall_api_uri </th>
			<th> layout </th>
			<th> rarity </th>
			<th> released_at </th>
			<th> set_name </th>
			<th> set_type </th>
			<th> mtgset_id </th>
			<th> variation_of_scryfall_id </th>
			<th> edhrec_rank </th>
			<th> is_promo </th>
			<th> is_reserved </th>
			<th> is_story_spotlight </th>
			<th> is_reprint </th>
			<th> is_variation </th>
			<th> is_game_paper </th>
			<th> is_game_mtgo </th>
			<th> is_game_arena </th>
			<th> legal_oldschool </th>
			<th> legal_duel </th>
			<th> legal_commander </th>
			<th> legal_brawl </th>
			<th> legal_penny </th>
			<th> legal_vintage </th>
			<th> legal_pauper </th>
			<th> legal_legacy </th>
			<th> legal_modern </th>
			<th> legal_frontier </th>
			<th> legal_future </th>
			<th> legal_standard </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#card}}
	<tr>
		{{#.}}
			<td><a href='/DURC/card/{{id}}'>{{id}}</a></td>
			<td>{{scryfall_id_DURClabel}} ({{scryfall_id}}) </td>			<td>{{lang}}</td>
			<td>{{oracle_id_DURClabel}} ({{oracle_id}}) </td>			<td>{{rulings_uri}}</td>
			<td>{{scryfall_web_uri}}</td>
			<td>{{scryfall_api_uri}}</td>
			<td>{{layout}}</td>
			<td>{{rarity}}</td>
			<td>{{released_at}}</td>
			<td>{{set_name}}</td>
			<td>{{set_type}}</td>
			<td>{{mtgset_id_DURClabel}} ({{mtgset_id}}) </td>			<td>{{variation_of_scryfall_id_DURClabel}} ({{variation_of_scryfall_id}}) </td>			<td>{{edhrec_rank}}</td>
			<td>{{is_promo}}</td>
			<td>{{is_reserved}}</td>
			<td>{{is_story_spotlight}}</td>
			<td>{{is_reprint}}</td>
			<td>{{is_variation}}</td>
			<td>{{is_game_paper}}</td>
			<td>{{is_game_mtgo}}</td>
			<td>{{is_game_arena}}</td>
			<td>{{legal_oldschool}}</td>
			<td>{{legal_duel}}</td>
			<td>{{legal_commander}}</td>
			<td>{{legal_brawl}}</td>
			<td>{{legal_penny}}</td>
			<td>{{legal_vintage}}</td>
			<td>{{legal_pauper}}</td>
			<td>{{legal_legacy}}</td>
			<td>{{legal_modern}}</td>
			<td>{{legal_frontier}}</td>
			<td>{{legal_future}}</td>
			<td>{{legal_standard}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/card}}
</tbody>
</table>
</div></div> <!-- end card card-->
</div></div> <!--end belongs to card-->
<br>
