
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. <a href='/DURC/foreignkeytestthingy/restore/{{id}}' data-id='{{id}}' data-controller='foreignkeytestthingy' class='do-recover btn btn-secondary'>Undo</a>
            </div>

{{#is_new}}
<form action='/DURC/foreignkeytestthingy' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/foreignkeytestthingy/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>foreignkeytestthingy</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_foreignkeytestthingy/'>Return to foreignkeytestthingy list</a> </li>
{{^is_new}}
<li> <a href='/DURC/foreignkeytestthingy/create'>Create new foreignkeytestthingy </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{thingyname_row_class}}'>
    <label for='thingyname' class='col-sm-4 col-form-label'>thingyname</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.thingyname.has_errors}}is-invalid{{/errors.thingyname.has_errors}}' id='thingyname' name='thingyname' placeholder='' value='{{thingyname}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.thingyname.messages}}<li>{{.}}</li>{{/errors.thingyname.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{gizmopickupaskey_row_class}}'>
    <label for='gizmopickupaskey' class='col-sm-4 col-form-label'>gizmopickupaskey</label>
    <div class='col-sm-7'>
	Current id value: {{gizmopickupaskey}} (see below for lookup value)<br>
	<select class='select2_gizmopickupaskey form-control' id='gizmopickupaskey' name='gizmopickupaskey'  >
	<option value='{{gizmopickupaskey}}' selected='selected'><!-- Replaced Dynamically with Text from related model --></option>
	</select>
    </div>
  </div>

<script type='text/javascript'>
$(document).ready(function () {
    // Show the loader/spinner
    $('#loader').modal();
    
    // Get the option element that is currently selected and it's foreign ID
    const element = $('#foreignkeytestgizmo_id option:selected');
    const foreignkeytestgizmoId = element.val();
    
    // Use the json API to get the text of the selected element. 
    // We do this dynamically so we don't have to figure out in the controller
    // what elements are select2 elements, and populate from related models
    $.ajax({
        type: 'GET',
        url: '/DURC/json/foreignkeytestgizmo/' + foreignkeytestgizmoId,
    }).then(function (data) {

        // data.text has the same text string (formed from concatinating search fields) as
        // the elements in the select list
        element.html(data.text);
    
        $('.select2_gizmopickupaskey').select2({
          width: '100%',   
          ajax: {
            url: '/DURC/searchjson/foreignkeytestgizmo',
            dataType: 'json',
            data: function (params) {
                  var query = {
                      q: params.term,
                      page: params.page || 1
                  }
        
                  // Query parameters will be ?search=[term]&page=[page]
                  return query;
              }
          }
        });
        
        // Hide the loader/spinner after the select2 has been built
        $('#loader').modal('hide');
    });
});

</script>


  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.created_at.has_errors}}is-invalid{{/errors.created_at.has_errors}}' id='created_at' name='created_at' placeholder='' value='{{created_at}}' >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.created_at.messages}}<li>{{.}}</li>{{/errors.created_at.messages}}
  </ul>
</div><script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.updated_at.has_errors}}is-invalid{{/errors.updated_at.has_errors}}' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}' >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.updated_at.messages}}<li>{{.}}</li>{{/errors.updated_at.messages}}
  </ul>
</div><script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row {{deleted_at_row_class}}'>
    <label for='deleted_at' class='col-sm-4 col-form-label'>deleted_at</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control {{#errors.deleted_at.has_errors}}is-invalid{{/errors.deleted_at.has_errors}}' id='deleted_at' name='deleted_at' placeholder='' value='{{deleted_at}}' >

<button type='button' class='btn btn-primary' id='deleted_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='deleted_at_TodayNow'> Today and Now</button>
<div class='invalid-feedback'>
  <ul>
  {{#errors.deleted_at.messages}}<li>{{.}}</li>{{/errors.deleted_at.messages}}
  </ul>
</div><script>
	var deleted_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#deleted_at_TodayNow').click( function(e) {
      		$('#deleted_at').val(deleted_atConv.format(new Date())).change(); } );

    	$('#deleted_at_FontPicker').click(
      		function(e) {
        		$('#deleted_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  
{{#is_new}}
<form action='/DURC/foreignkeytestthingy' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/foreignkeytestthingy/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

<div class='form-group row'>
              <div class='col-sm-12 text-right'>
              <button type='button' data-id='{{id}}' data-controller='foreignkeytestthingy' class='do-soft-delete btn btn-outline-danger'>Delete</button>
              </div>
            </div>
</form>



<br>
    
    <script type='text/javascript'>
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    last_null_values[id]= $('#'+id).val();
                    $('#'+id).val(null);
                    $('#'+id).attr('readonly', true);
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
