
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/arttag' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/arttag/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>arttag</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/DURC/arttag/'>Return to arttag list</a> </li>
{{^is_new}}
<li> <a href='/DURC/arttag/create'>Create new arttag </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-2 col-form-label'>id</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}'>
    </div>
  </div>

  <div class='form-group row {{arttag_name_row_class}}'>
    <label for='arttag_name' class='col-sm-2 col-form-label'>arttag_name</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='arttag_name' name='arttag_name' placeholder='' value='{{arttag_name}}'>
    </div>
  </div>

  <div class='form-group row {{is_directed_row_class}}'>
    <div class='col-sm-2'><label>is_directed</label></div>
    <div class='col-sm-10'>
        <div class='checkbox'>
            <input type='checkbox' id='is_directed' name='is_directed' {{is_directed}} >
       </div> 
    </div>
  </div>

  <div class='form-group row {{excludes_arttag_id_row_class}}'>
    <label for='excludes_arttag_id' class='col-sm-2 col-form-label'>excludes_arttag_id</label>
    <div class='col-sm-10'>
	Current id value: {{excludes_arttag_id}} (see below for lookup value)<br>
	<select class='select2_excludes_arttag_id form-control' id='excludes_arttag_id' name='excludes_arttag_id' form-control'>
	<option value='{{excludes_arttag_id}}' selected='selected'>{{excludes_arttag_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_excludes_arttag_id').select2({
  ajax: {
    	url: '/DURC/searchjson/arttag/',
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-2 col-form-label'>created_at</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'>

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-2 col-form-label'>updated_at</label>
    <div class='col-sm-10'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'>

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-10'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/arttag/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='arttag' class='do-soft-delete btn btn-outline-danger'>Hard Delete arttag</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many excludes_arttag ( <a href='/DURC/arttag/'>see all</a> )
{{^excludes_arttag}}
(no values)
{{/excludes_arttag}}
  </div>
<div class='card-body'>

<table id='table_excludes_arttag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> arttag_name </th>
			<th> is_directed </th>
			<th> excludes_arttag_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#excludes_arttag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/arttag/{{id}}'>{{id}}</a></td>
			<td>{{arttag_name}}</td>
			<td>{{is_directed}}</td>
			<td>{{excludes_arttag_id_DURClabel}} ({{excludes_arttag_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/excludes_arttag}}
</tbody>
</table>
</div></div> <!-- end excludes_arttag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many cardface_classofcreature_arttag ( <a href='/DURC/cardface_classofcreature_arttag/'>see all</a> )
{{^cardface_classofcreature_arttag}}
(no values)
{{/cardface_classofcreature_arttag}}
  </div>
<div class='card-body'>

<table id='table_cardface_classofcreature_arttag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> cardface_id </th>
			<th> classofcreature_id </th>
			<th> arttag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#cardface_classofcreature_arttag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/cardface_classofcreature_arttag/{{id}}'>{{id}}</a></td>
			<td>{{cardface_id_DURClabel}} ({{cardface_id}}) </td>			<td>{{classofcreature_id_DURClabel}} ({{classofcreature_id}}) </td>			<td>{{arttag_id_DURClabel}} ({{arttag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/cardface_classofcreature_arttag}}
</tbody>
</table>
</div></div> <!-- end cardface_classofcreature_arttag card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    excludes_arttag ( <a href='/DURC/arttag/'>see all</a> )
{{^excludes_arttag}}
(no values)
{{/excludes_arttag}}
  </div>
<div class='card-body'>
<table id='table_excludes_arttag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> arttag_name </th>
			<th> is_directed </th>
			<th> excludes_arttag_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#excludes_arttag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/arttag/{{id}}'>{{id}}</a></td>
			<td>{{arttag_name}}</td>
			<td>{{is_directed}}</td>
			<td>{{excludes_arttag_id_DURClabel}} ({{excludes_arttag_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/excludes_arttag}}
</tbody>
</table>
</div></div> <!-- end excludes_arttag card-->
</div></div> <!--end belongs to card-->
<br>
