
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/employee' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/employee/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>employee</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_employee/'>Return to employee list</a> </li>
{{^is_new}}
<li> <a href='/DURC/employee/create'>Create new employee </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control  {{#errors.id.has_errors}}is-invalid{{/errors.id.has_errors}}' id='id' name='id' placeholder='' value='{{id}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.id.messages}}<li>{{.}}</li>{{/errors.id.messages}}
          </ul>
       </div>
    </div></div>
  <div class='form-group row {{company_row_class}}'>
    <label for='company' class='col-sm-4 col-form-label'>company</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.company.has_errors}}is-invalid{{/errors.company.has_errors}}' id='company' name='company' placeholder='NULL' value='{{company}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.company.messages}}<li>{{.}}</li>{{/errors.company.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='company' name='companyNull' id='companyNull' value='companyNull' {{company_checked}}>
                    <label class='form-check-label' for='companyNull'>null</label>
                </div></div>
  <div class='form-group row {{lastName_row_class}}'>
    <label for='lastName' class='col-sm-4 col-form-label'>lastName</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.lastName.has_errors}}is-invalid{{/errors.lastName.has_errors}}' id='lastName' name='lastName' placeholder='NULL' value='{{lastName}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.lastName.messages}}<li>{{.}}</li>{{/errors.lastName.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='lastName' name='lastNameNull' id='lastNameNull' value='lastNameNull' {{lastName_checked}}>
                    <label class='form-check-label' for='lastNameNull'>null</label>
                </div></div>
  <div class='form-group row {{firstName_row_class}}'>
    <label for='firstName' class='col-sm-4 col-form-label'>firstName</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.firstName.has_errors}}is-invalid{{/errors.firstName.has_errors}}' id='firstName' name='firstName' placeholder='NULL' value='{{firstName}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.firstName.messages}}<li>{{.}}</li>{{/errors.firstName.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='firstName' name='firstNameNull' id='firstNameNull' value='firstNameNull' {{firstName_checked}}>
                    <label class='form-check-label' for='firstNameNull'>null</label>
                </div></div>
  <div class='form-group row {{emailAddress_row_class}}'>
    <label for='emailAddress' class='col-sm-4 col-form-label'>emailAddress</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.emailAddress.has_errors}}is-invalid{{/errors.emailAddress.has_errors}}' id='emailAddress' name='emailAddress' placeholder='NULL' value='{{emailAddress}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.emailAddress.messages}}<li>{{.}}</li>{{/errors.emailAddress.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='emailAddress' name='emailAddressNull' id='emailAddressNull' value='emailAddressNull' {{emailAddress_checked}}>
                    <label class='form-check-label' for='emailAddressNull'>null</label>
                </div></div>
  <div class='form-group row {{jobTitle_row_class}}'>
    <label for='jobTitle' class='col-sm-4 col-form-label'>jobTitle</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.jobTitle.has_errors}}is-invalid{{/errors.jobTitle.has_errors}}' id='jobTitle' name='jobTitle' placeholder='NULL' value='{{jobTitle}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.jobTitle.messages}}<li>{{.}}</li>{{/errors.jobTitle.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='jobTitle' name='jobTitleNull' id='jobTitleNull' value='jobTitleNull' {{jobTitle_checked}}>
                    <label class='form-check-label' for='jobTitleNull'>null</label>
                </div></div>
  <div class='form-group row {{businessPhone_row_class}}'>
    <label for='businessPhone' class='col-sm-4 col-form-label'>businessPhone</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.businessPhone.has_errors}}is-invalid{{/errors.businessPhone.has_errors}}' id='businessPhone' name='businessPhone' placeholder='NULL' value='{{businessPhone}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.businessPhone.messages}}<li>{{.}}</li>{{/errors.businessPhone.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='businessPhone' name='businessPhoneNull' id='businessPhoneNull' value='businessPhoneNull' {{businessPhone_checked}}>
                    <label class='form-check-label' for='businessPhoneNull'>null</label>
                </div></div>
  <div class='form-group row {{homePhone_row_class}}'>
    <label for='homePhone' class='col-sm-4 col-form-label'>homePhone</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.homePhone.has_errors}}is-invalid{{/errors.homePhone.has_errors}}' id='homePhone' name='homePhone' placeholder='NULL' value='{{homePhone}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.homePhone.messages}}<li>{{.}}</li>{{/errors.homePhone.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='homePhone' name='homePhoneNull' id='homePhoneNull' value='homePhoneNull' {{homePhone_checked}}>
                    <label class='form-check-label' for='homePhoneNull'>null</label>
                </div></div>
  <div class='form-group row {{mobilePhone_row_class}}'>
    <label for='mobilePhone' class='col-sm-4 col-form-label'>mobilePhone</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.mobilePhone.has_errors}}is-invalid{{/errors.mobilePhone.has_errors}}' id='mobilePhone' name='mobilePhone' placeholder='NULL' value='{{mobilePhone}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.mobilePhone.messages}}<li>{{.}}</li>{{/errors.mobilePhone.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='mobilePhone' name='mobilePhoneNull' id='mobilePhoneNull' value='mobilePhoneNull' {{mobilePhone_checked}}>
                    <label class='form-check-label' for='mobilePhoneNull'>null</label>
                </div></div>
  <div class='form-group row {{faxNumber_row_class}}'>
    <label for='faxNumber' class='col-sm-4 col-form-label'>faxNumber</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.faxNumber.has_errors}}is-invalid{{/errors.faxNumber.has_errors}}' id='faxNumber' name='faxNumber' placeholder='NULL' value='{{faxNumber}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.faxNumber.messages}}<li>{{.}}</li>{{/errors.faxNumber.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='faxNumber' name='faxNumberNull' id='faxNumberNull' value='faxNumberNull' {{faxNumber_checked}}>
                    <label class='form-check-label' for='faxNumberNull'>null</label>
                </div></div>
  <div class='form-group row {{address_row_class}}'>
    <label for='address' class='col-sm-4 col-form-label'>address</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.address.has_errors}}is-invalid{{/errors.address.has_errors}}' id='address' name='address' placeholder='NULL' value='{{address}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.address.messages}}<li>{{.}}</li>{{/errors.address.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='address' name='addressNull' id='addressNull' value='addressNull' {{address_checked}}>
                    <label class='form-check-label' for='addressNull'>null</label>
                </div></div>
  <div class='form-group row {{city_row_class}}'>
    <label for='city' class='col-sm-4 col-form-label'>city</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.city.has_errors}}is-invalid{{/errors.city.has_errors}}' id='city' name='city' placeholder='NULL' value='{{city}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.city.messages}}<li>{{.}}</li>{{/errors.city.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='city' name='cityNull' id='cityNull' value='cityNull' {{city_checked}}>
                    <label class='form-check-label' for='cityNull'>null</label>
                </div></div>
  <div class='form-group row {{stateProvince_row_class}}'>
    <label for='stateProvince' class='col-sm-4 col-form-label'>stateProvince</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.stateProvince.has_errors}}is-invalid{{/errors.stateProvince.has_errors}}' id='stateProvince' name='stateProvince' placeholder='NULL' value='{{stateProvince}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.stateProvince.messages}}<li>{{.}}</li>{{/errors.stateProvince.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='stateProvince' name='stateProvinceNull' id='stateProvinceNull' value='stateProvinceNull' {{stateProvince_checked}}>
                    <label class='form-check-label' for='stateProvinceNull'>null</label>
                </div></div>
  <div class='form-group row {{zipPostalCode_row_class}}'>
    <label for='zipPostalCode' class='col-sm-4 col-form-label'>zipPostalCode</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.zipPostalCode.has_errors}}is-invalid{{/errors.zipPostalCode.has_errors}}' id='zipPostalCode' name='zipPostalCode' placeholder='NULL' value='{{zipPostalCode}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.zipPostalCode.messages}}<li>{{.}}</li>{{/errors.zipPostalCode.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='zipPostalCode' name='zipPostalCodeNull' id='zipPostalCodeNull' value='zipPostalCodeNull' {{zipPostalCode_checked}}>
                    <label class='form-check-label' for='zipPostalCodeNull'>null</label>
                </div></div>
  <div class='form-group row {{countryRegion_row_class}}'>
    <label for='countryRegion' class='col-sm-4 col-form-label'>countryRegion</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.countryRegion.has_errors}}is-invalid{{/errors.countryRegion.has_errors}}' id='countryRegion' name='countryRegion' placeholder='NULL' value='{{countryRegion}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.countryRegion.messages}}<li>{{.}}</li>{{/errors.countryRegion.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='countryRegion' name='countryRegionNull' id='countryRegionNull' value='countryRegionNull' {{countryRegion_checked}}>
                    <label class='form-check-label' for='countryRegionNull'>null</label>
                </div></div>
  <div class='form-group row {{webPage_row_class}}'>
    <label for='webPage' class='col-sm-4 col-form-label'>webPage</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.webPage.has_errors}}is-invalid{{/errors.webPage.has_errors}}' id='webPage' name='webPage' placeholder='NULL' value='{{webPage}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.webPage.messages}}<li>{{.}}</li>{{/errors.webPage.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='webPage' name='webPageNull' id='webPageNull' value='webPageNull' {{webPage_checked}}>
                    <label class='form-check-label' for='webPageNull'>null</label>
                </div></div>
  <div class='form-group row {{notes_row_class}}'>
    <label for='notes' class='col-sm-4 col-form-label'>notes</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.notes.has_errors}}is-invalid{{/errors.notes.has_errors}}' id='notes' name='notes' placeholder='NULL' value='{{notes}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.notes.messages}}<li>{{.}}</li>{{/errors.notes.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='notes' name='notesNull' id='notesNull' value='notesNull' {{notes_checked}}>
                    <label class='form-check-label' for='notesNull'>null</label>
                </div></div>
  <div class='form-group row {{attachments_row_class}}'>
    <label for='attachments' class='col-sm-4 col-form-label'>attachments</label>
    <div class='col-sm-7'>
      <input type='text' class='form-control nullable {{#errors.attachments.has_errors}}is-invalid{{/errors.attachments.has_errors}}' id='attachments' name='attachments' placeholder='NULL' value='{{attachments}}' >
      <div class='invalid-feedback'>
          <ul>
          {{#errors.attachments.messages}}<li>{{.}}</li>{{/errors.attachments.messages}}
          </ul>
       </div>
    </div><div class='col-sm-1'>
                    <input class='form-check-input null-checkbox' type='checkbox' data-elem='attachments' name='attachmentsNull' id='attachmentsNull' value='attachmentsNull' {{attachments_checked}}>
                    <label class='form-check-label' for='attachmentsNull'>null</label>
                </div></div>
  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/employee/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='employee' class='do-soft-delete btn btn-outline-danger'>Hard Delete employee</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many order ( <a href='/DURC/order/'>see all</a> )
{{^order}}
(no values)
{{/order}}
  </div>
<div class='card-body'>

<table id='table_order' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> employee_id </th>
			<th> customer_id </th>
			<th> orderDate </th>
			<th> shippedDate </th>
			<th> shipper_id </th>
			<th> shipName </th>
			<th> shipAddress </th>
			<th> shipCity </th>
			<th> shipStateProvince </th>
			<th> shipZipPostalCode </th>
			<th> shipCountryRegion </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentType </th>
			<th> paidDate </th>
			<th> notes </th>
			<th> taxRate </th>
			<th> taxStatus_id </th>
			<th> status_id </th>

</tr>
</thead>
<tbody>
{{#order}}
	<tr>
		{{#.}}
			<td><a href='/DURC/order/{{id}}'>{{id}}</a></td>
			<td>{{employee_id_DURClabel}} ({{employee_id}}) </td>			<td>{{customer_id_DURClabel}} ({{customer_id}}) </td>			<td>{{orderDate}}</td>
			<td>{{shippedDate}}</td>
			<td>{{shipper_id_DURClabel}} ({{shipper_id}}) </td>			<td>{{shipName}}</td>
			<td>{{shipAddress}}</td>
			<td>{{shipCity}}</td>
			<td>{{shipStateProvince}}</td>
			<td>{{shipZipPostalCode}}</td>
			<td>{{shipCountryRegion}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentType}}</td>
			<td>{{paidDate}}</td>
			<td>{{notes}}</td>
			<td>{{taxRate}}</td>
			<td>{{taxStatus_id_DURClabel}} ({{taxStatus_id}}) </td>			<td>{{status_id_DURClabel}} ({{status_id}}) </td>		
		{{/.}}
	</tr>
{{/order}}
</tbody>
</table>
</div></div> <!-- end order card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many order_2017 ( <a href='/DURC/order_2017/'>see all</a> )
{{^order_2017}}
(no values)
{{/order_2017}}
  </div>
<div class='card-body'>

<table id='table_order_2017' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> employee_id </th>
			<th> customer_id </th>
			<th> orderDate </th>
			<th> shippedDate </th>
			<th> shipper_id </th>
			<th> shipName </th>
			<th> shipAddress </th>
			<th> shipCity </th>
			<th> shipStateProvince </th>
			<th> shipZipPostalCode </th>
			<th> shipCountryRegion </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentType </th>
			<th> paidDate </th>
			<th> notes </th>
			<th> taxRate </th>
			<th> taxStatus_id </th>
			<th> status_id </th>

</tr>
</thead>
<tbody>
{{#order_2017}}
	<tr>
		{{#.}}
			<td><a href='/DURC/order_2017/{{id}}'>{{id}}</a></td>
			<td>{{employee_id_DURClabel}} ({{employee_id}}) </td>			<td>{{customer_id_DURClabel}} ({{customer_id}}) </td>			<td>{{orderDate}}</td>
			<td>{{shippedDate}}</td>
			<td>{{shipper_id_DURClabel}} ({{shipper_id}}) </td>			<td>{{shipName}}</td>
			<td>{{shipAddress}}</td>
			<td>{{shipCity}}</td>
			<td>{{shipStateProvince}}</td>
			<td>{{shipZipPostalCode}}</td>
			<td>{{shipCountryRegion}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentType}}</td>
			<td>{{paidDate}}</td>
			<td>{{notes}}</td>
			<td>{{taxRate}}</td>
			<td>{{taxStatus_id_DURClabel}} ({{taxStatus_id}}) </td>			<td>{{status_id_DURClabel}} ({{status_id}}) </td>		
		{{/.}}
	</tr>
{{/order_2017}}
</tbody>
</table>
</div></div> <!-- end order_2017 card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many order_2018 ( <a href='/DURC/order_2018/'>see all</a> )
{{^order_2018}}
(no values)
{{/order_2018}}
  </div>
<div class='card-body'>

<table id='table_order_2018' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> employee_id </th>
			<th> customer_id </th>
			<th> orderDate </th>
			<th> shippedDate </th>
			<th> shipper_id </th>
			<th> shipName </th>
			<th> shipAddress </th>
			<th> shipCity </th>
			<th> shipStateProvince </th>
			<th> shipZipPostalCode </th>
			<th> shipCountryRegion </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentType </th>
			<th> paidDate </th>
			<th> notes </th>
			<th> taxRate </th>
			<th> taxStatus_id </th>
			<th> status_id </th>

</tr>
</thead>
<tbody>
{{#order_2018}}
	<tr>
		{{#.}}
			<td><a href='/DURC/order_2018/{{id}}'>{{id}}</a></td>
			<td>{{employee_id_DURClabel}} ({{employee_id}}) </td>			<td>{{customer_id_DURClabel}} ({{customer_id}}) </td>			<td>{{orderDate}}</td>
			<td>{{shippedDate}}</td>
			<td>{{shipper_id_DURClabel}} ({{shipper_id}}) </td>			<td>{{shipName}}</td>
			<td>{{shipAddress}}</td>
			<td>{{shipCity}}</td>
			<td>{{shipStateProvince}}</td>
			<td>{{shipZipPostalCode}}</td>
			<td>{{shipCountryRegion}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentType}}</td>
			<td>{{paidDate}}</td>
			<td>{{notes}}</td>
			<td>{{taxRate}}</td>
			<td>{{taxStatus_id_DURClabel}} ({{taxStatus_id}}) </td>			<td>{{status_id_DURClabel}} ({{status_id}}) </td>		
		{{/.}}
	</tr>
{{/order_2018}}
</tbody>
</table>
</div></div> <!-- end order_2018 card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many order_2019 ( <a href='/DURC/order_2019/'>see all</a> )
{{^order_2019}}
(no values)
{{/order_2019}}
  </div>
<div class='card-body'>

<table id='table_order_2019' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> employee_id </th>
			<th> customer_id </th>
			<th> orderDate </th>
			<th> shippedDate </th>
			<th> shipper_id </th>
			<th> shipName </th>
			<th> shipAddress </th>
			<th> shipCity </th>
			<th> shipStateProvince </th>
			<th> shipZipPostalCode </th>
			<th> shipCountryRegion </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentType </th>
			<th> paidDate </th>
			<th> notes </th>
			<th> taxRate </th>
			<th> taxStatus_id </th>
			<th> status_id </th>

</tr>
</thead>
<tbody>
{{#order_2019}}
	<tr>
		{{#.}}
			<td><a href='/DURC/order_2019/{{id}}'>{{id}}</a></td>
			<td>{{employee_id_DURClabel}} ({{employee_id}}) </td>			<td>{{customer_id_DURClabel}} ({{customer_id}}) </td>			<td>{{orderDate}}</td>
			<td>{{shippedDate}}</td>
			<td>{{shipper_id_DURClabel}} ({{shipper_id}}) </td>			<td>{{shipName}}</td>
			<td>{{shipAddress}}</td>
			<td>{{shipCity}}</td>
			<td>{{shipStateProvince}}</td>
			<td>{{shipZipPostalCode}}</td>
			<td>{{shipCountryRegion}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentType}}</td>
			<td>{{paidDate}}</td>
			<td>{{notes}}</td>
			<td>{{taxRate}}</td>
			<td>{{taxStatus_id_DURClabel}} ({{taxStatus_id}}) </td>			<td>{{status_id_DURClabel}} ({{status_id}}) </td>		
		{{/.}}
	</tr>
{{/order_2019}}
</tbody>
</table>
</div></div> <!-- end order_2019 card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many created_by_purchaseorder ( <a href='/DURC/purchaseorder/'>see all</a> )
{{^created_by_purchaseorder}}
(no values)
{{/created_by_purchaseorder}}
  </div>
<div class='card-body'>

<table id='table_created_by_purchaseorder' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> supplier_id </th>
			<th> createdBy_employee_id </th>
			<th> submittedDate </th>
			<th> creationDate </th>
			<th> status_id </th>
			<th> expectedDate </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentDate </th>
			<th> paymentAmount </th>
			<th> paymentMethod </th>
			<th> notes </th>
			<th> approvedBy_employee_id </th>
			<th> approvedDate </th>
			<th> submittedBy_employee_id </th>

</tr>
</thead>
<tbody>
{{#created_by_purchaseorder}}
	<tr>
		{{#.}}
			<td><a href='/DURC/purchaseorder/{{id}}'>{{id}}</a></td>
			<td>{{supplier_id_DURClabel}} ({{supplier_id}}) </td>			<td>{{createdBy_employee_id_DURClabel}} ({{createdBy_employee_id}}) </td>			<td>{{submittedDate}}</td>
			<td>{{creationDate}}</td>
			<td>{{status_id_DURClabel}} ({{status_id}}) </td>			<td>{{expectedDate}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentDate}}</td>
			<td>{{paymentAmount}}</td>
			<td>{{paymentMethod}}</td>
			<td>{{notes}}</td>
			<td>{{approvedBy_employee_id_DURClabel}} ({{approvedBy_employee_id}}) </td>			<td>{{approvedDate}}</td>
			<td>{{submittedBy_employee_id_DURClabel}} ({{submittedBy_employee_id}}) </td>		
		{{/.}}
	</tr>
{{/created_by_purchaseorder}}
</tbody>
</table>
</div></div> <!-- end created_by_purchaseorder card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many approved_by_purchaseorder ( <a href='/DURC/purchaseorder/'>see all</a> )
{{^approved_by_purchaseorder}}
(no values)
{{/approved_by_purchaseorder}}
  </div>
<div class='card-body'>

<table id='table_approved_by_purchaseorder' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> supplier_id </th>
			<th> createdBy_employee_id </th>
			<th> submittedDate </th>
			<th> creationDate </th>
			<th> status_id </th>
			<th> expectedDate </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentDate </th>
			<th> paymentAmount </th>
			<th> paymentMethod </th>
			<th> notes </th>
			<th> approvedBy_employee_id </th>
			<th> approvedDate </th>
			<th> submittedBy_employee_id </th>

</tr>
</thead>
<tbody>
{{#approved_by_purchaseorder}}
	<tr>
		{{#.}}
			<td><a href='/DURC/purchaseorder/{{id}}'>{{id}}</a></td>
			<td>{{supplier_id_DURClabel}} ({{supplier_id}}) </td>			<td>{{createdBy_employee_id_DURClabel}} ({{createdBy_employee_id}}) </td>			<td>{{submittedDate}}</td>
			<td>{{creationDate}}</td>
			<td>{{status_id_DURClabel}} ({{status_id}}) </td>			<td>{{expectedDate}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentDate}}</td>
			<td>{{paymentAmount}}</td>
			<td>{{paymentMethod}}</td>
			<td>{{notes}}</td>
			<td>{{approvedBy_employee_id_DURClabel}} ({{approvedBy_employee_id}}) </td>			<td>{{approvedDate}}</td>
			<td>{{submittedBy_employee_id_DURClabel}} ({{submittedBy_employee_id}}) </td>		
		{{/.}}
	</tr>
{{/approved_by_purchaseorder}}
</tbody>
</table>
</div></div> <!-- end approved_by_purchaseorder card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many submitted_by_purchaseorder ( <a href='/DURC/purchaseorder/'>see all</a> )
{{^submitted_by_purchaseorder}}
(no values)
{{/submitted_by_purchaseorder}}
  </div>
<div class='card-body'>

<table id='table_submitted_by_purchaseorder' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> supplier_id </th>
			<th> createdBy_employee_id </th>
			<th> submittedDate </th>
			<th> creationDate </th>
			<th> status_id </th>
			<th> expectedDate </th>
			<th> shippingFee </th>
			<th> taxes </th>
			<th> paymentDate </th>
			<th> paymentAmount </th>
			<th> paymentMethod </th>
			<th> notes </th>
			<th> approvedBy_employee_id </th>
			<th> approvedDate </th>
			<th> submittedBy_employee_id </th>

</tr>
</thead>
<tbody>
{{#submitted_by_purchaseorder}}
	<tr>
		{{#.}}
			<td><a href='/DURC/purchaseorder/{{id}}'>{{id}}</a></td>
			<td>{{supplier_id_DURClabel}} ({{supplier_id}}) </td>			<td>{{createdBy_employee_id_DURClabel}} ({{createdBy_employee_id}}) </td>			<td>{{submittedDate}}</td>
			<td>{{creationDate}}</td>
			<td>{{status_id_DURClabel}} ({{status_id}}) </td>			<td>{{expectedDate}}</td>
			<td>{{shippingFee}}</td>
			<td>{{taxes}}</td>
			<td>{{paymentDate}}</td>
			<td>{{paymentAmount}}</td>
			<td>{{paymentMethod}}</td>
			<td>{{notes}}</td>
			<td>{{approvedBy_employee_id_DURClabel}} ({{approvedBy_employee_id}}) </td>			<td>{{approvedDate}}</td>
			<td>{{submittedBy_employee_id_DURClabel}} ({{submittedBy_employee_id}}) </td>		
		{{/.}}
	</tr>
{{/submitted_by_purchaseorder}}
</tbody>
</table>
</div></div> <!-- end submitted_by_purchaseorder card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has one employeeprivilege ( <a href='/DURC/employeeprivilege/'>see all</a> )
{{^employeeprivilege}}
(no values)
{{/employeeprivilege}}
  </div>
<div class='card-body'>

<table id='table_employeeprivilege' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> employee_id </th>
			<th> privilege_id </th>

</tr>
</thead>
<tbody>
{{#employeeprivilege}}
	<tr>
		{{#.}}
			<td><a href='/DURC/employeeprivilege/{{employee_id}}'>{{employee_id}}</a></td>
			<td><a href='/DURC/employeeprivilege/{{privilege_id}}'>{{privilege_id}}</a></td>
		
		{{/.}}
	</tr>
{{/employeeprivilege}}
</tbody>
</table>
</div></div> <!-- end employeeprivilege card-->
<br>
</div></div> <!--end has many card-->
<br>
    
    <script type='text/javascript'>
    
        // These function control the spinner display when loading many remote entities
        let loading_queue = [];
        function add_to_loading_queue(element) {
            if (loading_queue.length == 0) {
                $('#loader').modal();
            }
            loading_queue.push(element);
        }

        function remove_from_loading_queue(element) {
            const index = loading_queue.indexOf(element);
            if (index >= 0) {
              loading_queue.splice(index, 1);
            }
            if (loading_queue.length == 0) {
                $('#loader').modal('hide');
            }
        }
        
    // This javascript controls the null checkboxes
        $(document).ready(function() {
            
            // keep an assoc array of the last entered values
            let last_null_values = {};
            
            $('.null-checkbox').change(function(e) {

                // get the id of the element we're next to
                let id = $(this).attr('data-elem');

                // store current value, and set to null
                if ($(this).prop('checked')) {
                    let c = confirm("Are you sure you want to overwrite this value with NULL?");
                    if (c === true) {
                        last_null_values[id]= $('#'+id).val();
                        $('#'+id).val(null);
                        $('#'+id).attr('readonly', true);
                    }
                } else {
                    $('#'+id).val(last_null_values[id]);
                    $('#'+id).attr('readonly', false);
                }
            });
            
            // If a field with a nulllable class is clicked, unset the null checkbox and unlock field
            $('.nullable').click(function(e) {
                let checkboxId = '#' + $(this).attr('id') + 'Null';
                if ($(checkboxId).prop('checked')) {
                    // Uncheck the null box and clear read-only by triggering change
                    $(checkboxId).prop('checked', '');
                    $(checkboxId).change();
                }               
            });
            
            // Trigger change on page load. If the null box is checked, mark field readonly
            // If the null checkbox isn't checked, but the value is empty string, check null 
            // checkbox and also mark readonly
            $('.null-checkbox').each(function() {
                let id = $(this).attr('data-elem');
                if ($(this).prop('checked')) {
                    // The null box is checked
                    $('#'+id).attr('readonly', true);
                } else if (!$(this).prop('checked') &&
                    $('#'+id).val() == '') {
                    // The null box is not checked, but the value is empty
                    // Check the null box
                    $(this).prop('checked', 'checked');
                    $('#'+id).attr('readonly', true);
                }
            });
        });
    </script>
