
{{#has_session_status}}
<div class='alert alert-info' role='alert'>
  {{session_status}}
</div>
{{/has_session_status}}

<div id='delete-success-alert' class='alert alert-success' role='alert' style='display: none;'>
                You have successfully deleted this record. This was a hard delete, no going back. But you can save again if you want.. 
            </div>

{{#is_new}}
<form action='/DURC/tag' method='POST'>
{{/is_new}}

{{^is_new}}
<form action='/DURC/tag/{{id}}' method='POST'>
    <input type='hidden' name='_method' value='PUT'>
{{/is_new}}

	<h1>tag</h1>
<div class='card'>
  <div class='card-header'>
<h4> {{durc_instance_name}}</h4>
<ul>
<li> <a href='/Zermelo/DURC_tag/'>Return to tag list</a> </li>
{{^is_new}}
<li> <a href='/DURC/tag/create'>Create new tag </a> </li>
{{/is_new}}
</ul>
  </div>
<div class='card-body'>

  <fieldset>
    <legend>Edit {{durc_instance_name}}  </legend>
	<input type='hidden' name='_token' value='{{csrf_token}}'>
	
  <div class='form-group row {{id_row_class}}'>
    <label for='id' class='col-sm-4 col-form-label'>id</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='id' name='id' placeholder='' value='{{id}}' >
    </div>
  </div>

  <div class='form-group row {{tag_name_row_class}}'>
    <label for='tag_name' class='col-sm-4 col-form-label'>tag_name</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='tag_name' name='tag_name' placeholder='' value='{{tag_name}}' >
    </div>
  </div>

  <div class='form-group row {{is_directed_row_class}}'>
    <div class='col-sm-4'><label>is_directed</label></div>
    <div class='col-sm-8'>
        <div class='checkbox'>
            <input type='checkbox' id='is_directed' name='is_directed' {{is_directed}}  >
       </div> 
    </div>
  </div>

  <div class='form-group row {{excludes_tag_id_row_class}}'>
    <label for='excludes_tag_id' class='col-sm-4 col-form-label'>excludes_tag_id</label>
    <div class='col-sm-8'>
	Current id value: {{excludes_tag_id}} (see below for lookup value)<br>
	<select class='select2_excludes_tag_id form-control' id='excludes_tag_id' name='excludes_tag_id'  >
	<option value='{{excludes_tag_id}}' selected='selected'>{{excludes_tag_id}}</option>
	</select>
    </div>
  </div>

<script type='text/javascript'>

$('.select2_excludes_tag_id').select2({
  ajax: {
    	url: '/DURC/searchjson/tag',
	delay: 1000,
    	dataType: 'json'
  }
});


</script>


  <div class='form-group row {{created_at_row_class}}'>
    <label for='created_at' class='col-sm-4 col-form-label'>created_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='created_at' name='created_at' placeholder='' value='{{created_at}}'  >

<button type='button' class='btn btn-primary' id='created_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='created_at_TodayNow'> Today and Now</button>

<script>
	var created_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#created_at_TodayNow').click( function(e) {
      		$('#created_at').val(created_atConv.format(new Date())).change(); } );

    	$('#created_at_FontPicker').click(
      		function(e) {
        		$('#created_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row {{updated_at_row_class}}'>
    <label for='updated_at' class='col-sm-4 col-form-label'>updated_at</label>
    <div class='col-sm-8'>
      <input type='text' class='form-control' id='updated_at' name='updated_at' placeholder='' value='{{updated_at}}'  >

<button type='button' class='btn btn-primary' id='updated_at_FontPicker'>
<img src='/css/ic_today_black_24dp_1x.png'> 
</button>
<button type='button' class='btn btn-primary' id='updated_at_TodayNow'> Today and Now</button>

<script>
	var updated_atConv = new AnyTime.Converter({format: '%Y-%m-%d %T'});
  	$('#updated_at_TodayNow').click( function(e) {
      		$('#updated_at').val(updated_atConv.format(new Date())).change(); } );

    	$('#updated_at_FontPicker').click(
      		function(e) {
        		$('#updated_at').AnyTime_noPicker().AnyTime_picker(
				{
    					format: '%Y-%m-%d %T',
    					formatUtcOffset: '%: (%@)'
				} 
			).focus();
        	e.preventDefault();
        	} );
</script>

    </div>
  </div>

  <div class='form-group row'>
    <div class='col-sm-8'>
      <button type='submit' class='btn btn-primary'>Save Data</button>
    </div>
  </div>
  
</fieldset>
</div></div>
</form>
<br>
  <div class='form-group row'>
              <div class='col-sm-12 text-right'>

<form action='/DURC/tag/{{id}}' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
	<input type='hidden' name='_token' value='{{csrf_token}}'>

              <button type='button' data-id='{{id}}' data-controller='tag' class='do-soft-delete btn btn-outline-danger'>Hard Delete tag</button>
</form>
              </div>
            </div>


<br>
<div class='card'>
  <div class='card-header'>
    Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    Has many person_classofc_tag ( <a href='/DURC/person_classofc_tag/'>see all</a> )
{{^person_classofc_tag}}
(no values)
{{/person_classofc_tag}}
  </div>
<div class='card-body'>

<table id='table_person_classofc_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> classofc_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_classofc_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_classofc_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{classofc_id_DURClabel}} ({{classofc_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_classofc_tag}}
</tbody>
</table>
</div></div> <!-- end person_classofc_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_creature_tag ( <a href='/DURC/person_creature_tag/'>see all</a> )
{{^person_creature_tag}}
(no values)
{{/person_creature_tag}}
  </div>
<div class='card-body'>

<table id='table_person_creature_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> creature_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_creature_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_creature_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{creature_id_DURClabel}} ({{creature_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_creature_tag}}
</tbody>
</table>
</div></div> <!-- end person_creature_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many person_strategy_tag ( <a href='/DURC/person_strategy_tag/'>see all</a> )
{{^person_strategy_tag}}
(no values)
{{/person_strategy_tag}}
  </div>
<div class='card-body'>

<table id='table_person_strategy_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> person_id </th>
			<th> strategy_id </th>
			<th> tag_id </th>
			<th> is_bulk_linker </th>
			<th> link_note </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#person_strategy_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/person_strategy_tag/{{id}}'>{{id}}</a></td>
			<td>{{person_id_DURClabel}} ({{person_id}}) </td>			<td>{{strategy_id_DURClabel}} ({{strategy_id}}) </td>			<td>{{tag_id_DURClabel}} ({{tag_id}}) </td>			<td>{{is_bulk_linker}}</td>
			<td>{{link_note}}</td>
			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/person_strategy_tag}}
</tbody>
</table>
</div></div> <!-- end person_strategy_tag card-->
<br>

<div class='card'>
  <div class='card-header'>
    Has many excludes_tag ( <a href='/DURC/tag/'>see all</a> )
{{^excludes_tag}}
(no values)
{{/excludes_tag}}
  </div>
<div class='card-body'>

<table id='table_excludes_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> tag_name </th>
			<th> is_directed </th>
			<th> excludes_tag_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#excludes_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/tag/{{id}}'>{{id}}</a></td>
			<td>{{tag_name}}</td>
			<td>{{is_directed}}</td>
			<td>{{excludes_tag_id_DURClabel}} ({{excludes_tag_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/excludes_tag}}
</tbody>
</table>
</div></div> <!-- end excludes_tag card-->
<br>
</div></div> <!--end has many card-->
<br>
<div class='card'>
  <div class='card-header'>
    Belongs To Relationships
  </div>
<div class='card-body'>

<div class='card'>
  <div class='card-header'>
    excludes_tag ( <a href='/DURC/tag/'>see all</a> )
{{^excludes_tag}}
(no values)
{{/excludes_tag}}
  </div>
<div class='card-body'>
<table id='table_excludes_tag' class='table table-bordered table-hover table-responsive table-sm'>
<thead>
<tr>
			<th> id </th>
			<th> tag_name </th>
			<th> is_directed </th>
			<th> excludes_tag_id </th>
			<th> created_at </th>
			<th> updated_at </th>

</tr>
</thead>
<tbody>
{{#excludes_tag}}
	<tr>
		{{#.}}
			<td><a href='/DURC/tag/{{id}}'>{{id}}</a></td>
			<td>{{tag_name}}</td>
			<td>{{is_directed}}</td>
			<td>{{excludes_tag_id_DURClabel}} ({{excludes_tag_id}}) </td>			<td>{{created_at}}</td>
			<td>{{updated_at}}</td>
		
		{{/.}}
	</tr>
{{/excludes_tag}}
</tbody>
</table>
</div></div> <!-- end excludes_tag card-->
</div></div> <!--end belongs to card-->
<br>
